﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="IFrame.ascx.cs" Inherits="MedTouch.Base.layouts.modules.Base.IFrame" %>
<!--============================================= MedTouch.Base: Common: iFrame =============================================--> 
<iframe runat="server" id="portalFrame" frameborder="0" />
<!--============================================= /MedTouch.Base: Common: iFrame =============================================--> 
