<!--==================== Module: FAQ: FAQ Categories =============================-->
<div class="module-faq-categories callout">
	
    <div class="reg-callout">
        
            <h4><span>View by Category</span></h4>
        
        <ul>
		<li><a href="/faqs/">All</a></li><li><a class="aspNetDisabled">Test Category 1</a></li>
	</ul>
    </div>

</div>
<!--==================== /Module: FAQ: FAQ Categories =============================-->
