<cfset CM=CreateObject("component", "com.Communication").init()>
<cfset qString=CGI.QUERY_STRING>
<cfset idx = Find("&", qString)>
<cfif idx GT 1>
  <cfset IDlist=MID(qString, 1, idx - 1)><!--- either a list of listIDs or a sign-up form ID --->
  <cfset ID=MID(qString, idx + 1, LEN(qString) - idx)>
  <cfset decryptedID=CM.simpleDecrypt(URLDecode(ID))>
  <cfif IsNumeric(decryptedID)>  
    <cflocation url="../action.cfm?md=communication&task=optIn&elidlist=#IDlist#&ID=#ID#"><!--- #ID# is encrypted emailID--->
  <cfelseif Find("@",URLDecode(ID)) GT 0 AND IsNumeric(IDlist)><!--- redirec to a sign-up form with pre-populated email address --->
    <cflocation url="../index.cfm?md=communication&tmp=signup&sfmid=#IDlist#&e=#ID#">
  </cfif>
  <p>Invalid link.</p>
<cfelse>
  <p>Sorry, a server problem occured.</p>
</cfif>