<table width="40%" border="0" cellspacing="0" cellpadding="0">
  <tr>
	<td height="20" align="left" valign="middle"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacerGry.gif" width="100%" height="1" /></td>
  </tr>
  <tr>
	<td><b>Octavius vocificat suis. Utilitas umbraculi onubium santet matrimonii, etiam Medusa plane fortiter deciperet syrtes.</b></td>
  </tr>
  <tr>
	<td height="20" align="left" valign="middle"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacerGry.gif" width="100%" height="1" /></td>
  </tr>
</table>
