<span class="wysiwyg-dotted-under-ttl">August</span>
<table width="100%" border="0" cellpadding="5" cellspacing="1" bgcolor="#999999">
  <tr>
    <td width="14%" class="wysiwyg-reversed-bold">Sunday</td>
    <td width="14%" class="wysiwyg-reversed-bold">Monday</td>
    <td width="14%" class="wysiwyg-reversed-bold">Tuesday</td>
    <td width="14%" class="wysiwyg-reversed-bold">Wednesday</td>
    <td width="14%" class="wysiwyg-reversed-bold">Thursday</td>
    <td width="15%" class="wysiwyg-reversed-bold">Friday</td>
    <td width="15%" class="wysiwyg-reversed-bold">Saturday</td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><br />
      <br />
      <br />
      <br /></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>1<br />
    </b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>2</b></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>3</b><br />
      <br />
      <br />    </td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>4</b><br />
        <br />
        <a href="#">Sample Event </a></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>5</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>6</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>7</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>8</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>9</b></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>10</b><br />
      <br />
      <br />    </td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>11</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>12</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>13</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>14</b><br />
        <br />
        <a href="#">Sample Event </a></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>15</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>16</b></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>17</b><br />
      <br />
      <br />
      <br />    </td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>18</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>19</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>20</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>21</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>22</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>23</b></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>24</b><br />
      <br />
      <br />
<br /></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>25</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>26</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>27</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>28</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>29</b></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>30</b></td>
  </tr>
  <tr>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01"><b>31</b><br />
      <br />
      <br />
<br /></td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
    <td align="left" valign="top" bgcolor="#FFFFFF" class="accent01">&nbsp;</td>
  </tr>
</table>