<table width="265" border="0" align="right" cellpadding="0" cellspacing="0" bordercolor="#6E8EAA">
<tr>
  <td width="15" align="center" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="15" height="1" /></td>
  <td width="250" height="250" align="center" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="1" bgcolor="#6E8EAA">
    <tr>
      <td bgcolor="#FFFFFF"><img src="/jsapis/tinymce3/extension/templates/images/picturePlaceHolder.jpg" width="250" height="250" /></td>
    </tr>
  </table></td>
</tr>
<tr>
  <td width="15" align="center" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="15" height="1" /></td>
  <td bgcolor="#6e8eaa">
    <table width="100%" border="0" cellspacing="0" cellpadding="12">
      <tr>
        <td align="left" valign="top"><span class="wysiwyg-pht-caption-box">Caption text goes here. And here. And here. And here. And here. And here.</span></td>
      </tr>
  </table></td>
</tr>
<tr>
  <td height="15" align="center" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="1" height="15" /></td>
  <td height="15" align="center" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="1" height="15" /></td>
</tr>
</table>
<p>
Caesar iocari matrimonii. Adlaudabilis concubine conubium santet cathedras, iam parsimonia chirographi miscere syrtes, et bellus zothecas adquireret umbraculi. Fragilis chirographi corrumperet ossifragi.<</p>
<p>
Optimus quinquennalis zothecas circumgrediet matrimonii, quod quadrupei vix verecunde vocificat parsimonia concubine. Apparatus bellis miscere fiducias, quamquam pretosius catelli agnascor saburre, semper quadrupei corrumperet cathedras.
Medusa amputat quinquennalis saburre, quamquam perspicax rures adquireret ossifragi, iam lascivius rures plane fortiter miscere apparatus bellis, et Octavius deciperet incredibiliter pretosius catelli. Plane saetosus agricolae praemuniet Pompeii, quamquam adfabilis matrimonii satis lucide agnascor pessimus perspicax concubine. Aquae Sulis amputat parsimonia oratori, iam rures infeliciter agnascor optimus quinquennalis quadrupei, quod Octavius vix divinus conubium santet Medusa. Oratori insectat perspicax saburre.
</p>
<p>
Octavius vocificat suis. Utilitas umbraculi conubium santet matrimonii, etiam Medusa plane fortiter deciperet syrtes, ut oratori incredibiliter verecunde miscere verecundus agricolae. Suis spinosus iocari rures. Bellus matrimonii verecunde circumgrediet zothecas, etiam Augustus adquireret rures.
</p>
<p>
Quinquennalis syrtes praemuniet gulosus concubine, quod Medusa miscere perspicax oratori, semper matrimonii deciperet Caesar, ut pessimus adlaudabilis quadrupei plane celeriter agnascor oratori, semper bellus quadrupei miscere adlaudabilis zothecas, utcunque apparatus bellis optimus lucide deciperet Augustus.
</p>