<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10" align="left" valign="middle"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacerGry.gif" width="100%" height="1" /></td>
  </tr>
  <tr>
    <td><b class="accent02">RELATED INFO </b></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="middle"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacerGry.gif" width="100%" height="1" /></td>
  </tr>
</table>
<ul>
<li><a href="#"><i>Oratori infeliciter circumgrediet utilitas apparatus bellis</i></a></li>
<li><a href="#"><i>Quamquam umbraculi miscere pessimus saetosus catelli</i></a></li>
<li><a href="#"><i>Oratori infeliciter circumgrediet utilitas apparatus bellis</i></a></li>
<li><a href="#"><i>Quamquam umbraculi miscere pessimus saetosus catelli</i></a></li>
</ul>



