<table width="70%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10" align="left" valign="middle"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacerGry.gif" width="100%" height="1" /></td>
  </tr>
  <tr>
    <td><b>SAMPLE TEXT</b></td>
  </tr>
  <tr>
    <td height="10" align="left" valign="middle"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacerGry.gif" width="100%" height="1" /></td>
  </tr>
</table>

<br />
<table width="90%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="130" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/phtPlaceholderSm.jpg" width="100" height="100" border="1" /></td>
    <td align="left" valign="top">
      <b>Vocificat Pompeii, iam apparatus bellis fermentet fragilis agricolae</b><br />
      Quamquam saetosus apparatus bellis corrumperet matrimonii. Augustus frugaliter senesceret fiducias. Lascivius agricolae celeriter insectat concubine.
      Gulosus matrimonii senesceret perspicax agricolae.
      Medusa amputat catelli. Utilitas quadrupei agnascor tremulus umbraculi, quod syrtes imputat adfabilis cathedras. Catelli lucide fermentet umbraculi. Plane gulosus syrtes aegre celeriter conubium santet...</td>
  </tr>
  <tr>
    <td height="20" colspan="2"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="1" height="20" /></td>
    </tr>
  <tr>
    <td width="130" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/phtPlaceholderSm.jpg" width="100" height="100" border="1" /></td>
    <td align="left" valign="top">
      <b>Vocificat Pompeii, iam apparatus bellis fermentet fragilis agricolae</b><br />
      Quamquam saetosus apparatus bellis corrumperet matrimonii. Augustus frugaliter senesceret fiducias. Lascivius agricolae celeriter insectat concubine.
      Gulosus matrimonii senesceret perspicax agricolae.
      Medusa amputat catelli. Utilitas quadrupei agnascor tremulus umbraculi, quod syrtes imputat adfabilis cathedras. Catelli lucide fermentet umbraculi. Plane gulosus syrtes aegre celeriter conubium santet...</td>
  </tr>
  <tr>
    <td height="20" colspan="2"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="1" height="20" /></td>
  </tr>
  <tr>
    <td width="130" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/phtPlaceholderSm.jpg" width="100" height="100" border="1" /></td>
    <td align="left" valign="top">
      <b>Vocificat Pompeii, iam apparatus bellis fermentet fragilis agricolae</b><br />
      Quamquam saetosus apparatus bellis corrumperet matrimonii. Augustus frugaliter senesceret fiducias. Lascivius agricolae celeriter insectat concubine.
      Gulosus matrimonii senesceret perspicax agricolae.
      Medusa amputat catelli. Utilitas quadrupei agnascor tremulus umbraculi, quod syrtes imputat adfabilis cathedras. Catelli lucide fermentet umbraculi. Plane gulosus syrtes aegre celeriter conubium santet...</td>
  </tr>
</table>