﻿<table width="100%" border="0" cellspacing="1" cellpadding="0" bgcolor="#bec8c7">
  <tr bgcolor="#ffffff">
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="15" height="15"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="15" /></td>
        <td>&nbsp;</td>
        <td width="15" height="15"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="15" /></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="126" align="left" valign="top"><img src="/emailtemplates/images/phtPlaceholderThumb.jpg" width="124" height="125" style="border:1px solid #bec8c7;" /></td>
              <td width="15" align="left" valign="top"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="1" /></td>
              <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px;"><div><a href="http://www.womans.org" style="font-size:22px; color:#ec008c; line-height:110%; text-decoration:none;">Hot Topic A</a></div>
                <span style="color:#333132; line-height:145%;">Caesar iocari matrimonii. Adlaudabilis concubine conubium santet cathedras, iam parsimonia chirographi miscere syrtes, et bellus zothecas adquireret umbraculi. Fragilis chirographi corrumperet ossifragi. Optimus quinquennalis zothecas circumgrediet matrimonii.</span></td>
            </tr>
          </table></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td><img src="/emailtemplates/images/imgTopBoxDivider.gif" width="430" height="27" /></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="15" height="15"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="15" /></td>
        <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="126" align="left" valign="top"><img src="/emailtemplates/images/phtPlaceholderThumb.jpg" width="124" height="125" style="border:1px solid #bec8c7;" /></td>
              <td width="15" align="left" valign="top"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="1" /></td>
              <td align="left" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px;"><div><a href="http://www.womans.org" style="font-size:22px; color:#ec008c; line-height:110%; text-decoration:none;">Hot Topic A</a></div>
                <span style="color:#333132; line-height:145%;">Caesar iocari matrimonii. Adlaudabilis concubine conubium santet cathedras, iam parsimonia chirographi miscere syrtes, et bellus zothecas adquireret umbraculi. Fragilis chirographi corrumperet ossifragi. Optimus quinquennalis zothecas circumgrediet matrimonii.</span></td>
            </tr>
          </table></td>
        <td width="15" height="15"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="15" /></td>
      </tr>
      <tr>
        <td height="15"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="15" /></td>
        <td>&nbsp;</td>
        <td height="15"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="15" /></td>
      </tr>
    </table></td>
  </tr>
</table>
<br /><br />