﻿<table width="180" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="15" height="18" align="left" valign="top" bgcolor="#e0e5e4"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="1" /></td>
    <td height="18" align="left" valign="middle" bgcolor="#e0e5e4" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#56716d; text-transform:uppercase; line-height:105%;">Patient Testimonial</td>
    <td width="9"><img src="/emailtemplates/images/imgTitleBarEndCap.gif" width="9" height="18" /></td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; color:#7d8483; font-size:13px; font-style:italic; line-height:130%;">&#8220; Et Octavius deciperet incredibiliter pretosius catelli. Plane saetosus agricolae praemuniet Pompeii, quamquam adfabilis matrimonii satis lucide agnascor pessimus. &#8221;<br />
      <span style="color:#ec008c; font-size:10px;">- Becky, <i>Baton Rouge</i></span></td>
  </tr>
</table>
<br /><br />
