﻿<table width="180" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="15" height="18" align="left" valign="top" bgcolor="#e0e5e4"><img src="/emailtemplates/images/imgSpacer.gif" width="15" height="1" /></td>
    <td height="18" align="left" valign="middle" bgcolor="#e0e5e4" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#56716d; text-transform:uppercase; line-height:105%;">WOMAN'S NEWS</td>
    <td width="9"><img src="/emailtemplates/images/imgTitleBarEndCap.gif" width="9" height="18" /></td>
  </tr>
</table>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="14" align="left" valign="top"><img src="/emailtemplates/images/imgBulletArrow.gif" width="14" height="10" /></td>
    <td><a href="http://www.womans.org" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#ec008c; font-weight:bold; line-height:110%; text-decoration:none;">Caesar iocari matrimonii. Adlaudabilis concubine conubium santet cathedras, iam parsimonia chirographi miscere syrtes &raquo;</a></td>
  </tr>
  <tr>
    <td height="13" align="left" valign="top"><img src="/emailtemplates/images/imgSpacer.gif" width="1" height="13" /></td>
    <td height="13" align="left" valign="top"><img src="/emailtemplates/images/imgSpacer.gif" width="1" height="13" /></td>
  </tr>
  <tr>
    <td align="left" valign="top"><img src="/emailtemplates/images/imgBulletArrow.gif" width="14" height="10" /></td>
    <td><a href="http://www.womans.org" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#ec008c; font-weight:bold; line-height:110%; text-decoration:none;">Et bellus zothecas adquireret umbraculi. Fragilis chirographi &raquo;</a></td>
  </tr>
  <tr>
    <td height="13" align="left" valign="top"><img src="/emailtemplates/images/imgSpacer.gif" width="1" height="13" /></td>
    <td height="13" align="left" valign="top"><img src="/emailtemplates/images/imgSpacer.gif" width="1" height="13" /></td>
  </tr>
  <tr>
    <td align="left" valign="top"><img src="/emailtemplates/images/imgBulletArrow.gif" width="14" height="10" /></td>
    <td><a href="http://www.womans.org" style="font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#ec008c; font-weight:bold; line-height:110%; text-decoration:none;">Optimus quinquennalis zothecas circumgrediet matrimonii. Plane fortiter miscere apparatus bellis &raquo;</a></td>
  </tr>
</table>
<br /><br />