<div class="wysiwyg-nested-nav">
  <ul>
    <li><a href="/">Nested Nav Item A</a></li>
    <li><a href="/">Nested Nav Item B</a></li>
    <li><a href="/">Nested Nav Item C</a></li>
    <li><a href="/">Nested Nav Item D</a></li>
    <li><a href="/">Nested Nav Item E</a></li>
  </ul>
</div>