<!--SAMPLE CONTENT STARTS HERE-->
<center>
<div class="wysiwyg-pht-center">
  <img src="/jsapis/tinymce3/extension/templates/images/picturePlaceHolder.jpg" width="398" height="238" class="phtStroke" />
  <div class="wysiwyg-PhtCaptionBox">Caption goes here. And here. And here, here and here.</div>
</div>

<div class="wysiwyg-dotted-divider"></div>

<div class="wysiwyg-pht-center">
  <img src="/jsapis/tinymce3/extension/templates/images/picturePlaceHolder.jpg" width="398" height="238" class="phtStroke" />
  <div class="wysiwyg-PhtCaptionBox">Caption goes here. And here. And here, here and here.</div>
</div>

<div class="wysiwyg-dotted-divider"></div>

<div class="wysiwyg-pht-center">
<img src="/jsapis/tinymce3/extension/templates/images/picturePlaceHolder.jpg" width="398" height="238" class="phtStroke" />
<div class="phtCaptionBox">Caption goes here. And here. And here, here and here.</div>
</div>

<div class="wysiwyg-dotted-divider"></div>
</center>