  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left" valign="top"><span class="accent01"><b>Bob Smith </b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
      <td width="20" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td align="left" valign="top"><span class="accent01"><b>Sue Johnson</b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
      <td width="20" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td align="left" valign="top"><span class="accent01"><b>Jane Doe</b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
      </tr>
    <tr>
      <td height="30" colspan="5" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="1" height="30" /></td>
      </tr>
    <tr>
      <td align="left" valign="top"><span class="accent01"><b>Bob Smith </b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
      <td align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td align="left" valign="top"><span class="accent01"><b>Sue Johnson</b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
      <td align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td align="left" valign="top"><span class="accent01"><b>Jane Doe</b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
    </tr>
    <tr>
      <td height="30" colspan="5" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="1" height="30" /></td>
    </tr>
    <tr>
      <td align="left" valign="top"><span class="accent01"><b>Bob Smith </b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
      <td align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td align="left" valign="top"><span class="accent01"><b>Sue Johnson</b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
      <td align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td align="left" valign="top"><span class="accent01"><b>Jane Doe</b></span><br />
          <i>Title</i><br />
          <b>Phone: </b>225.123.4567<br />
          <b>Fax: </b>225.123.4568 </td>
    </tr>
    <tr>
      <td height="30" colspan="5" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="1" height="30" /></td>
    </tr>
    <tr>
      <td width="33%" align="left" valign="top"><span class="accent01"><b>Bob Smith </b></span><br />
        <i>Title</i><br />
        <b>Phone: </b>225.123.4567<br />
        <b>Fax: </b>225.123.4568 </td>
      <td width="20" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td width="34%" align="left" valign="top"><span class="accent01"><b>Sue Johnson</b></span><br />
<i>Title</i><br />
        <b>Phone: </b>225.123.4567<br />
        <b>Fax: </b>225.123.4568 </td>
      <td width="20" align="left" valign="top"><img src="/jsapis/tinymce3/extension/templates/images/imgSpacer.gif" width="20" height="1" /></td>
      <td width="33%" align="left" valign="top"><span class="accent01"><b>Jane Doe</b></span><br />
<i>Title</i><br />
        <b>Phone: </b>225.123.4567<br />
        <b>Fax: </b>225.123.4568 </td>
    </tr>
  </table>