<style>

footer .scfSingleLineTextLabel
{
    display:none !important;
}

footer  .scfEmailLabel
{
    display:none !important;
}

footer .scfSingleLineTextBox
{
    margin-bottom: 5px !important;
    width: 100% !important;
}

footer .scfEmailTextBox
{
    margin-bottom: 5px !important;
    width: 100% !important;
}

footer .scfValidationSummary
{
    
}

footer .scfValidator
{
    color:White !important;
}

footer .scfSubmitButton 
{
     font-size: 0.9em;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    border: 0px;
    color: white;
     transition: .25s;
    -moz-transition: .25s;
    -webkit-transtion: .25s;
    -o-transition: .25s;
    -ms-transition: .25s;background-color: #464646;
    border: 1px solid #464646;
    float:right;
}

footer .scfSubmitButton:hover,
input[type="submit"].black:hover,
button.black:hover{
    background-color: #4e4e4e;
}

</style>


<!--============================================= MedTouch.Base: Common: Footer =============================================--> 
<footer>

		
		
	</div>
</div>

		<div class="footer-main grid">
				<div class="four columns connect-with-womans">
                    <h4>
<span class="icon"></span>
<span class="plus-minus"></span>
Connect with Woman's
</h4>
<div class="footer-content">
<ul class="footer-blog-links">
    <li class="mommy-go-round">
    <span class="icon"></span>
    <a title="The Mommy Go-Round Blog" target="_blank" href="http://themommygoround.womansblogs.org/">The Mommy-Go-Round Blog</a>
    </li>
    <li class="weight-loss-surgery">
    <span class="icon"></span>
    <a target="_blank" href="http://weightlosssurgery.womansblogs.org/">A New You: Weight Loss Surgery Blog</a>
    </li>
    <li class="living-with-cancer">
    <span class="icon"></span>
    <a target="_blank" href="http://livingwithcancer.womansblogs.org/">Living With Cancer Blog</a>
    </li>
    <li class="healthy-self">
    <span class="icon"></span>
    <a target="_blank" href="http://healthyself.womansblogs.org/">Healthy Self Blog</a></li>
</ul>
</div>

                    <div class="footer-content">
                    

    
		<ul class="social-links">
            
                      <li class="facebook-link">
                        <a href="https://www.facebook.com/womanshospitalbr ">
                           Facebook
                        </a>
                    </li>
                
                      <li class="twitter-link">
                        <a href="https://twitter.com/WomansHospital ">
                           Twitter
                        </a>
                    </li>
                
                      <li class="youtube-link">
                        <a href="https://www.youtube.com/user/WomansHospitalBR">
                           Youtube
                        </a>
                    </li>
                
                      <li class="wp-link">
                        <a href="http://womansblogs.org/ ">
                           Wordpress
                        </a>
                    </li>
                
                      <li class="pinterest-link">
                        <a href="http://www.pinterest.com/Womanshospital ">
                           Pinterest
                        </a>
                    </li>
                
                      <li class="instagram-link">
                        <a class="last" href="http://instagram.com/womanshospital">
                           Instagram
                        </a>
                    </li>
                
		</ul>

                    </div>
                </div>		
		    
                <div class="four columns womans-footer-nav">
                    <h4>
<span class="icon"></span>
<span class="plus-minus"></span>
Woman's For
</h4>
<div class="footer-content">
<ul>
    <li>
    <a href="http://prod.womans.org.medtouch.com/patients-and-visitors">Patients &amp; Visitors
    </a></li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/for-health-professionals">Health Professionals</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/for-employees">Employees</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/for-job-applicants/volunteer">Volunteers</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/for-board-of-directors">Board of Directors</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/our-services/children-and-men">Children &amp; Men
    </a>    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/about-womans/community">Community Health</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/for-job-applicants">Job Applicants
    </a></li>
</ul>
</div>
                </div>		
		
				<div class="four columns locations-and-maps">   
                    <h4>
<span class="icon"></span>
<span class="plus-minus"></span>
Locations &amp; Maps
</h4>
<div class="footer-content">
<address>
<span>Woman's Hospital</span><br />
100 Woman's Way<br />
Baton Rouge, LA 70817
</address>
<p>
Main Number:
(225) 927-1300
</p>
<p>
Patient Rooms:
(225) 231-5[+]<br />
<span class="ital">[last 3 digits of room number]</span>
</p>
<p>
Patient Info:
(225) 924-8157
</p>
<a href="http://prod.womans.org.medtouch.com/locations-and-maps"><button class="default-button pink" type="button">View More</button></a>
</div>	
				</div>
            </div>
      
	
	
        <div class="footer-utility-links">
             <ul>
    <li>
    <a href="http://prod.womans.org.medtouch.com/about-womans">About Woman's</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/for-job-applicants/careers">Careers</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/contact-us">Contact Us</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/giving-and-volunteering/ways-to-give">Donate</a>
    </li>
    <li>
    <a href="http://prod.womans.org.medtouch.com/patients-and-visitors/billing-and-insurance">Your Bill</a>
    </li>
    <br />
</ul>
        <br />
        
        <ul>
            <li><a href="#">Copyright 2014</a></li>
             <li>
<a href="#">Terms &amp; Conditions</a>
</li>
<li>
<a href="#">Privacy Policy</a>
</li>
<li>
<a href="http://www.medtouch.com">by MedTouch</a>
</li>
        </ul>

		</div>
	
	
    
</footer>
<!--============================================= /MedTouch.Base: Common: Footer =============================================--> 


        
    






</form>
    
	<script src="http://prod.womans.org.medtouch.com/assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>		
	<!-- Grab Google CDN jQuery. fall back to local if necessary -->
	<script src="http://prod.womans.org.medtouch.com/ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script>	    !window.jQuery && document.write('<script src="http://prod.womans.org.medtouch.com/assets/js/jquery-1.9.1.min.js"><\/script>')</script>
	<!-- Grab Google CDN jQuery UI. fall back to local if necessary -->
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
	<script>	    !window.jQuery.ui && document.write('<script src="http://prod.womans.org.medtouch.com/assets/js/jquery-ui-1.10.4.min.js"><\/script>')</script>
    <script type="text/javascript" async src="http://prod.womans.org.medtouch.com/assets.pinterest.com/js/pinit.js"></script>
	<!-- Local Scripts -->
	<script src="http://prod.womans.org.medtouch.com/assets/js/plugins.js"></script>
	<script src="http://prod.womans.org.medtouch.com/assets/js/tipsy.js"></script>
	<script src="http://prod.womans.org.medtouch.com/assets/js/script.js"></script>

    
    
<!--============================================= MedTouch.Base: Include: User Edited Script =============================================-->

<!--============================================= /MedTouch.Base: Include: User Edited Script =============================================-->

    
</body>
</html>