<cfsilent>
<cfscript>
  PR=CreateObject("component","com.Promotion").init();
  ad1=PR.getAds(placementID=Application.promotion.placementID_pod1);
  ad2=PR.getAds(placementID=Application.promotion.placementID_pod2);
  ad3=PR.getAds(placementID=Application.promotion.placementID_pod3);
</cfscript>
</cfsilent>
<cfcontent type="application/x-javascript;charset=utf-8">
<cfoutput>
  document.write('<div class="threeColContainer">');
  <cfif ad1.recordcount GT 0>
    document.write('<div class="nestedLftCol">');
    <cfif Compare(ad1.pageID,0)>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ad1.promoID#&dURL=#URLEncodedFormat("#Application.siteURLRoot#/index.cfm?md=pagebuilder&tmp=home&pid=#ad1.pageID#")#">
	<cfelse>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ad1.promoID#&dURL=#URLEncodedFormat("#ad1.destinationURL#")#">
	</cfif>
    document.write('<div class="adHm"><a href="#destURL#"<cfif ad1.popup> target="_blank"</cfif>><img src="#Application.siteURLRoot#/#ad1.promoImage#" width="187" height="80" border="0" /></a></div></div>');
  </cfif>
  <cfif ad2.recordcount GT 0>
    document.write('<div class="nestedCntrCol">');
    <cfif Compare(ad2.pageID,0)>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ad2.promoID#&dURL=#URLEncodedFormat("#Application.siteURLRoot#/index.cfm?md=pagebuilder&tmp=home&pid=#ad2.pageID#")#">
	<cfelse>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ad2.promoID#&dURL=#URLEncodedFormat("#ad2.destinationURL#")#">
	</cfif>
    document.write('<div class="adHm"><a href="#destURL#"<cfif ad2.popup> target="_blank"</cfif>><img src="#Application.siteURLRoot#/#ad2.promoImage#" width="187" height="80" border="0" /></a></div></div>');
  </cfif>
  <cfif ad3.recordcount GT 0>
    document.write('<div class="nestedRtCol">');
    <cfif Compare(ad3.pageID,0)>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ad3.promoID#&dURL=#URLEncodedFormat("#Application.siteURLRoot#/index.cfm?md=pagebuilder&tmp=home&pid=#ad3.pageID#")#">
	<cfelse>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ad3.promoID#&dURL=#URLEncodedFormat("#ad3.destinationURL#")#">
	</cfif>
    document.write('<div class="adHm"><a href="#destURL#"<cfif ad3.popup> target="_blank"</cfif>><img src="#Application.siteURLRoot#/#ad3.promoImage#" width="187" height="80" border="0" /></a></div></div>');
  </cfif>
  document.write('</div>');
</cfoutput>