<cfsilent>
<cfparam name="URL.module" default="">
<cfparam name="URL.template" default="">
<cfparam name="URL.categoryID" default="0">
<cfscript>
  PR=CreateObject("component","com.Promotion").init();
  ads=PR.getAds(module=URL.module, template=URL.template, categoryID=URL.categoryID, numAds=3);
</cfscript>
</cfsilent>
<cfcontent type="application/x-javascript;charset=utf-8">
<cfif ads.recordcount GT 0>
<cfoutput>
document.write('<div class="threeColContainer">');
  document.write('<div class="nestedLftCol">');
    <cfif Compare(ads.pageID[1],0)>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ads.promoID[1]#&dURL=#URLEncodedFormat("#Application.siteURLRoot#/index.cfm?md=pagebuilder&tmp=home&pid=#ads.pageID[1]#")#">
	<cfelse>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ads.promoID[1]#&dURL=#URLEncodedFormat("#ads.destinationURL[1]#")#">
	</cfif>
    document.write('<div class="adHm"><a href="#destURL#"<cfif ads.popup[1]> target="_blank"</cfif>><img src="#Application.siteURLRootSSL#/#ads.promoImage[1]#" width="187" height="80" border="0" /></a></div></div>');
  <cfif ads.recordcount GT 1>
  document.write('<div class="nestedCntrCol">');
    <cfif Compare(ads.pageID[2],0)>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ads.promoID[2]#&dURL=#URLEncodedFormat("#Application.siteURLRoot#/index.cfm?md=pagebuilder&tmp=home&pid=#ads.pageID[2]#")#">
	<cfelse>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ads.promoID[2]#&dURL=#URLEncodedFormat("#ads.destinationURL[2]#")#">
	</cfif>
    document.write('<div class="adHm"><a href="#destURL#"<cfif ads.popup[2]> target="_blank"</cfif>><img src="#Application.siteURLRootSSL#/#ads.promoImage[2]#" width="187" height="80" border="0" /></a></div></div>');
  </cfif>
  <cfif ads.recordcount GT 2>
  document.write('<div class="nestedRtCol">');
    <cfif Compare(ads.pageID[3],0)>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ads.promoID[3]#&dURL=#URLEncodedFormat("#Application.siteURLRoot#/index.cfm?md=pagebuilder&tmp=home&pid=#ads.pageID[3]#")#">
	<cfelse>
	  <cfset destURL="#Application.siteURLRoot#/index.cfm?md=promotion&tmp=r&nowrap=1&pid=#ads.promoID[3]#&dURL=#URLEncodedFormat("#ads.destinationURL[3]#")#">
	</cfif>
    document.write('<div class="adHm"><a href="#destURL#"<cfif ads.popup[3]> target="_blank"</cfif>><img src="#Application.siteURLRootSSL#/#ads.promoImage[3]#" width="187" height="80" border="0" /></a></div></div>');
  </cfif>
document.write('</div>');
</cfoutput>
</cfif>
