<cfparam name="URL.pid"><!--- promoID--->
<cfparam name="URL.dURL"><!--- destination URL --->
<cfscript>
  PR=CreateObject("component","com.Promotion").init();
  PR.addClickThru(URL.pid);
</cfscript>
<cflocation url="#URL.dURL#">