@charset "utf-8";

/* STYLESHEET USED TO OVERRIDE main.css */

body, a, a.noUnderline, input, textarea, select, button, .snip, .dialog, .lite {
  font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color:#555555;
}

a, a:link, a:visited, a:active, a:hover {
  color:#444444;
}

a.noUnderline, a.noUnderline:link, a.noUnderline:visited, a.noUnderline:active, a.noUnderline:hover {
  color:#444444;
}

a.accent01, a.accent01:link, a.accent01:visited, a.accent01:active, a.accent01:hover {
  color:#ccd232;
}

.lite { /* make it look insignificant */
  color:#cccccc;
}

.hilite { /* make it look important */
  color:#cc3300;
}

.alert { /* make it look like a warning */
  color:#db4865;
}

.header {
  color:#555555;
}

.subHeader {
  color:#227182;
}

/* subActionBar is used in places like 'edit form content' in Form Manager */
.subActionBar a,.subActionBar a:link, .subActionBar a:visited, .subActionBar a:active, .subActionBar a:hover {
  color:#333333;
  border:1px solid #81CAF5;
  background-color:#DEF3FA;
}
.subActionBar a:hover {
  background-color:#FF3366;
  color:#ffffff;
}

table.subMenu {
  border:1px solid #dddddd;
  background-color: #E4EFF8;
}

.itemList table {
  background-color: #ffffff;
}

.itemList table th {
  border-top: 1px solid #B8DDE4;
  border-bottom: 1px solid #B8DDE4;
  background-color: #E4EFF8;
}

.itemList table td {
  border-bottom: 1px solid #B8DDE4;
}

.itemList table td a, .itemList table td a:link, .itemList table td a:visited, .itemList table td a:active, .itemList table td a:hover {
  color:#555555;
}

.itemList table td a:hover {
  color:#000000;
}

.itemList table td a.accent01 {
  color:#555555;
}

.itemList table td a:hover.accent01 {
  color:#000000;
}

.rowDivider {
  background-color:#ccd232;
}

/* used for form manager */
.formItemList table {
  background-color: #ffffff;
  font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color:#555555;
}

.formItemList table td {
  border-bottom: 1px solid #B8DDE4;
}

.formItemList table td a, .formItemList table td a:link, .formItemList table td a:visited, .formItemList table td a:active, .formItemList table td a:hover {
  color:#555555;
}

.formItemList table td a:hover {
  color:#000000;
}

/*--- For JQuery.validate ---*/
input.error, textarea.error, select.error {
  border: 1px dotted #FF3399;
}

label.error {
  color:#FF3399;
}

div.error {
  color:#FF3399;
} /* used for radio, checkbox, drop-down error messages */

