@charset "utf-8";
/* CSS Document */

#groupList .ui-state-default { border: 1px solid #d3d3d3; background: #e6e6e6 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #555555; outline: none; }
#groupList .ui-state-default a, #groupList .ui-state-default a:link, #groupList .ui-state-default a:visited { color: #555555; text-decoration: none; outline: none; }
#groupList .ui-state-hover { border: 1px solid #999999; background: #dadada url(images/ui-bg_glass_75_dadada_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
#groupList .ui-state-hover a, #groupList .ui-state-hover a:hover { color: #212121; text-decoration: none; outline: none; }
#groupList .ui-state-active { border: 1px solid #aaaaaa; background: #ffffff url(images/ui-bg_glass_65_ffffff_1x400.png) 50% 50% repeat-x; font-weight: normal; color: #212121; outline: none; }
#groupList .ui-state-active a, #groupList .ui-state-active a:link, #groupList .ui-state-active a:visited { color: #212121; outline: none; text-decoration: none; }

#groupList .ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
#groupList .ui-widget-header a { color: #222222; }
