body {
margin:20px;
padding:0px 0px 0px 0px;
background-image: url(images/ui-bg_diagonals-small_50_93c3cd_40x40.png);
}
body, input, a, .alert {
font-family: Gill Sans,Arial,sans-serif;;
font-size:12px;
line-height:130%;
color:#00458A;
}

.textfield {
  width:150px;
  height:15px;
  border:1px solid #9BD1E3;
}

form {margin:0px 0px; padding:0px 0px;}

.button {
  width:65px;
  height:24px;
  padding:0px 0px 2px 0px;
  background-color:#00458A;
  color:#ffffff;
  border:1px solid #00458A;
}