@charset "utf-8";

/* MAIN STYLESHEET FOR CMS */

body {
  margin: 15px;
  padding:0px;
}

body, a, a.noUnderline, input, textarea, select, button, .snip, .dialog, .lite {
  font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color:#555555;
  font-size:11px;
  line-height:155%;
}

a, a:link, a:visited, a:active, a:hover {
  color:#444444;
  text-decoration:underline;
}
a:hover {
  text-decoration:none;
}

a.noUnderline, a.noUnderline:link, a.noUnderline:visited, a.noUnderline:active, a.noUnderline:hover {
  color:#444444;
  text-decoration:none;
}
a.noUnderline:hover {
  text-decoration:underline;
}

a.accent01, a.accent01:link, a.accent01:visited, a.accent01:active, a.accent01:hover {
  color:#ccd232;
  text-decoration:none;
}
a.accent01:hover {
  text-decoration:underline;
}

.snip {
  margin:15px 0px 0px 0px;
  padding:0px;
}

.lite {
  color:#cccccc;
}

.hilite {
  color:#e3369c;
}

.greenlight {
  color:#006600;  
}

.alert {
  font-style:italic;
  color:#db4865;
}

form { margin:0px; padding:0px; }

.header {
  font-size:16px;
  color:#555555;
  margin:20px 0px;
}

.subHeader {
  font-size:13px;
  color:#227182;
  margin:10px 0px;
}

#actionBar {/* used with JQuery UI */
  width:100%;
  display:block;
  float:left;
}

#actionBar .button65 {
  width:65px
}

#actionBar .button90 {
  width:90px
}

#actionBar .button110 {
  width:110px;
}

#actionBar .button130 {
  width:130px;
}

#actionBar .button180 {
  width:180px;
}

.subActionBar {/* used for secondary action bars  */
  width:100%;
  display:block;
  margin: 0px 0px;
  padding:0px 0px;
}

.subActionBar a,.subActionBar a:link, .subActionBar a:visited, .subActionBar a:active, .subActionBar a:hover {
  color:#333333;
  height:30px;
  padding:2px 15px;
  margin:0px 5px 0px 0px;
  border:1px solid #81CAF5;
  background-color:#DEF3FA;
  text-decoration:none;
  text-align:center;
  cursor:pointer;
}
.subActionBar a:hover {
  background-color:#FF3366;
  color:#ffffff;
}

#mainDiv {
  width:100%;
  display:block;
  float:left;
  margin:10px 0px;
  padding:0px;
}

table.subMenu {
  border:1px solid #dddddd;
  padding:5px 5px;
  background-color: #E4EFF8;
}

.itemList table {
  width:100%;
  margin: 0px;
  padding: 0px;
  table-layout:fixed;
  border-width:0px;
  border-collapse: collapse;
  background-color: #ffffff;
}

.itemList table th {
  border-top: 1px solid #B8DDE4;
  border-bottom: 1px solid #B8DDE4;
  background-color: #E4EFF8;
  height:24px;
  text-align: center;
}

.itemList table td {
  border-bottom: 1px solid #B8DDE4;
  padding: 3px 3px 3px 3px;
  text-overflow:ellipsis;
  overflow:hidden;
  white-space:nowrap;
}

.itemList table td a, .itemList table td a:link, .itemList table td a:visited, .itemList table td a:active, .itemList table td a:hover {
  color:#555555;
  text-decoration: none;
}

.itemList table td a:hover {
  color:#000000;
  text-decoration: underline;
}

.itemList table td a.accent01 {
  color:#555555;
  text-decoration: underline;
}

.itemList table td a:hover.accent01 {
  color:#000000;
  text-decoration: none;
}

.subActionBar {
  width:100%;
  display:block;
  margin:10px 10px;
}

/*--- Form Layout ---*/
.row { width:100%;padding:4px 0px;float:left; }

.row .col-30-left { width:30%;padding:0px 2px;text-align:left;float:left; } /* column with 30% width; text align to the left */
.row .col-30-right { width:30%;padding:0px 2px;text-align:right;float:left; } /* column with 30% width; text align to the right */

.row .col-68-left { width:68%;padding:0px 2px;text-align:left;float:left; } 
.row .col-68-right { width:68%;padding:0px 2px;text-align:right;float:left; }

.row .col-24-left { width:24%;padding:0px 2px;text-align:left;float:left; } /* column with 24% width; text align to the left */
.row .col-24-right { width:24%;padding:0px 2px;text-align:right;float:left; } /* column with 24% width; text align to the right */

.row .col-48-left { width:48%;padding:0px 2px;text-align:left;float:left; } /* column with 48% width; text align to the left */
.row .col-48-right { width:48%;padding:0px 2px;text-align:right;float:left; } /* column with 48% width; text align to the right */

.row .col-74-left { width:74%;padding:0px 2px;text-align:left;float:left; } 
.row .col-74-right { width:74%;padding:0px 2px;text-align:right;float:left; }

.row .col-32-left { width:32%;padding:0px 2px;text-align:left;float:left; } /* column with 32% width; text align to the left */
.row .col-32-right { width:32%;padding:0px 2px;text-align:right;float:left; } /* column with 32% width; text align to the right */
.row .col-33-left { width:33%;padding:0px 2px;text-align:left;float:left; } /* column with 33% width; text align to the left */
.row .col-33-right { width:33%;padding:0px 2px;text-align:right;float:left; } /* column with 33% width; text align to the right */

.row .col-66-left { width:66%;padding:0px 2px;text-align:left;float:left; } 
.row .col-66-right { width:66;padding:0px 2px;text-align:right;float:left; }

.row .col-38-left { width:38%;padding:0px 2px;text-align:left;float:left; } /* column with 33% width; text align to the left */
.row .col-38-right { width:38%;padding:0px 2px;text-align:right;float:left; } /* column with 33% width; text align to the right */

.row .col-58-left { width:58%;padding:0px 2px;text-align:left;float:left; } 
.row .col-58-right { width:58;padding:0px 2px;text-align:right;float:left; }

.row .col-49-left { width:49%;padding:0px 2px;text-align:left;float:left; } /* column with 49% width; text align to the left */
.row .col-49-right { width:49%;padding:0px 2px;text-align:right;float:left; } /* column with 49% width; text align to the right */

.row .col-95-left { width:95%;padding:0px 2px;text-align:left;float:left; }

.row .col-name { width:80px;padding:0px 2px;text-align:left;float:left; }

.rowDivider { width:100%;height:1px;background-color:#ccd232;padding:0px 0px;margin:10px 0px;float:left; }

/* used for form manager */
.formItemList table {
  width:750px;
  margin: 0px;
  padding: 0px;
  table-layout:fixed;
  border-width:0px;
  border-collapse: collapse;
  background-color: #ffffff;
  
  font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  color:#555555;
  font-size:11px;
  line-height:155%;
}

.formItemList table td {
  border-bottom: 1px solid #B8DDE4;
  padding: 3px 3px 3px 3px;
}

.formItemList table td a, .formItemList table td a:link, .formItemList table td a:visited, .formItemList table td a:active, .formItemList table td a:hover {
  color:#555555;
  text-decoration: none;
}

.formItemList table td a:hover {
  color:#000000;
  text-decoration: underline;
}

.formItemList input.Small { width:70px; }
.formItemList input.Medium { width:150px; }
.formItemList input.Large { width:300px; }
.formItemList textarea.Small{ width:100px; height:30px; }
.formItemList textarea.Medium { width:150px; height:50px; }
.formItemList textarea.Large { width:300px; height:80px;}


/*--- For JQuery.validate ---*/
input.error, textarea.error, select.error { border: 1px dotted #FF3399; }
label.error {color:#FF3399; font-style:italic; display:block;}
div.error {color:#FF3399; font-style:italic; display:none;} /* used for radio, checkbox, drop-down error messages */

/* Jquery fixes */
.ui-datepicker { z-index:1500;} /* Date Picker fixes for used in Dialog */
