@charset "utf-8";

/* STYLESHEET FOR CMS WRAPPER AND THE MAIN MENU */

body {
  font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:130%;
  margin: 0px;
  padding:0px;
}

#menu .subMenu {
  font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:130%;
  color:#555555;
}

#menu .subMenu a, #menu .subMenu a:link, #menu .subMenu a:active, #menu .subMenu a:visited, #menu .subMenu a:hover {
  color:#db4865;
  display:block;
  margin:3px 0px 0px 0px;
  text-decoration:none;
}

#menu .subMenu a:hover {
  color:#ccd232;
}

#header {
  font-family: "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size:12px;
  color:#eeeeee;
  padding:20px 0px;
  margin:0px;
}

#header .headerText {
  margin:0px 0px 0px 15px;
  font-size: 18px;
  font-weight:bold;
  text-align:left;
}

#header .links {
  margin:0px 10px 0px 0px;
}

#header a, #header a:link, #header a:visited, #header a:active, #header a:hover {
  font-weight:bold;
  color:#eeeeee;
  line-height:130%;
  text-decoration:none;
}

#header a:hover {
  color:#ffffff;
  text-decoration:underline;
}

#footer {
  margin:0px;
  padding:0px;
  font-family:"Lucida Sans Unicode", Arial, Helvetica, sans-serif;
  font-size:10px;
  line-height:130%;
  color:#ffffff;
}


/* THE NORTH/WEST/SOUTH PANE */
.ui-layout-pane-north {
  background-image: url(images/ui-bg_diagonals-small_50_93c3cd_40x40.png);
  background-repeat:repeat;
}

.ui-layout-pane-south {
  background-image: url(images/ui-bg_diagonals-small_50_93c3cd_40x40.png);
  background-repeat:repeat;
}

.ui-layout-pane-west { /* west pane; override layout manager default style */ 
	padding: 0 10px; 
	background-color: #ececec !important;
	overflow: auto;
} 

