<cfparam name="URL.catID">
<cfset EM=CreateObject("component", "com.EventAdmin").init()>
<cfset category=EM.getCategory(URL.catID)>

<cfoutput query="category">
<div class="snip">
<form id="frmEditCategory" name="frmEditCategory" onsubmit="return false">
<input type="hidden" name="categoryID" value="#URL.catID#" />
<div class="row">
	<div class="col-30-right"><b>Category Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="categoryName" size="45" maxlength="50" value="#HTMLEditFormat(categoryName)#" validate="required:true" />
    </div>
</div>
</form>
</div>
</cfoutput>