<!--==================== Module: Physician Directory: Physician Search =============================-->
<script>
    var wordlist = ['Georgetta Ardon', 'Quiana Casselman', 'Isreal Knauf', 'Lorrine Leatham', 'Shay Patout', 'Sheri Tartt', 'Laronda Partlow', 'Annelle Uecker', 'Wynona Danos', 'Loan Zeringue', 'Britteny Piano', 'Takisha Madonna', 'Karry Malone', 'Salina Wigley', 'Warner Barks', 'Tiffani Buchta', 'Tanesha Mahler', 'Cliff Ragusa', 'Loraine Alatorre', 'Chanda Ross', 'Jacinda Zoller', 'Eric Lashua', 'Myra Mends', 'Aundrea Nimmo', 'Alvina Warring', 'Fredericka Branam', 'Joi Lamoureux', 'Charlotte Fu', 'Raisa Polzin', 'Lezlie Pick', 'Cora Head', 'Jefferson Asmussen', 'Tamatha Clawson', 'Virgil Steidl', 'Brenna Frost', 'Tasha Pooser', 'Deandra Boston', 'Milissa Orwig', 'Larraine Arebalo', 'Lu Klaus', 'Arlena Greenman', 'Delena Le', 'Osvaldo Digangi', 'Chanel Hardeman', 'Chance Bartolotta', 'Brynn Heinze', 'Edda Daw', 'Shalanda Byler', 'Alfreda Boe', 'Cedric Yocom', 'Mitzi Yip', 'Starr Alcantar', 'Ileen Langhorne', 'Reggie Mershon', 'Lyla Simoneaux', 'Sharice Eckert', 'Ossie Binford', 'Vickie Benjamin', 'Jeremiah Nygaard', 'Kenyetta Sage', 'Ngoc Michalec', 'Christal Rushing', 'Goldie Wedeking', 'Antony Gossman', 'Rosina Ropp', 'Merrie Brody', 'Lonnie Cinnamon', 'Kenyatta Digiacomo', 'Andria Basile', 'Mariel Medlin', 'Calvin Amador', 'Kathlyn Fortin', 'Karisa Mayorga', 'Lachelle Marchand', 'Bebe Orange', 'Susannah Manis', 'Alayna Cossette', 'Winona Garmany', 'Laveta Leiser', 'Erica Gaspard', 'Cristin Cabrales', 'Shenna Roseboro', 'Anne Holeman', 'Jacqulyn Hamamoto', 'Agustin Macarthur', 'Tessie Bultman', 'Marianna Maas', 'Vallie Looby', 'Dakota Letellier', 'So Crespo', 'Zack Janas', 'Luann Ogles', 'Kizzy Garner', 'Jannette Cathey', 'Regina Donalson', 'Quincy Gabrielson', 'Scarlet Portwood', 'Ross Liptak', 'Kathy Spagnolo', 'Robena Hagerman', 'Kristan Mattes', 'Erna Lesperance', 'Maryjo Mclean', 'Katlyn Lawhorn', 'Rowena Laconte', 'Tanya Lohmann', 'Eugenia Wash', 'Yuk Arrowsmith', 'Blanch Imler', 'Fernande Ponder', 'Tracy Pauly', 'Allene Harriman', 'So Harold', 'Jone Schomer', 'Margareta Orzechowski', 'Jovan Chancellor', 'Tiffani Eutsler', 'Shena Huitt', 'James Stennis', 'Neville Mestas', 'Kathi Tower', 'Asuncion Poyner', 'Annamarie Bown', 'Catarina Chandler', 'Tobi Naugle', 'Almeda Brookover', 'Rubin Fullenwider', 'Janay Walcott', 'Yung Haydel', 'Nerissa Kirchner', 'Terence Nowack', 'Teofila Arch', 'Art Evitt', 'Bao Scouten', 'Moon Carnes', 'Ronald Vallejos', 'Shira Teran', 'Synthia Coffey', 'Ellie Elsworth', 'Lacie Delgiudice', 'Levi Cruse', 'Antonietta Davison', 'Ernie Crowley', 'Lea Bodiford', 'Irish Whetstone', 'Danuta Kinsley', 'Tommy Crean', 'Melania Cowan', 'Bebe Canto', 'Daryl Bolding', 'Gonzalo Borba', 'Dionne Premo', 'Melda Damewood', 'Kelvin Pohlmann', 'Erik Clutts', 'Rosalind Updegraff', 'Setsuko Chamber', 'Vinnie Gillon', 'Divina Curtin', 'Miriam Luca', 'Sena Kan', 'Chanelle Menefee', 'Shay Ospina', 'Kaila Siders', 'Josefine Ficklin', 'Temple Gess', 'Orlando Joy', 'Magaly Hafley', 'Mathilda Wiesen', 'Daisey Sherrick', 'Dominic Puckett', 'Cherie Seng', 'Scott Solberg', 'Twana Formica', 'Chanell Eichenlaub', 'Demetra Rancourt', 'Shila Napoleon', 'Hyon Wooton', 'Saundra Joplin', 'Ann Savala', 'Lu Eisenmann', 'Rufina Kilday', 'Nevada Dostal', 'Mitch Reves', 'Eddie Hillery', 'Brigida Gano', 'Elfriede Flinn', 'Margit Swigert', 'Trula Munos', 'Felipe Para', 'Margarita Alfrey', 'Maryalice Haswell', 'Kylee Fahie', 'Valarie Speier', 'Hobert Host', 'Lashandra Lemire', 'Marissa Boyes', 'Dodie Armstong', 'Jettie Engh', 'Blondell Francoeur', 'Romana Giffen', 'Germaine Kyllonen', 'Twanna Alewine', 'Mayra Hallowell', 'Irwin Alfaro', 'Lon Grosz', 'Noriko Corey', 'Evangeline Primer', 'Ji Edinger', 'Glady Becenti', 'Claudio Amor', 'Liz Saavedra', 'Lazaro Yochum', 'Majorie Rivenburg', 'Todd Agnew', 'Venita Cornejo', 'Lindsay Hughley', 'Dora Mcneel', 'Jesica Sizer', 'Danita Douse', 'Lawrence Yarborough', 'Shawana Byron', 'Carmon Bordeau', 'Jeanna Maclennan', 'Angelena Conner', 'Leon Callihan', 'Darell Greening', 'Ginny Hutchings', 'Elroy Ewart', 'Erma Lemarr', 'Lanora Runnels', 'Brent Sexson', 'Spring Lefevre', 'Sharen Armes', 'Gretta Appling', 'Birgit Fowles', 'Larita Sumlin', 'Breana Hilliard', 'Missy Ackles', 'Soo Heyen', 'Genia Engle', 'Pearle Todaro', 'Lynnette Bartell', 'Maragret Jessie', 'Lael Corea', 'Lakesha Ide', 'Kathie Amerine', 'Tasha Piper', 'Catrina Hiltz', 'Bobbye Cobbs'];

    wordlist.sort();	  
</script>
<div class="module-pd-search core-search twelve columns grid">
    <div class="six columns">	
        <label class="label" for="name">Name</label>
        <input type="text" name="name" class="textbox autocomplete" placeholder="Enter a First or Last Name" />
	</div>
    <div class="six columns">
		<label class="label">Specialty</label>
		<div class="selectbox">  
			<select class="selectboxdiv">
			<option value="">Select a Specialty</option>
			<option value="dermatology">Dermatology</option>
			<option value="family general medicine">Family-General Medicine</option>
			</select>
			<div class="out"></div>
		</div>		
	</div>
	<section class="form-toggle">
		<div class="six columns">
		  <label class="label">Language</label>
		  <div class="selectbox">  
			  <select class="selectboxdiv">
				<option value="">Select a Language</option>
				<option value="english">English</option>
				<option value="spanish">Spanish</option>
			  </select>
			  <div class="out"></div>
		  </div>		
		</div>
		<div class="six columns">
			<label class="label">Gender</label>
			<div class="selectbox">  
				  <select class="selectboxdiv">
					<option value="">Select a Gender</option>
					<option value="male">Male</option>
					<option value="female">Female</option>
				  </select>
				  <div class="out"></div>
			</div>		
		</div>
		<div class="six columns">
			<label class="label">City</label>
			<div class="selectbox">  
				<select class="selectboxdiv">
				<option value="">Select a City</option>
				<option value="Cambridge , MA">Cambridge , MA</option>
				<option value="Hiawatha, IA">Hiawatha, IA</option>
				<option value="Old Katy, TX">Old Katy, TX</option>
				</select>
				<div class="out"></div>
			</div>			
		</div>
		<div class="six columns">
			<div class="six columns">
				<label class="label">Zip</label>
				<input type="text" class="textbox" placeholder="Zip Code"  />
				<span class="errortext" style="display:none;">Zip code must be 5 digits.</span>
				<span class="errortext" style="display:none;">Please enter zip code.</span>
			</div>
			<div class="six columns">
				<label class="label">Within</label>
				<div class="selectbox">  
					<select class="selectboxdiv">
					<option value="">Radius</option>
					</select>
					<div class="out"></div>
				</div>					
			</div>
		</div>
	</section> 
	<div class="grid twelve columns toggle-hide-show"> 
		<a href="#"><span class="show">Advanced Search +</span></a>
	</div>	
	<div class="search-option-submit twelve columns">
		<input type="submit" value="Search" class="button default-button pink">
	</div>   
</div>
<!--==================== Module: Physician Directory: Physician Search =============================-->