﻿<%@ Page Language="C#" MasterPageFile="~/UX/HTML/masters/OneColumn.master" %>
<%@ Register src="~/UX/HTML/_includes/sample_content.ascx" tagname="SampleContent" tagprefix="uc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPanel" runat="server">
    <uc:SampleContent ID="sample_content1" runat="server" />
</asp:Content>
