﻿<%@ Page Language="C#" MasterPageFile="~/UX/HTML/masters/TwoColumnWR.master" %>
<%@ Register Src="~/UX/HTML/_includes/sample_content.ascx" TagName="SampleContent" TagPrefix="uc" %>
<%@ Register Src="~/UX/HTML/_includes/prox.ascx" TagName="prox" TagPrefix="uc" %>

<asp:Content runat="server" ContentPlaceHolderID="LeftPanel">
   <uc:prox ID="prox1" runat="server" />
</asp:Content>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPanel" runat="server">
    <uc:SampleContent ID="sample_content1" runat="server" />
</asp:Content>

