<cfparam name="URL.fmid">
<cfparam name="URL.sid">
<cfparam name="URL.em">

<cfset FM=CreateObject("component", "com.Form").init()>
<cfset formInfo = FM.getFormProperties(URL.fmid)>

<div class="contentWrapper" id="forms">

<div id="topperHTMLCodes" style="display:none"><cfoutput>#formInfo.formName#</cfoutput></div>
<div id="themeImageHTMLCodes" style="display:none;"><img src="images/phtFtMomDaughterCouch.jpg" width="202" height="244" /></div>
<script type="text/javascript">
  $(document).ready(function(){
    if (trim($("#titleBar").html()) == "")  $("#titleBar").html($("#topperHTMLCodes").html());
	if (trim($("#thmemImage").html()) == "") $("#thmemImage").html($("#themeImageHTMLCodes").html());
  });
</script>

<cfoutput>
<span class="head">#formInfo.formName#</span>

<br style="clear:both;" /><br />
<p>Your form data has been saved.</p>

<p>
An e-mail with the information for retrieving your saved data has been sending to your e-mail address #URL.em#. 
</p>
</cfoutput>

</div>