@charset "utf-8";
/* CSS Document */

/*--- Form Layout ---*/
#formLayout {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#80858E; line-height:110%;}

.row { width:100%;padding:8px 0px;float:left; }
.col-first-left { width:21%;padding:0px 4px;text-align:left;float:left; }
.col-first-right { width:21%;padding:0px 4px;text-align:right;float:left;}
.col-second-left { width:75%;padding:0px 4px;text-align:left;float:left;} 
.col-whole-left { width:96%;padding:0px 4px;text-align:left;float:left;}
.col-whole-right { width:96%;padding:0px 4px;text-align:right;float:left; }

.col-name { width:110px;padding:0px 0px;text-align:left;float:left; } /* used for firstName/lastName fields */

#formLayout select, #formLayout input, #formLayout input.Small, #formLayout input.Medium, #formLayout input.Large {font-size:13px; line-height:100%; color:#535a66; border:1px solid #CCC; height:20px; }
#formLayout select { min-width:200px; }
#formLayout input.Small { width:90px; }
#formLayout input.Medium { width:200px; }
#formLayout input.Large { width:350px; }

#formLayout textarea.Small, #formLayout textarea.Medium, #formLayout textarea.Large {font-size:13px; line-height:100%; color:#535a66; border:1px solid #CCC;}
#formLayout textarea.Small{ width:90px; height:30px; }
#formLayout textarea.Medium { width:200px; height:50px; }
#formLayout textarea.Large { width:300px; height:80px;}

#formLayout .radio, #formLayout .checkbox {border: none; height:13px; width:auto;}
#formLayout textarea:focus, #formLayout input:focus { background:#ecf1fa;}

#formLayout input.button { color:#333333; font-size:11px; height:23px; }

.error {background-color:#FFCCE6;}
.alert { color:#CC0000; font-style:italic; }


/*extracted from master.css */
#formLayout .intro { font-size:12px; line-height:150%; border-bottom: none; margin:0px; padding:10px 16px 10px 16px; float:left; width:415px; }
#formLayout .section { font-size:14px; line-height:100%; color:#6f7876; background:#e8eceb; padding:6px; margin:0px 0px; float:left; width:456px; }
#formLayout .title {font-size:10px; color:#EC6CB8; font-weight:bold; line-height:110%; text-transform:uppercase; text-align:left; padding:0px 0px 5px 0px; float:left; width:100%;}
#formLayout .info { font-size:12px; line-height:110%; float:left; width:100%; padding:0px 0px;}