﻿<%@ Control Language="C#" AutoEventWireup="true" %>
<%@ Register TagPrefix="sc" Namespace="Sitecore.Web.UI.WebControls" Assembly="Sitecore.Kernel" %>
<div class="callout">
    <sc:Placeholder runat="server" id="RightPanel" Key="Calendar Right Panel"></sc:Placeholder>
</div>
