<div class="snip">
<form id="frmAddCategory" name="frmAddCategory" onsubmit="return false">
<div class="row">
	<div class="col-30-right"><b>Category Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="albumCategory" size="45" maxlength="50" value="" validate="required:true" />
    </div>
</div>
</center>
</form>
</div>