<cfparam name="URL.catID">
<cfset PG=CreateObject("component", "com.PhotoGalleryAdmin").init()>
<cfset albumCategory=PG.getAlbumCategory(URL.catID)>

<cfoutput query="albumCategory">
<div class="snip">
<form id="frmEditCategory" name="frmEditCategory" onsubmit="return false">
<input type="hidden" name="albumCategoryID" value="#URL.catID#" />
<div class="row">
	<div class="col-30-right"><b>Category Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="albumCategory" size="45" maxlength="50" value="#HTMLEditFormat(albumCategory)#" validate="required:true" />
    </div>
</div>
</form>
</div>
</cfoutput>