<cfparam name="URL.nid" default="0">
<cfset NV=CreateObject("component", "com.Navigation").init()>
<cfset link=NV.getExternalLinkByNavID(URL.nid)>
<cfset pageTitle=NV.getPageTitleByNavID(URL.nid)>
<div id="topperHTMLCodes" style="display:none"><cfoutput>#pageTitle#</cfoutput></div>
<div id="themeImageHTMLCodes" style="display:none;"><img src="images/phtFtMomDaughterCouch.jpg" width="202" height="244" /></div>
<script type="text/javascript">
  $(document).ready(function(){
    if (trim($("#titleBar").html()) == "") $("#titleBar").html($("#topperHTMLCodes").html());
	if (trim($("#thmemImage").html()) == "") $("#thmemImage").html($("#themeImageHTMLCodes").html());
  });
</script>

<div style="margin:50px 5px; 5px 10px;">

<cfif link IS NOT "">
<cfoutput>
<iframe src="#link#" name="externalcontent" frameborder="0" width="97%" height="600" marginheight="5" marginwidth="5"
 scrolling="auto" align="top">Please enable frames in your browser to view this content.</iframe>
</cfoutput>
</cfif>

</div>