<cfsilent>
<cfscript>
  NV=CreateObject("component", "com.Navigation").init();
  if (Compare(Request.template.mainNavIDList,"")) {
    Variables.topNavs=NV.getNavsByNavIDList(Request.template.mainNavIDList);
	for (i=1; i <= Variables.topNavs.recordcount; i=i+1) {
      if (Not Compare(Variables.topNavs.navID[i], Request.template.topMostAscendantNavID)) {
	    Variables.topNavs.navImage[i]=Variables.topNavs.navImageOver[i];
	  }
    } 
  }
</cfscript>
</cfsilent>
<cfif Compare(Request.template.mainNavIDList,"")>
  <cfoutput><cfloop index="idx" from="1" to="#Variables.topNavs.recordcount#"><a href="#Variables.topNavs.href[idx]#" <cfif Variables.topNavs.popup[idx]>target="_blank"</cfif> onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('subHomeTopNav#idx#','','#Variables.topNavs.navImageOver[idx]#',1)"><img src="#Variables.topNavs.navImage[idx]#" alt="#HTMLEditFormat(Variables.topNavs.navName[idx])#" name="subHomeTopNav#idx#" width="166" height="24" border="0" id="subHomeTopNav#idx#" /></a></cfloop></cfoutput>
</cfif>