<cfscript>
  NV=CreateObject("component", "com.Navigation").init();
  navItems=NV.getNavsByNavIDList(Request.globalProperties.primaryNavIDList);
  for (i=1; i <= navItems.recordcount; i=i+1) {
    if (Not Compare(navItems.navID[i],Request.template.topMostAscendantNavID)) {
	  navItems.navImage[i]=navItems.navImageOver[i];
	}
  }  
  
  // Change the navigation ID in place of 247 
  	subNavs=NV.getSubNavsByParentNavID(navGroupID=1, parentNavID=261);
	navStruct=StructNew();
  	for (i=1; i<=subNavs.recordcount; i++) {
		navKey = "nav" & subNavs.navID[i];
		navStruct[navKey]=subNavs.navName[i];
	  }
  
	

  
</cfscript>
<div class="menu">
						<div class="menu-holder">

<ul id="menu" class="accordeon">
	<cfset idx=0>
	<cfoutput query="navItems">
		<cfset idx=idx+1>
        <li><a <cfif idx eq 1>class="one"<cfelseif idx eq 2>class="two"<cfelseif idx eq 3>class="three"<cfelseif idx eq 4>class="four"</cfif> 			             href="#href#"><span>#navName#</span>       	
        </a>
        <cfif idx eq 4>
				<ul style="left: -9999px;"><cfloop query="subNavs"><li><a href="#href#">#navName#</a></li></cfloop></ul>
		</cfif>
        </li>
	</cfoutput>
</ul>
<cfinclude template="/modules/sitesearch/_searchform.cfm">
</div></div>

<!---<img src="images/imgLftNavHdr.gif" width="224" height="11" alt="" /><cfset idx=0><cfoutput query="navItems"><cfset idx=idx+1><a href="#href#" <cfif popup>target="_blank"</cfif> onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('primaryNav#idx#','','#navImageOver#',1)"><img src="#navImage#" alt="#HTMLEditFormat(navName)#" name="primaryNav#idx#" border="0" id="primaryNav#idx#" /></a><img src="images/imgNavDivider.gif" width="224" height="1" alt="" /></cfoutput><br />--->