<!--- <cfscript>
  NV=CreateObject("component", "com.Navigation").init();
  navItems=NV.getSubNavsByParentNavID(navGroupID=2, parentNavID=0);
</cfscript> --->
<cfsilent>
<cfscript>
  NV=CreateObject("component", "com.Navigation").init();
  navItems=NV.getNavsByNavIDList(Request.globalProperties.leftSecondaryNavIDList);
  style=ArrayNew(1);
  for (i=1; i <= navItems.recordcount; i=i+1) {
    if (Not Compare(navItems.navID[i],Request.template.topMostAscendantNavID)) {
	  style[i]=' style="color:##333132; background:url(/images/imgBulletArrowSmPink.gif) no-repeat right; border-bottom:1px dotted ##f57fc5; border-top:1px dotted ##f57fc5; text-decoration:none;"';
	} else {
	  style[i]='';
	}
  }  

</cfscript>
</cfsilent>
<ul>
<cfoutput>
<cfloop index="i" from="1" to="#navItems.recordcount#">
<li><a href="#navItems.href[i]#" <cfif navItems.popup[i]>target="_blank"</cfif>#style[i]#><span>#navItems.navName[i]#</span></a></li>
</cfloop>
</cfoutput>
</ul>


