<cfsilent>
<cfscript>
  NV=CreateObject("component", "com.Navigation").init();
  navItems=NV.getNavsByNavIDList(Request.globalProperties.topNavIDList);
  for (i=1; i <= navItems.recordcount; i=i+1) {
    if (Not Compare(navItems.navID[i],Request.template.topMostAscendantNavID)) {
	  navItems.navImage[i]=navItems.navImageOver[i];
	}
  }  
</cfscript>
</cfsilent>



<div class="block">
	<div class="block-holder">
		<div class="block-frame">
            <ul id="nav"><cfoutput query="navItems"><li><a href="#href#">#navName# </a></li></cfoutput></ul>
            <ul class="tools">
                <li class="question"><a href="/index.cfm?md=pagebuilder&tmp=home&pid=289" alt="question"></a></li>
                <cfoutput><li class="print"><a href="javascript:openWindow('#Request.printerFriendlyURL#','printer',770,600)" alt="print"></a></li></cfoutput>
       
		<li class="mail"><div class="addthis_toolbox"><a class="addthis_button"  href="http://www.womans.org/index.cfm?md=form&tmp=home&fmid=8&nid=164&tid=2">


</a></div><script type="text/javascript" src="https://s7.addthis.com/js/250/addthis_widget.js#username=womanshospitalbr"></script></li>
            </ul>
        </div>
    </div>
</div>