<cfparam name="URL.curriculaID">
<cfset CL=CreateObject("component", "com.ClassAdmin").init()>
<cfset curriculaInfo=CL.getCurricula(URL.curriculaID)>

<script type="text/javascript" src="modules/class/curricula_courses.js"></script>

<div class="header">CLASS MANAGER &gt; Curricula Courses</div>

<span id="curriculaID" style="display:none"><cfoutput>#URL.curriculaID#</cfoutput></span>
<div id="actionBar">
<a href="#" id="btnNew" class="fg-button ui-state-default ui-corner-all button65" onclick="addCurriculaCourses()">New</a>
<a href="#" class="fg-button ui-state-default ui-corner-all button65" onclick="deleteCurriculaCourses()">Remove</a>
</div>

<br style="clear:both;" /><br />

<cfoutput>
<p><a href="index.cfm?md=class&tmp=curriculum&wrap=1">&laquo; Back</a></p>

<p class="subHeader">Curricula Title: <b><i>#curriculaInfo.curriculaTitle#</i></b></p>
</cfoutput>


<div id="mainDiv"></div>



