<script type="text/javascript" src="modules/class/fitnessmember_import.js"></script>

<div class="header">CLASS MANAGER &gt; Fitness Club Members Import</div>

<br />

<form id="frmDataImport" name="frmDataImport" onsubmit="return false;">
Select a file: <input type="file" name="localFileField" size="30" value=""><br /><br />
<input type="button" value=" Upload &amp Import " onClick="uploadImport()">
</form>

<br />
<div id="message"></div>

<iframe id="fileUploadTargetedFrame" name="fileUploadTargetedFrame" src="" style="width:200px;height:20px;border:1px solid ##cccccc;display:none;"></iframe>