﻿<cfparam name="URL.studentID">

<cfset CL=CreateObject("component", "com.ClassAdmin").init()>
<cfset studentInfo=CL.getStudent(URL.studentID)>

<script type="text/javascript">
$(function() {
  document.frmLogin.submit();
});
</script>

<cfoutput query="studentInfo">
<form name="frmLogin" id="frmLogin" action="#Application.siteURLRootSSL#/action.cfm?md=class&task=loginAsUserByAdmin" method="post">
<input type="hidden" name="email" value="#email#" />
<input type="hidden" name="password" value="#password#" />
</form>
</cfoutput>

<div style="margin:30px 30px; text-align:center;">
Logging in to an user's account. Please wait...
</div>