<cfparam name="URL.locationID">
<cfset CL=CreateObject("component", "com.ClassAdmin").init()>
<cfset locationInfo=CL.getLocation(URL.locationID)>

<div class="snip">
<cfoutput query="locationInfo">
<form id="frmEditLocation" name="frmEditLocation" onsubmit="return false">
<input type="hidden" name="locationID" value="#URL.locationID#">
<div class="row">
	<div class="col-30-right"><b>Location Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="locationName" size="45" maxlength="50" value="#HTMLEditFormat(locationName)#" validate="required:true" />
    </div>
</div>
</form>
</cfoutput>
</div>