<div class="snip">
<form id="frmAddLocation" name="frmAddLocation" onsubmit="return false">
<div class="row">
	<div class="col-30-right"><b>Location Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="locationName" size="45" maxlength="50" value="" validate="required:true" />
    </div>
</div>
</form>
</div>