<cfset CL=CreateObject("component", "com.ClassAdmin").init()>
<cfset allCategories=CL.getAllCategories()>

<p>
<cfoutput>
<form id="frmNavigator">
  Select a Category:
  <select name="categoryID">
    <cfloop query="allCategories">
    <option value="#categoryID#">#categoryName#</option>
    </cfloop>
  </select>
</form>
</cfoutput>
</p>

<br /><br />

<div id="subDiv1"></div>
