<cfparam name="URL.courseID">

<form id="frmAddCourseReview" name="frmAddCourseReview" onsubmit="return false;">
<cfoutput><input type="hidden" name="courseID" value="#URL.courseID#"></cfoutput>
<div class="row">
	<div class="col-30-right"><b>Name:</b></div>
    <div class="col-68-left"><input type="text" name="fullName" maxlength="100" value="" style="width:320px;" /></div>
</div>
<div class="row">
	<div class="col-30-right">&nbsp;</div>
    <div class="col-68-left"><input type="checkbox" name="published" value="1" /> Publish this review</div>
</div>
<div class="row">
    <div class="col-30-right"><b>Review:</b></div>
    <div class="col-68-left">
      <textarea name="review" style="width:320px;height:100px;"></textarea>
    </div>
</div>
</form>