<div class="snip">
<form id="frmAddCategory" name="frmAddCategory" onsubmit="return false">
<div class="row">
	<div class="col-30-right"><b>Category Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="categoryName" style="width:250px;" maxlength="50" value="" validate="required:true" /><br />
      <input type="checkbox" name="featured" value="1" checked /> Featured (display in category list)
    </div>
</div>
<div class="row">
	<div class="col-30-right">Description:</div>
	<div class="col-68-left">
      <textarea name="description" style="width:250px;height:70px;"></textarea>
    </div>
</div>
</form>
</div>