html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font: inherit;
font-size: 100%;
vertical-align: baseline;
background: transparent;
}
audio, canvas, video {display: inline-block; *display: inline; *zoom: 1;}
article, aside, figure, footer, header, nav, section, details, summary {display: block;}
audio:not([controls]) {display: none; height: 0;}
[hidden] {display: none;}
/* ==========================================================================
   Base
   ========================================================================== */
html {background: #fff; color: #000; font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;  height: 100%; font-family: Verdana, Helvetica, sans-Serif;}
html, button, input, select, textarea {font-family: sans-serif; color: #222;}
body { margin: 0; font-size: 1em; line-height: 1.4; background: url("../_includes/bg.png") repeat; height: 100%;}

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

a{text-decoration: none; color: #1273a3;}
a:focus {outline: thin dotted;}
a:active, a:hover {outline: 0;}

/* ==========================================================================
   Typography
   ========================================================================== */
h1 {font-size: 2em; margin: 0.67em 0;}
h2 {font-size: 1.5em; margin: 0.83em 0;}
h3 {font-size: 1.17em; margin: 1em 0;}
h4 {font-size: 1em; margin: 1.33em 0;}
h5 {font-size: 0.83em; margin: 1.67em 0;}
h6 {font-size: 0.67em; margin: 2.33em 0;}

abbr[title] {border-bottom: 1px dotted;}

b, strong {font-weight: bold;}
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
hr {-moz-box-sizing: content-box; box-sizing: content-box; height: 0;}
hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

mark {background: #ff0; color: #000;}
p, pre {margin: 1em 0;}
code, kbd, pre,samp {font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em;}
pre {white-space: pre; white-space: pre-wrap; word-wrap: break-word;}
q {quotes: none;}
q:before, q:after {content: ''; content: none;}
small {font-size: 80%;}
sub, sup {font-size: 75%; line-height: 0; position: relative; vertical-align: baseline;}
sup {top: -0.5em;}
sub {bottom: -0.25em;}

/* ==========================================================================
   Lists - Inputs
   ========================================================================== */
dl, menu, ol, ul {margin: 1em 0;}
dd {margin: 0 0 0 40px;}
menu, ol, ul {padding: 0 0 0 40px;}
nav ul,
nav ol {list-style: none; list-style-image: none;}

img {border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle;}
svg:not(:root) {overflow: hidden;}

figure {margin: 0;}

form {margin: 0;}
fieldset {border: 1px solid #c0c0c0; margin: 0 2px; padding: 0.35em 0.625em 0.75em;}
fieldset {border: 0; margin: 0; padding: 0;}
legend {border: 0; padding: 0; white-space: normal; *margin-left: -7px;}

button, input, select, textarea {font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle;}
button, input {line-height: normal;}
button, select {text-transform: none;}

button, html input[type="button"], input[type="reset"], input[type="submit"] {-webkit-appearance: button; cursor: pointer; *overflow: visible;}
button[disabled], html input[disabled] {cursor: default;}

input[type="checkbox"], input[type="radio"] {box-sizing: border-box; padding: 0; *height: 13px; *width: 13px;}
input[type="search"] {-webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box;}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}

button::-moz-focus-inner, input::-moz-focus-inner {border: 0; padding: 0;}
textarea {overflow: auto; vertical-align: top; resize: vertical;}

table {border-collapse: collapse; border-spacing: 0;}

::-moz-selection {background: #b3d4fc; text-shadow: none;}
::selection {background: #b3d4fc; text-shadow: none;}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

header {height: 60px; background: #fff}
header .top {
    margin: 0 auto;
    max-width: 960px;
    position: relative;
    padding: 0;
}
.logo {position: relative; top: 22px;}
.wrapper {font-size: .8em; margin-bottom: 1.5em; }
.content, footer .inner {margin: 0 auto; max-width: 960px;}
.wrapper h1 { margin: 0.75em 0 0; text-align: left; }
.row {display: table-row;}
.row article{
    display: table-cell;
    width: 10%;
    padding: .4em 1em;
}

footer { padding: 0; }
footer > div {
    width: auto;
    padding: 0 0.75em;
    text-align: center;
}
footer .logo, footer .copy { display: block; float: none !important; }
footer .logo { margin: 0 auto 0.5em; position: static; }
footer .copy { font-size: 0.7em; }

.cr {font-size: .6em}
.row {background: #dedede}
.odd {background: #fff}

.lt-ie8 .grid {width: 1024px;}

.grid { width: 100%; margin: 0 auto; padding: 0 0.75em; }
.grid .grid { min-width: 0; padding-left: 0; padding-right: 0; }

/* To fix the grid into a different size, set max-width to your desired width */
.column, .columns { margin-left: 1.95313%; float: left; min-height: 1px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.column:first-child, .columns:first-child, .alpha { margin-left: 0; }

.column.omega, .columns.omega { float: right; }

/* Column Classes */
.grid .one.column { width: 6.54297%; }
.grid .one.columns { width: 6.54297%; }
.grid .two.columns { width: 15.03906%; }
.grid .three.columns { width: 23.53516%; }
.grid .four.columns { width: 32.03125%; }
.grid .five.columns { width: 40.52734%; }
.grid .six.columns { width: 49.02344%; }
.grid .seven.columns { width: 57.51953%; }
.grid .eight.columns { width: 66.01563%; }
.grid .nine.columns { width: 74.51172%; }
.grid .ten.columns { width: 83.00781%; }
.grid .eleven.columns { width: 91.50391%; }
.grid .twelve.columns { width: 100%; }


/*==============TABS================================================================================*/
.ui-tabs, .responsive-tabs--enabled, .responsive-tabs {
    border-bottom: none;border-right: none; border-left: none;
    margin: -10px 0 0;
}
.ui-tabs, .responsive-tabs  { position: relative; zoom: 1; margin: 2em 0 .6em;}
.responsive-tabs h2 {*font-size: 1em;}
.responsive-tabs li {*font-size: 1rem;}


/* REQUIRED for core functionality */

.responsive-tabs__heading { display: none;}
.responsive-tabs__list__item { display: inline; cursor:pointer; *font-size: 12px; font-size: 12px\9}
.responsive-tabs__list li {background-image: none; padding-left: 0.7em; text-transform: uppercase; font-weight: bold;}

/* END - Required for core functionality */

/* OPTIONAL - Basic Skin */
.responsive-tabs-wrapper { 
    clear: both;
    zoom: 1; 
}
.responsive-tabs-wrapper:before,
.responsive-tabs-wrapper:after {
    content: "";
    display: table;
} 
.responsive-tabs-wrapper:after {
    clear: both;
}

.responsive-tabs__heading:focus,
.responsive-tabs__list__item:focus { outline: none;}

.responsive-tabs__heading--active:focus,
.responsive-tabs__list__item--active:focus { outline: none !important;}

.responsive-tabs__list {margin: .6em 0 .6em 0 !important; line-height: 1em; position: relative; top: 3px; padding-left: 0;}
.responsive-tabs__list__item {
    background: #aeb6b5 !important;
    border: 1px solid #c3c3c3;
    color: #FFFFFF;
    margin: 0 8px 0 0;
    padding: 0.4em 0.7em;
    border-bottom: 0;
}
.responsive-tabs__list__item:hover {background: #fff;}
.responsive-tabs__list__item--active {color: #666d70;}
.responsive-tabs__list__item--active, 
.responsive-tabs__list__item--active:hover {background: #fff !important;}

.responsive-tabs__panel {padding: 0 1em 1em; border: 1px solid #c3c3c3; *margin-top: -4px !important; *border-radius: 0 3px 3px 3px;}
.responsive-tabs__panel h3 {
font-size: 1em;
margin: 1em 0;
padding: .4em;
background-color: #1273a3;
color: #fff;
font-weight: bold;
}
.lt-ie9 .responsive-tabs__panel {margin-top: -3px}
.lt-ie9 .responsive-tabs__panel {margin-top: 0}
.responsive-tabs__panel {*margin-top: 0px !important; background: #fff;}

@media (max-width: 551px) {
    .responsive-tabs__list { display: none;}
    .responsive-tabs__heading { display: block; cursor: pointer; }
    .responsive-tabs__panel--closed-accordion-only { display: none;}
}
@media (min-width: 731px) {
    .responsive-tabs__panel--closed-accordion-only { display: block !important;}
}

@media all and (min-width: 37.5em) {
    .logo {float: left !important;}
    header, footer { /*padding: 12px*/ }
}

@media all and (min-width: 12em) {
    body { width: auto; font-size: 120%;}

    .logo {
        margin: 0 auto;
        width: auto;
        float: none;
        text-align: center;
    }

    .responsive-tabs__heading { 
        padding: 0.5em; 
        border: 0; 
        box-shadow: 0;
        background: #aeb6b5;
        position: relative;
        color: #FFFFFF;
        font-weight: bold;
        margin: 0 0 4px;
        font-size: 1rem;
        margin-top: .6em;
        border: 1px solid #c3c3c3;

    }

    .responsive-tabs__heading:after {
        border-bottom: 6px solid transparent;
        border-left: 6px solid #5d5e58;
        border-top: 6px solid transparent;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        right: 20px;
        top: 40%;
        width: 0;
    }

    .responsive-tabs__list li {text-transform: none;border-radius: 3px 3px 0 0;}   
    .responsive-tabs__heading:hover,
    .responsive-tabs__heading--active:hover {background-color: #fff; color: #595a54; }
    .responsive-tabs__heading--active { background: #aeb6b5; margin-bottom: 0; border-bottom: 0;}

    .responsive-tabs__heading--active:after {
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-top: 6px solid #5d5e58;
    } 
     
    /*.responsive-tabs__panel {/*border: none;}*/
    
}
