<cfsilent>
<cfscript>
  DR=CreateObject("component","com.Directory").init();
  allOrganizationNames=DR.getAllOrganizationNames();
  hintWords=StructNew();
  hintWords.orgName=ArrayNew(1);
  for (i=1; i LTE allOrganizationNames.recordcount; i=i+1) {
    hintWords.orgName[i]=StructNew();
	hintWords.orgName[i].id=i;
    hintWords.orgName[i].text=allOrganizationNames.orgName[i];
  }  
</cfscript>
</cfsilent>

<cfcontent type="application/x-javascript;charset=utf-8">
<cfoutput>
var hintWords=#Replace(Replace(SerializeJSON(hintWords),'"ID"','"id"','All'),'"TEXT"','"text"','All')#;
</cfoutput>