<cfparam name="URL.mapID">
<cfsilent>
<cfscript>
  DR=CreateObject("component","com.Directory").init();
  mapInfo=DR.getMapByID(URL.mapID);
</cfscript>
</cfsilent>

<div class="head"><cfoutput query="mapInfo">#mapName#</cfoutput></div>
<br /><br />
<cfoutput query="mapInfo">  
<img src="#mapFile#" border="0" alt="#HTMLEditFormat(mapName)#" title="#HTMLEditFormat(mapName)#" />
</cfoutput>