<cfparam name="URL.task">
<cfscript>
  UT=CreateObject("component", "com.Utility").init();
  DR=CreateObject("component","com.Directory").init();
  switch (URL.task) {
    case 'contactDepartment':	  
	  DR.contactDepartment(argumentCollection=Form);
	  
	  UT.location("index.cfm?md=directory&tmp=contactform_response&itemID=" & Form.itemID);
      break;

	default:
	  break;
  }
</cfscript>
