<!--==================== Module: FAQ: FAQ Listing =============================-->
<div class="module-faq-listing article">
	
    
    <div class="module-pg-wrapper">
		
    
    <div class="module-pg-info">
			
        Viewing Page 1 of 1 | Showing Results 1 of 1
    
		</div>
    <div class="clear">
    </div>

	</div>
    <div class="listing">
		
        
                <div class="listing-item">
			
                    <h4>
                        <a href="/faqs/question-1/">Question 1</a></h4>
                    <p>This is my sample answer</p>
                    <div>
				
                        <a href="/faqs/question-1/">Read More</a>
                    
			</div>
                
		</div>
            
    
	</div>
    <div class="module-pg-wrapper">
		
    <div class="module-pg-info">
			
        Viewing Page 1 of 1 | Showing Results 1 of 1
    
		</div>
    
    <div class="clear">
    </div>

	</div>

</div>
<!--==================== /Module: FAQ: FAQ Listing =============================-->
