<script type="text/javascript" src="modules/marketing/message.js"></script>

<cfset VM=CreateObject("component", "com.Marketing").init()>
<cfset emailMessage = VM.getEmailMessage()>

<div class="header">VIRAL MARKETING &gt; E-Mail Message</div>



<form id="frmEmailMessage" onSubmit="return false;">
<div class="subHeader">Message From Woman's</div>  
      
<p>Please enter the message that will accompany the link of 'E-Mail This'.</p>

<div class="ui-widget" style="display:none; margin:10px 0px; width:350px;">
  <div class="ui-state-highlight ui-corner-all" style="padding: 0 .7em;">
    <p><span class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;"></span><span id="msgEmailMessage"></span></p>
  </div>
</div>

<strong>Message:</strong><br />
<cfoutput><textarea name="message" cols="85" rows="5">#HTMLEditFormat(emailMessage)#</textarea></cfoutput><br />
<input type="button" value=" Update " onclick="updateEmailMessage();">
</form>

<br />