<script type="text/javascript" src="modules/marketing/stats.js"></script>

<div class="header">VIRAL MARKETING &gt; Stats</div>

<cfset currentYear=Year(now())>
<form id="frmNavigator">
Select a Year
<cfoutput>
<select name="reportYear">
  <cfloop index="reportYear" from="2009" to="#currentYear#">
  <option value="#reportYear#">#reportYear#</option>
  </cfloop>
</select>
<input type="button" value=" Change" >
</cfoutput>
</form>

<br /><br />

<div id="mainDiv"></div>
