<cfsetting enablecfoutputonly="yes">
<cfparam name="URL.task">

<cfscript>
  VM=CreateObject("component", "com.Marketing").init();
  returnedStruct=StructNew();
  returnedStruct.SUCCESS=true;
  returnedStruct.MESSAGE="";
  
  switch (URL.task) {
    case "updateEmailMessage":
	  VM.updateEmailMessage(argumentCollection=Form);
	  break;
	  	  
	default:
	  break;
  }
</cfscript>
<cfoutput>#SerializeJSON(returnedStruct)#</cfoutput>
</cfsetting>