<!--==================== Module: Calendar: Event Session Listing =============================-->
<div class="module-ce-session-results grid">
	
    <div class="module-pg-wrapper">
        <div class="module-pg-nav">

			
		<ul class="pagination">
		  <li class="arrow no-link"><a href="">&laquo;</a></li>
		  <li class="active"><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li><a href="">3</a></li>
		  <li><a href="">4</a></li>
		  <li class="arrow"><a href="">&raquo;</a></li>
		</ul>			
			
		</div>
     	<div class="module-pg-info">
            Page 1 of 210 | Results 1 - 10 of 2093
        </div>
	</div>

    <div class="listing twelve columns">
		<div class="listing-item">
			<h4><a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Cesarean Birth Class</a></h4>
            <div class="module-thumbnail two columns">
				<a href="#"><img src="http://placehold.it/100x100" alt="photo" />	</a> 
			</div>
            <div class="teaser-copy ten columns">
                 <div class="listing-item-teaser">
					<p>For couples who are expecting to deliver by c-section.</p>
                </div>
                <div class="module-date">
					December 01, 2012
					05:00 PM
					&ndash;
					06:00 PM        
				</div>
                <div class="listing-item-more-link">
					<a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Read More</a>
                    <span>|</span>
					<a href="/calendar/event-registration/?esid=AB53DD3D056A4C9F9074D99CC35A71DB">Register</a>    
				</div>
            </div>  
		</div>
            
		<div class="listing-item">
			<h4><a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Cesarean Birth Class</a></h4>
            <div class="module-thumbnail two columns">
				<a href="#"><img src="http://placehold.it/100x100" alt="photo" />	</a> 
			</div>
            <div class="teaser-copy ten columns">
                 <div class="listing-item-teaser">
					<p>For couples who are expecting to deliver by c-section.</p>
                </div>
                <div class="module-date">
					December 01, 2012
					05:00 PM
					&ndash;
					06:00 PM        
				</div>
                <div class="listing-item-more-link">
					<a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Read More</a>
                    <span>|</span>
					<a href="/calendar/event-registration/?esid=AB53DD3D056A4C9F9074D99CC35A71DB">Register</a>    
				</div>
            </div>  
		</div>
            
		<div class="listing-item">
			<h4><a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Cesarean Birth Class</a></h4>
            <div class="module-thumbnail two columns">
				<a href="#"><img src="http://placehold.it/100x100" alt="photo" />	</a> 
			</div>
            <div class="teaser-copy ten columns">
                 <div class="listing-item-teaser">
					<p>For couples who are expecting to deliver by c-section.</p>
                </div>
                <div class="module-date">
					December 01, 2012
					05:00 PM
					&ndash;
					06:00 PM        
				</div>
                <div class="listing-item-more-link">
					<a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Read More</a>
                    <span>|</span>
					<a href="/calendar/event-registration/?esid=AB53DD3D056A4C9F9074D99CC35A71DB">Register</a>    
				</div>
            </div>  
		</div>
            
		<div class="listing-item">
			<h4><a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Cesarean Birth Class</a></h4>
            <div class="module-thumbnail two columns">
				<a href="#"><img src="http://placehold.it/100x100" alt="photo" />	</a> 
			</div>
            <div class="teaser-copy ten columns">
                 <div class="listing-item-teaser">
					<p>For couples who are expecting to deliver by c-section.</p>
                </div>
                <div class="module-date">
					December 01, 2012
					05:00 PM
					&ndash;
					06:00 PM        
				</div>
                <div class="listing-item-more-link">
					<a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Read More</a>
                    <span>|</span>
					<a href="/calendar/event-registration/?esid=AB53DD3D056A4C9F9074D99CC35A71DB">Register</a>    
				</div>
            </div>  
		</div>
            
		<div class="listing-item">
			<h4><a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Cesarean Birth Class</a></h4>
            <div class="module-thumbnail two columns">
				<a href="#"><img src="http://placehold.it/100x100" alt="photo" />	</a> 
			</div>
            <div class="teaser-copy ten columns">
                 <div class="listing-item-teaser">
					<p>For couples who are expecting to deliver by c-section.</p>
                </div>
                <div class="module-date">
					December 01, 2012
					05:00 PM
					&ndash;
					06:00 PM        
				</div>
                <div class="listing-item-more-link">
					<a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Read More</a>
                    <span>|</span>
					<a href="/calendar/event-registration/?esid=AB53DD3D056A4C9F9074D99CC35A71DB">Register</a>    
				</div>
            </div>  
		</div>
            
		<div class="listing-item">
			<h4><a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Cesarean Birth Class</a></h4>
            <div class="module-thumbnail two columns">
				<a href="#"><img src="http://placehold.it/100x100" alt="photo" />	</a> 
			</div>
            <div class="teaser-copy ten columns">
                 <div class="listing-item-teaser">
					<p>For couples who are expecting to deliver by c-section.</p>
                </div>
                <div class="module-date">
					December 01, 2012
					05:00 PM
					&ndash;
					06:00 PM        
				</div>
                <div class="listing-item-more-link">
					<a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Read More</a>
                    <span>|</span>
					<a href="/calendar/event-registration/?esid=AB53DD3D056A4C9F9074D99CC35A71DB">Register</a>    
				</div>
            </div>  
		</div>
            
		<div class="listing-item">
			<h4><a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Cesarean Birth Class</a></h4>
            <div class="module-thumbnail two columns">
				<a href="#"><img src="http://placehold.it/100x100" alt="photo" />	</a> 
			</div>
            <div class="teaser-copy ten columns">
                 <div class="listing-item-teaser">
					<p>For couples who are expecting to deliver by c-section.</p>
                </div>
                <div class="module-date">
					December 01, 2012
					05:00 PM
					&ndash;
					06:00 PM        
				</div>
                <div class="listing-item-more-link">
					<a href="/calendar/test-calendar/cesarean-birth-class/?esk=sample+session+2012+12+01">Read More</a>
                    <span>|</span>
					<a href="/calendar/event-registration/?esid=AB53DD3D056A4C9F9074D99CC35A71DB">Register</a>    
				</div>
            </div>  
		</div>
                     

	</div>
    <div class="module-pg-wrapper">
        <div class="module-pg-nav">

			
		<ul class="pagination">
		  <li class="arrow no-link"><a href="">&laquo;</a></li>
		  <li class="active"><a href="">1</a></li>
		  <li><a href="">2</a></li>
		  <li><a href="">3</a></li>
		  <li><a href="">4</a></li>
		  <li class="arrow"><a href="">&raquo;</a></li>
		</ul>			
			
		</div>
     	<div class="module-pg-info">
            Page 1 of 210 | Results 1 - 10 of 2093
        </div>
	</div>


</div>
<!--==================== /Module: Calendar: Event Session Listing =============================-->
