<!--==================== Module: Calendar: Event Day Picker =============================-->
<div class="module-ce-eventdaypicker core-daypicker grid">
    <div class="module-ce-daypicker twelve columns"></div>
    <!-- Do Not Remove These Hidden Fields -->
    <input type="hidden" value="/calendar/event-search-results/" />
    <input type="hidden" value="12/01/2012,12/02/2012,12/09/2012,01/01/2013,01/06/2013,01/13/2013,02/01/2013,02/03/2013,02/10/2013,03/01/2013,03/03/2013,03/10/2013,04/01/2013,04/07/2013,04/14/2013,05/01/2013,05/05/2013,05/12/2013,06/01/2013,06/02/2013,06/09/2013,07/01/2013,07/07/2013,07/14/2013,08/01/2013,08/04/2013,08/11/2013,09/01/2013,09/01/2013,09/08/2013,10/01/2013,10/06/2013,10/13/2013,11/01/2013,11/03/2013,11/10/2013," />
</div>
<!--==================== /Module: Calendar: Event Day Picker =============================-->
