<!---<a href="/donate/?src=DNB" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('btnDonate','','images/btnDonateo.gif',1)"><img src="images/btnDonate.gif" alt="Donate Now" name="btnDonate" width="224" height="30" border="0" id="btnDonate" /></a>
<div class="content">
<cfoutput>
#Request.globalProperties.donateNowCopy#
</cfoutput>
</div>--->

<h2 class="donate"><a href="/donate/?src=DNB">Donate Now</a></h2>
<div class="box-holder">
<p>
<cfoutput>
#Request.globalProperties.donateNowCopy#
</cfoutput>
</p>
</div>