﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="UpdateEcmUsers.aspx.cs" Inherits="womans.org.Website.sitecore_modules.Web.MedTouch_Utilities.UpdateEcmUsers" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
    <head runat="server">
        <title></title>
    </head>
    <body>
        <form id="form1" runat="server">
            <div>
                <asp:Button ID="btnUpdate" runat="server" Height="26px" OnClick="btnUpdate_Click" Text="Update" Width="56px" />
            </div>
        </form>
    </body>
</html>