<cfparam name="URL.q" default="">
<script type="text/javascript">
<!--
  function submitSiteSearch(form) {
     if (form.q.value == "Search Our Site...") {
	  form.q.value="";
	  form.q.focus();
	  return false;
	}
    if (form.q.value.length < 3) {
	  alert('Please enter a keyword with at least three characters.');
	  form.q.focus();
	  return false;
	}
	  
	return true;
  }
//-->
</script>
<div class="search">
<cfoutput>
<form name="frmSiteSearch" id="frmSiteSearch" action="#Application.siteURLRoot#/index.cfm" method="get" onsubmit="return submitSiteSearch(this);">
  <input type="hidden" name="md" value="sitesearch" />
  <input type="hidden" name="tmp" value="home" />
  <cfif Compare(URL.q,"")>
  <input type="text" name="q" value="#HTMLEditFormat(URL.q)#" id="searchInput" />
  <cfelse>
  <input type="text" name="q" value="Search Our Site..." onclick="resetField(this, 'Search Our Site...')" id="searchInput" />
  </cfif>
  <input type="submit" name="submit" value=" " id="searchButton" class="submit" />
</form>
</div>
</cfoutput>