<div id="topperHTMLCodes" style="display:none;">Update Profile</div>
<div id="themeImageHTMLCodes" style="display:none;"><img src="images/pht_classes_programs.jpg" width="202" height="244" /></div>
<script type="text/javascript">
<!--
$(document).ready(function(){
  if (trim($("#titleBar").html()) == "") $("#titleBar").html($("#topperHTMLCodes").html());
  if (trim($("#thmemImage").html()) == "") $("#thmemImage").html($("#themeImageHTMLCodes").html());  
});
//-->
</script>

<div class="contentWrapper">

<p class="head">Update Profile</p>
<br>

<p>Your profile has been successfully updated.</p>

<cfoutput>
<a href="#Application.siteURLRoot#">Back To Home Page</a>
</cfoutput>
</div>