<cfsilent>
<cfparam name="URL.msgid">
<cfparam name="URL.uid">

<cfset CM=CreateObject("component", "com.Communication").init()>
<cfset emailID=CM.simpleDecrypt(URL.uid)>

<cfif IsNumeric(emailID) AND IsNumeric(URL.msgid)>
  <cfset HTMLEmailContent=CM.getHTMLEmailContent(messageID=URL.msgid, emailID=emailID)>
</cfif>
</cfsilent>
<cfif IsDefined("HTMLEmailContent")>
  <cfoutput>#HTMLEmailContent#</cfoutput>
</cfif>