<cfparam name="URL.uid">

<cfset CM=CreateObject("component", "com.Communication").init()>
<cfset emailID=CM.simpleDecrypt(URL.uid)>

<div id="topperHTMLCodes" style="display:none;">Archives</div>
<div id="themeImageHTMLCodes" style="display:none;"><img src="images/pht_classes_programs.jpg" width="202" height="244" /></div>
<script type="text/javascript">
<!--
$(document).ready(function(){
  if (trim($("#titleBar").html()) == "") $("#titleBar").html($("#topperHTMLCodes").html());
  if (trim($("#thmemImage").html()) == "") $("#thmemImage").html($("#themeImageHTMLCodes").html());  
});
//-->
</script>


<div class="contentWrapper">

<cfif IsNumeric(emailID)>
  <cfset mailArchive=CM.getCampaignArchiveByEmailID(emailID)>
  <p>The following are those e-mails that have been sent to the lists you have subscribed.</p>
  <cfset listIDTemp=0>
  <cfoutput query="mailArchive">
  <cfif listIDTemp IS NOT listID>
  <p class="subhead">#listName#</p>
  </cfif>
  &nbsp;&nbsp;&nbsp;&nbsp;<a href="index.cfm?md=communication&tmp=viewcampaign&nowrap=1&msgid=#messageID#&uid=#URL.uid#" target="_blank">#emailSubject#</a><br />
  <cfset listIDTemp=listID>
  </cfoutput>
</cfif>

</div>