﻿/****************************** COMMON MODULE CSS *****************************************/
.aspNetDisabled { color: #505050; text-decoration: none!important; color: #a5a4a4;}

.errortext {color: #C11B17;}
.p-list { width: 80%;  float: left;}
.phones {padding: 12px 0 12px}
.reg-callout .columns{margin-left: 0}
.alpha-list {}
.alpha-list li {margin-bottom: 0 !important;}
.module-alphabet-list {list-style: none; margin: 0; padding-left: 0; margin-left: 0 !important;}
.module-alphabet-list .columns { padding: .3em .0; margin-left: 0; }

.core-search .column, .core-search .columns { overflow: visible !important; }
.core-profile .return > a:before { content: "\00AB\00a0"; }

.module-alphabet-list a {text-decoration: none; font-size: 14px;}

/* Module Lists */
ol{
	padding: 0;
	margin: 0 0 1em 0em !important;
	list-style-position: inside;
}
ol li {
	background: none !important;
	padding: 0 0 8px 0 !important;
}
article ul {
	list-style: none outside none; 
	padding: 0;
}

ul{
	margin: 0 0 1em 0em;
	list-style: none;
}

ul li{
	background-image: url("/assets/images/footer/pink-arrow.png");
	background-repeat: no-repeat;
	background-position: left 8px;
}

ul ul li{
	background-image: url("/assets/images/layout/midot-pink.png");
	margin-bottom: 0px;
}

ul ul {
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}

li {
   /* background: url("/assets/default/images/bullet.gif") no-repeat scroll 0 8px transparent;*/
    padding: 0 0 3px 14px;
}

.main-content li a{
	margin-bottom: 5px;
	display: block;
	font-weight: 600;
}

.main-content li ul li a{
	margin-bottom: 0px;
	font-weight: 400;
}

.listing .columns { margin-bottom: 1.5em; }
.listing-item { overflow: hidden; }
.listing-item .three.columns { text-align: center; }
.listing-item .three.columns div { margin-bottom: 1em; }
.listing-item .left {
	float: left; 
	margin-right: 32px; 
	padding-top: 6px; 
	margin-bottom: 32px;
}
.listing-item .left .listing-item-more-link {
	height: 23px; 
	margin: 12px 0 30px; 
	text-align: center;
}
.listing-item .left .listing-item-more-link a { text-decoration: none; }
.listing-item .module-thumbnail { display: block; }
.listing .columns { margin-left: 1.95313%; }
.listing .columns:first-child { margin-left: 0 !important; }
.listing-item h4 + div, .core-search h4 + div {margin-left: 0 !important;}
.callout .listing-item {
    margin: 6px 8px 10px 0;
    overflow: hidden;
}


/****************************** THis section will be more to the Demonic WFFM css***********************/
.scfSectionContent .columns label { font-weight: normal; }
.scfSingleLineTextUsefulInfo {
	font-style: italic;
	font-size: .9em;
}
.scfSectionLegend {
	padding: 1em 0;
	font-weight: bold;
	text-decoration: none;
}
.scfForm input, .scfForm textarea { width: 100%; }
.scfRequired { display: none !important; }
.scfCheckBoxList { margin: 1em 0; }
.scfCheckBoxList td { padding: 0; }
.scfCheckBoxList td input, .scfCheckbox input {
	width: auto; 
	float: left; 
	position: relative; 
	top: .2em;
}
.scfCheckBoxList td label, .scfCheckbox label{
	width: auto; display: 
	inline-block !important; 
	padding-left: .8em; 
}
.required span { color: #E50000 !important; }
.scfDateSelectorLabel {
	font-weight: bold;
	padding: 1em 0;
	overflow: hidden;
	display: block;
}
.scfDatePickerGeneralPanel input { width: 35%; }
.scfDateSelectorGeneralPanel > div, .scfDateSelectorGeneralPanel > label {
	width: 28.53516% !important; 
	float: left; 
	margin-right: 1.95313% !important;
}
.scfSubmitButtonBorder.columns { margin: 1em 0; }
.scfSectionContent .state .twelve, .scfSectionContent .zipcode .twelve, .scfSectionContent .cvv .twelve, .scfSectionContent .amount .twelve, .scfSectionContent .scfCreditCardBorder .twelve, .scfSectionContent .ccselect .twelve{ width: 32.03125% !important; } 

@media only screen and (max-width: 30em) and (min-width: 20em) {
	.scfSectionContent .state .twelve, .scfSectionContent .zipcode .twelve, .scfSectionContent .cvv .twelve, .scfSectionContent .amount .twelve, .scfSectionContent .scfCreditCardBorder .twelve, .scfSectionContent .ccselect .twelve{ width: 100% !important; } 
}
/****************************** THis section will be more to the Demonic WFFM css***********************/

/*Proxy====================*/
.leftnav-title {clear: both; font-size: 15px; font-weight: bold; padding: 0 0 12px;}
.leftnav-title a{color: #595a54 !important; text-transform: uppercase;}

.selected {font-weight: bold;}

.left-nav {background: none; width: 100%; padding-left: 0px; margin-bottom: 40px; overflow: hidden;}
.left-nav div{/*padding-left: 12px;*/}
.left-nav a{text-decoration: none; font-weight: 700; font-size: 0.9em; color: #464646;}

.nav-item:hover {font-weight: 600; text-decoration: underline;}

.level-2{padding-left:50px !important; background-image: url("/assets/images/footer/pink-arrow.png"); background-position: 35px 13px; background-repeat: no-repeat;}
.level-2,.level-3 {border-bottom: 0 !important;}
.level-3{padding-left:40px !important;}

.headline{
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 20px;
	margin-bottom: 25px;
}

.headline > table td{
	padding: 0;
}

.headline .left-nav,
.headline h1{
	margin-bottom: 0;
}

.headline .left-nav{
	overflow: hidden;
	width: 66%;
	float: right;
}

.left-nav > div {
	width: 100%;
	float: left;
}

.headline .left-nav > div{
	width: 50%;
}

.headline .headline-nav{
	float: right;
	width: 100%;
}

.headline .level-2,
.headline .leftnav-title{
	display: none;
}

.headline .level-1{
	padding-left: 20px !important;
	background-image: url("/assets/images/footer/pink-arrow.png");
	background-position: 0px 13px;
	background-repeat: no-repeat;
}

.headline .level-1:last-child{
	padding-bottom: 0;
}

.headline-main-heading{
	vertical-align: bottom;
	width: 50%;
}

.headline-main-heading > div{
	float: left;
}

.active {font-weight: 700;}
.nav-item { padding: 6px 15px 6px 0px; display: block; line-height: 20px; font-weight: 600;}

.expanded .level-2.nav-item,
.left-nav .expanded .level-2 a {
	font-weight: 400;
}

.nav-item.active{font-size: 0.9em;}

.on {font-weight: bold;}

/*Proxy====================*/


.module-alphabet-list li {float: left; background-image: none;}

.selectbox, .selectbox2 {
	border:1px solid #ccc;
	background:url(http://i48.tinypic.com/2u7rpec.png) no-repeat right center;	
	border-radius:3px;
	cursor:pointer;
	position: relative;
}
.selectbox:hover, .selectbox:focus, .selectbox2:hover, .selectbox2:focus {
	border:1px solid #ccc;
	background: url(http://i48.tinypic.com/2u7rpec.png) no-repeat right;
	border-radius:3px;
	cursor:pointer;
}	
.selectbox div, .selectbox2 div {
	z-index: -1;
	border: 0px solid #000;
	overflow: hidden;
	padding: 6px 8px;
	cursor: pointer;
	font-size: 16px;
}	
.selectboxdiv {
    width: 100%;
    position: absolute;
	top: -3px;
    left: 0;
    margin-top: 0;
	cursor: pointer;
    z-index: 2;	
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}	

.hasDatepicker {padding-left: 4px; padding: 6px 8px; font-size: 16px;}
.col-4 .hasDatepicker, .col-6 .hasDatepicker {margin: 6px 0;}
.listing-pic {margin-bottom: 12px; margin-right: 12px;}
.generic-listing {padding-top: 12px}
.teaser-copy {display: block; float: left; width: 80%;}

.search-option{float: left; margin-right: 22px; width: 300px; padding-bottom: 12px;height: 70px; position: relative;}
.clinicalChkBxWrapper{padding: 6px;}
.clinicalChkBxWrapper input{float: left;margin-top: 2px; margin-right: 6px;}
.clinicalChkBxWrapper label{float: left;}
.search-option-submit {float: left; padding-bottom: 1em; position: relative; width: 622px;}
.col-4 .search-option, .col-6 .search-option {width: 100%; height: 100%;}
.col-4 .search-option {width: 100%;}

.columns .textbox, .columns .dropdown{width: 100%; *width: 98%; width: 98%/9; padding-left: 4px;}
.columns .half {width: 45%; *width: 47%; display: inline-block; *display: block; *float: left; position: relative;}
.columns .half input {width: 100%;}
.columns label, .search-option-wide label {display: block; font-size: 13px; font-weight: bold; margin-bottom: 6px; }
.columns .errortext {float: right; font-size: 11px;}
.half .errortext {padding-top: 0;}

.search-option-wide, .toggle-hide-show {display: block; clear: both; margin-bottom: 12px; padding: 0 0 1em; font-size: .9em;}


.search-submit {
    margin-top: 20px;
}

.search-form {clear: left;}

.col-4 .search-submit {position: relative;bottom:0;}
.styled{width: 100%; background-color: #fff;}
.return { margin: 0 0 22px;}

.col-5 .module-alphabet-list li:first-child {
    padding-left: 9px;
}

.left {float: left; margin-right: 12px; margin-bottom: 6px;}
.right, .float-right {float: right; margin-left: 12px; margin-bottom: 6px;}
.clear {clear: both;}
.small-text {font-size: 11px;}
.active {font-weight: 700;}
.pipe {padding: 0 6px;}
.date {display: block;font-weight: bold;}

.ui-tabs-panel ul {}
.ui-tabs-panel ul li {}

.form-toggle {display: none; clear: left;}
.form-toggle .columns:nth-child(odd),
.columns.datepicker,
.columns.datepicker .columns:nth-child(odd)
{margin-left: 0}

.module-view-all { padding-top: 5px; overflow: hidden; }
.module-view-all a { float: right; }

@media only screen and (min-width: 30em) and (max-width: 48em) {
	.core-search-again .twelve.columns { overflow: inherit !important; }
	.alpha-list { width: 100%; }
}




/****************************** PAGINATION CSS *****************************************/
.module-pg-wrapper {
	text-align: center; 
	margin: 12px 0 22px;
}
.module-pg-nav a, .module-pg-nav span { margin:  0 3px; }
ul.pagination {
	display: inline-table;
	height: 1.33333rem;
	margin-left: -0.27778rem; 
}
ul.pagination li {
	height: 1.33333rem;
	color: #222222;
	font-size: 0.77778rem;
	margin-left: 0.27778rem; 
}
ul.pagination li a {
	display: block;
	padding: 0.05556rem 0.55556rem 0.05556rem;
	color: #999999;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
}
ul.pagination li:hover a, ul.pagination li a:focus { background: #e6e6e6; }
ul.pagination li.no-link a {
	cursor: default;
	color: #999999; 
}
ul.pagination li.no-link:hover a, ul.pagination li.no-link a:focus { background: transparent; }
ul.pagination li.active a {
	background: #1273a3;
	color: white;
	font-weight: bold;
	cursor: default; 
}
ul.pagination li.active a:hover, ul.pagination li.active a:focus { background: #1273a3; }
ul.pagination li {
	float: left;
	display: block; 
}

/* Pagination centred wrapper */
.pagination-centered { text-align: center; }
.pagination-centered ul.pagination li {
	float: none;
	display: inline-block; 
}

/****************************** SITE SEARCH MODULE CSS *****************************************/
.module-ss-search-box { display: inline; float: right; margin: 12px 6px 0; padding: 0; }
.module-ss-search-box .textbox {
    border: 1px solid #B0B0B0;
    float: left;
    margin: 1px 5px 0 0;
    padding: 2px;
    width: 176px;
	height: 16px;
}
.module-ss-search-again.grid {margin: 0 0 1em 0;}
.module-ss-search-again-keyword label, .module-ss-search-again-category label {margin: 0 2px;}
.module-ss-search-again .button, .module-nw-search .button {display: block; margin: 12px 0 0; clear: both;}
.module-ss-search-again .errortext {font-size: 11px;}
.module-ss-priority {margin: 12px 0 22px;}
.module-ss-filters-list li {margin: 2px 0 2px 6px}
.module-ss-current-keyword, .module-search-keyword { color: #B09B21;}

.module-search-main.columns,
.module-search-main .columns {
	margin-bottom: 15px;
}

.module-search-main.columns {
	margin-bottom: 40px;
	margin-left: 0px;
}

.module-nw-search .columns.datepicker {
	margin-bottom: 0px;
}

.module-nw-search .datepicker .columns input {
	width: 100%;
	padding-left: 4px;
}

.module-core-results .twelve.columns{
	margin-bottom: 30px;
}

.tabs .columns{
	padding-top: 20px;
	padding-bottom: 5px;
}

.site-search-priority .listing .priority {background: #eee; padding: .8em}

/****************************** CALENDAR MODULE CSS *****************************************/
.module-ce-offerdates .listing-item {background: #fdfdfd; border:  1px solid #ccc;padding: 12px; position: relative; margin-bottom: 1em;}
.module-ce-offerdates .highlight { background: #eeeeee; }
.module-ce-search {overflow: hidden; margin-bottom: 12px;}
.col-4 .module-ce-search {overflow: visible;}
.module-ce-contact, .module-ce-register, .search-lib {margin: 12px 0;}
.module-ce-eventdaypicker { background: none !important; margin-bottom: 0!important; }
.module-ce-topic-upcoming {padding-top: 12px; padding-bottom: 12px;}
.col-4 .module-ce-eventdaypicker {margin-bottom: 12px !important;}
.cal-location-name {margin: 12px 0}
.event-register { position: absolute; right: 21px; top: 19px;}
.event-register a:hover { text-decoration: none;}
.module-ce-filters-list li {padding-bottom: 3px;}

.module-ce-session-upcoming {overflow: hidden;}
.module-ce-topic-upcoming h4, .module-ce-session-upcoming h4 {margin-bottom: 12px;}

.module-ce-view-all { padding-top: 5px;overflow: hidden; }
.module-ce-view-all a { float: right; }

/****************************** PHYSICIAN DIRECTORY MODULE CSS *****************************************/
.module-pd-profile-top h1{
	color: #464646;
}

.module-pd-search {margin: 22px 0;}

.new-patients{
	border: 1px solid #ec2b8c;
	background-color: #fce5f1;
	background-image: url("/assets/images/layout/new-patients.png");
	background-repeat: no-repeat;
	background-position: 15px 7px;
	border-radius: 5px;
	padding: 15px 10px 15px 70px;
	margin-bottom: 2em;
}

.new-patients p{
	color: #ec2b8c;
	margin: 0px;
	font-weight: 700;
}

.physician-profile-pic{
	border-top: 5px solid #ec2b8c;
	margin-bottom: 2em;	
}

.physician-profile-vid{
	margin-bottom: 2em;
}

.address-callout{
	background-color: #ec2b8c;
	text-align: center;
	color: white;
	font-size: 1.1em;
	padding: 20px;
}

.address-callout a,
.address-callout p{
	color: white;
}

.address-callout .button{ 
	display: block;
	width: auto;
	max-width: 10em;
	margin: 2em auto 0 auto;
}

.address-callout p{
	margin-bottom: 0.2em;
}

.core-search .columns, .module-pd-search .columns, .module-pd-search-again .columns, .pd-profile .columns, .module-nw-search .columns, .scfSectionContent .columns {margin-bottom: 1em}
.module-pd-search .columns .columns, .scfSectionContent .columns .columns {margin-bottom: 0}

.module-pd-quick-search {position: relative;}
.module-pd-profile {height: 1%; overflow: hidden; position: relative;}
.module-pd-degrees {display: inline;margin-left: -5px;}
.module-pd-info {line-height: 24px; font-weight: bold;padding-bottom: 16px;}
.module-pd-office-listing {padding: 1em 0 0;}
.module-pd-profile .module-pd-office-listing {padding: 0 0 22px;}


.module-pd-office-item div {padding-bottom: 6px;}
.module-pd-office-item h5 {font-weight: bold; margin-bottom: 0; display: inline;}
.module-pd-tab-label {font-weight: bold;}
.module-pd-attribute {padding-bottom: 15px;}
.module-pd-az {margin: 22px 0 12px;}
.nine .module-pd-az .one {
width: 3.845% !important;
}

.module-pd-specialty-list {}
.module-pd-specialty-list h2 {font-size: 14px; font-family: Arial, Helvetica, sans-Serif; margin-bottom: 0; line-height: 20px;}

.module-pd-services {float: left; line-height: 20px;}
.module-pd-specialty-list ul {margin-left: 0; margin-top: 0;}
.module-pd-specialty-list li {background: none; padding: 0;}

.module-pd-view-all { padding-top: 5px;overflow: hidden; }
.module-pd-view-all a { float: right; }

.module-pd-offices .six.columns  {margin-bottom:1em}
.module-pd-offices .six.columns:nth-child(3n)  {margin-left:0}
/****************************** FAQ MODULE CSS *****************************************/
.module-faq-search {position: relative;}

/****************************** NEWS MODULE CSS *****************************************/
.module-nw-search {position: relative;}
.module-nw-filters-list li {padding-bottom: 3px;}
.module-nw-detail .date {margin-bottom: 12px; display: block;}

/****************************** LOCATION DIRECTORY MODULE CSS *****************************************/
.module-lc-info {float: left; padding-right: 12px; width: 40%;}
.module-lc-services {float: left; line-height: 20px;}
.module-lc-address, .module-lc-hours { margin: 18px 0;}
.module-lc-image {margin-bottom: 6px}
.module-lc-profile {height: 1%; overflow: hidden; padding: 20px 20px 20px 12px; position: relative;}

@media only screen and (max-width: 31.25em) {
	.module-lc-info, .module-lc-services { text-align: center; }
}

/****************************** GREETING CARDS MODULE CSS *****************************************/
.thumb-greeting {float: left; margin: 12px; padding-bottom: 12px; text-align: center;}
.thumb-greeting span {display: block; padding-left: 12px; padding-top: 3px;}
.module-gc-greetingcardpreview input { margin-left: 12px;}
.module-gc-greetingcardpreview li {background: none; padding: 6px 0}
.module-gc-greetingcardpreview li span {font-weight: bold;}

/****************************** CLINICAL TRIALS MODULE CSS *****************************************/
.module-ct-results label {font-weight: bold;}
.module-ct-profile label {font-weight: bold;}
.module-ct-profile .single-line-listing {padding-bottom: 10px;}
.module-ct-profile .paragraph-listing {padding-bottom: 10px;}
.paragraph-listing .label { display: block;}
.module-ct-view-all { padding-top: 5px;overflow: hidden; }
.module-ct-view-all a { float: right; }

/****************************** PHOTO GALLERY MODULE CSS *****************************************/
.module-pg-simplegallery #thumbs li { background:none; }

/****************************** SERVICES MODULE CSS *****************************************/
.module-sv-alpha {
    margin-bottom: 12px;
    overflow: hidden;
}
.module-sv-search-custom { margin-top:1em; padding-top:1.6em;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li { border: none !important; border-top:1px solid #ededed !important; margin:0; border-top: 1px solid transparent !important; background-color: transparent; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav { background:#fdfdfd;  padding: 20px 10px;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li a, .module-sv-alpha-custom .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { padding: 4px 8px; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li.ui-tabs-selected { background-color:#fff !important; border: 1px solid #ededed !important; -webkit-border-radius: 6px !important; -moz-border-radius: 6px !important; border-radius: 6px !important; padding-bottom:0;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li.ui-tabs-selected a { color: #7ab800;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-panel .listing-item:last-child { border-bottom:none; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-panel .listing-item.half:last-child { border-bottom: 1px solid #CCCCCC; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li{ width: auto !important; }
.module-sv-alpha-custom .module-alphabet-list li:first-child { padding-left:0 !important}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li .aspNetDisabled { color: #505050; text-decoration: none!important; color: #a5a4a4; pointer-events: none; cursor: default;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li.ui-tabs-selected .aspNetDisabled { color: #505050; text-decoration: none!important; color: #a5a4a4; pointer-events: none; cursor: default;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-panel { padding-left:21px;}
.module-sv-search-custom .search-option { width:87.5%; margin-right:1%; height:auto }
.module-sv-search-custom .search-option input[type='text'] { font-size:1em; height: 31px; background:url('/assets/default/images/mobile-search.png') no-repeat 99% 50%;  }
.module-sv-search-custom .search-option-submit { width:11.5%; margin-top: 2px;height:2.5em; float:right; padding-bottom:0; }
.module-sv-search-custom .search-option-submit .search-submit{ right:0; left:auto; top:0; }
.module-sv-search-custom .search-option-submit .search-submit input[type="submit"] { margin-top:0; height:26px;}
.col-8 .module-sv-alpha-custom .listing-item { font-size:1.2em; margin-left:0.45em; margin-right:0.45em;}
.col-8 .module-sv-alpha-custom .listing-item.half { width:45%; margin-right:2.5%; position:relative; display:inline-block;}
.module-sv-featured h2{margin-top: 0px; line-height: 16px;}
.content .module-sv-featured .two-col li{border-bottom: 0px; padding-bottom: 2px;font-size: 1.2em;}

.module-ss-search-again .twelve.columns{
	margin-left: 0px;
}

.module-core-results .twelve.columns{
	margin-bottom: 15px;
}

.module-core-results .twelve.columns .teaser-copy{
	width: 100%;
}


/****************************** PUBLICATIONS MODULE CSS *****************************************/
.module-pb-view-all { padding-top: 5px; overflow: hidden; }
.module-pb-view-all a { float: right; }


/****************************** STAYWELL MODULE CSS *****************************************/
.module-sw-listbyalphaform .module-alphabet-list {
	overflow: hidden; 
	margin-bottom: 22px;
}
.Question {padding-bottom: 15px;}
.module-sw-contentbyid table {
	width: 100%;
	margin: 15px 0 30px;
}
.module-sw-contentbyid table th {
	padding: 5px 10px 7px;
	border: 1px solid #dedede;
	font-weight: bold;
	text-align: left;
	color: #fff;
	background: #0073CF;
}
.module-sw-contentbyid table td {
	padding: 10px 11px 12px;
	font-size: .917em;
	line-height: 1.273em;
	border: 1px solid #dedede;
	vertical-align: top;
}


/****************************** POLICY PROCEDURE MODULE CSS *****************************************/
.module-pp-sitemap {clear: left;}
.module-pp-sitemap ul {list-style-type: none; margin-top: .6em}
.module-pp-sitemap li {padding: 0 0 0.4em 1.1em;}
.tree {margin-top: 1.5em !important}
.tree .expand {background: none; position: relative;}
.expand li {margin-left: 1em;}
.static {color: #00697e}
.jtree-arrow {
	font-weight: bold;
	font-size: 14px;
	color: #f69d5b;
	padding-right: 4px;
	position: absolute;
	width: 60%;
	left: 0;
	background: url('/assets/default/images/spacer.png') repeat;
}
.module-pp-profile {}
.module-pp-profile .columns { margin-bottom: 1em}
.policy-content div {padding-bottom: .8em}


/****************************** GALLERY MODULE CSS *****************************************/
.module-photo-gallery .stage { margin-bottom: 1.5em; }
.module-photo-gallery .image-wrap {
	width: auto;
	width: 100%;
	min-height: 500px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.module-photo-gallery .image-wrap:after {
	content: "";
	display: table;
	clear: both;
}
.module-photo-gallery .image-wrap > img {
	z-index: 999997;
	position: relative;
	margin: 0 auto;
}

.module-photo-gallery .mt-item-wrap { width: 100%; }
.module-photo-gallery .mt-item-wrap > div { margin: 0 auto; }

.module-photo-gallery .image-overlay {
	color: #fff;
	position: absolute;
	padding: 0.75em;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);	
	width: 100%;
	z-index: 9999999;
}
.module-photo-gallery .stage .image-count { display: table-cell; vertical-align: middle; padding-right: 1.0em; width: 80px; min-height: 50px; }
.module-photo-gallery .stage .image-details { display: table-cell; }
.module-photo-gallery .stage .image-title { font-size: 1.0em; margin-bottom: 0.25em;}
.module-photo-gallery .stage .image-desc { font-size: 0.9em; }

.module-photo-gallery .thumbs > div { margin: 0 auto; }
.module-photo-gallery .thumbs > div:after { content: ""; display: table; clear: both; }
.module-photo-gallery .thumbs img { width: 100px; height: 100px; margin: 0 7.5px 15px; opacity: 0.8; }
.module-photo-gallery .thumbs img.active { opacity: 1.0; }

.mt-gallery-paging { margin: 0.75em auto; text-align: center; } 
.mt-gallery-paging a.mt-prev { margin-right: 0.5em; }
.mt-gallery-paging a.mt-prev:before { content: "\00ab  "; position: relative; top: -1px; }
.mt-gallery-paging a.mt-next { margin-left: 0.5em; }
.mt-gallery-paging a.mt-next:after { content: " \00bb"; position: relative; top: -1px; }


/****************************** BLOG MODULE CSS *****************************************/
.post {margin: 1em 0 1.5em;}
.module-nw-search .columns {margin-bottom: 1em;}


/****************************** HEALTH LIBRARY MODULE CSS *****************************************/
.health-library {text-align: center}
.health-library img {margin-bottom: .4em}
.health-library .columns {margin-bottom: 1.2em; font-size: .9em;}
.health-library-results a {font-weight: bold}
.health-library-results .listing-item {padding-top: 0;}
.module-sw-contentbyid li {margin-left: 1em}
