<%@ Master Language="C#" MasterPageFile="~/UX/HTML/masters/GeneralInner.master" AutoEventWireup="true" %>


<asp:Content ID="Content2" ContentPlaceHolderID="Frame" runat="server">
	<asp:ContentPlaceHolder ID="TopPanel" runat="server"></asp:ContentPlaceHolder>

	<asp:ContentPlaceHolder ID="MainHeading" runat="server"></asp:ContentPlaceHolder>	

	<div class="wide-left">
		<div class="mobile-left-col"></div>

	    <section class="nine columns">
		    <asp:ContentPlaceHolder ID="ContentPanel" runat="server"></asp:ContentPlaceHolder>	
		</section>	
		
		<aside class="three columns">
			<asp:ContentPlaceHolder ID="RightPanel" runat="server"></asp:ContentPlaceHolder>	
		</aside>	
	</div>
</asp:Content>	



