
body {
font-family: sans-serif;
font-size:12px;
margin: 0px;
padding: 0px;
counter-reset: page 1;
color:#454545;
}

img {margin:0px;padding:0px;}

.hr {
display:block;
height: 1px;
background-color: #CCCCCC;
margin: 10px 0;
}


table.ptop{	margin:0px;width:100%;border-bottom-width:1px;border-bottom-color:#ec2b8c;border-bottom-style:solid;}
td {word-wrap: break-word;vertical-align:top;text-align:left;font-size:12px;}
td.topleft{	vertical-align:top;text-align:left;font-size:18px;color:#ec2b8c;}
td.topright {vertical-align:top;text-align:right;font-size:18px;color:#ec2b8c;}

h3 {color:#ec2b8c; font-size:20px; font-weight:bold; margin:0; }
h4 {color:#ec2b8c; font-size:14px; font-weight:bold; margin:0; }
h5 {color:#ec2b8c; font-size:12px; font-weight:bold; margin:10px 0 0 0; }

p.cover {
margin-left:35px;
margin-right:35px;
margin-top:35px;
margin-bottom:35px;
padding-top:300px;
padding-bottom:415px;
padding-right:0px;
padding-left:0px;
text-align:center;
width:90%;
height:100%;
border:5px solid #ec2b8c;
}

.wrapper { margin: 0 auto;}
.document-name{font-size:18px;color:#ec2b8c;display: none;}
.document-title{font-weight: bold;font-size:40px;color:#454545;}
.document-caption{font-size:14px;color:#CCCCCC;string-set: thedate content();}
.document-logo{ padding: 20px; margin-bottom: 20px; display:block;}
.listing { margin:5px 35px; width:730px; }
.location { margin: 0 0 10px 0;}
.content { margin: 0 0 10px 0;}
.clear { clear:both; }
.doc-small { display: inline-block;font-size: 12px; color:#454545;padding: 0 5px;}
.doc-position {color:#454545;font-weight: bold;}
.col-name { padding-bottom: 10px;}
.col-photo { width: 120px;padding-right: 10px; }
.col-location {width: 210px; }
.col-info { width: 370px;padding-left: 10px;}

span.page-header{ flow: static(pagehead) }

@page { 
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 0;
    
    @top {
	content: flow(pagehead)
    }
    @bottom-right { 
    content: "Page " counter(page) " of " counter(pages);
	color:#CCCCCC;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
    }
    @bottom-left {
	content: string(thedate);
	color:#CCCCCC;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
    }
}

@page:first { 
    margin: 0cm;
    padding: 0cm;

    @top {
	content: normal;
    }
    @bottom-right { 
	content: normal;
    }
    @bottom-left {
	content: normal;
    }
}