﻿
body
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
    counter-reset: page 1;
    color: #454545;
}

img
{
    margin: 0px;
    padding: 0px;
}

table.ptop
{
    margin: 0px;
    width: 100%;
    border-bottom-width: 1px;
    border-bottom-color:#ec2b8c;
    border-bottom-style: solid;
}
td
{
    word-wrap: break-word;
    vertical-align: top;
    text-align: left;
    font-size: 12px;
}
td.topleft
{
    vertical-align: top;
    text-align: left;
    font-size: 18px;
    color:#ec2b8c;
}
td.topright
{
    vertical-align: top;
    text-align: right;
    font-size: 18px;
    color:#ec2b8c;
}

h3
{
    color: #ec2b8c;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}
h4
{
    color: #ec2b8c;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
}
h5
{
    color:#ec2b8c;
    font-size: 12px;
    font-weight: bold;
    margin: 10px 0 0 0;
}


.wrapper
{
    margin: 0 auto;
}
.document-name
{
    font-size: 40px;
    /*color:#ec2b8c;*/
    color: #454545;
    padding-top: 550px;
    display: block;
    font-weight: bold;
}
.document-title
{
    font-weight: bold;
    font-size: 40px;
    color: #454545;
    /*padding-top: 550px;*/
	display: block;
}
.document-caption
{
    font-size: 14px;
    color: #CCCCCC;
    string-set: thedate content();
}
.document-logo
{
    padding: 20px;
}
.listing
{
    margin: 5px;
    width: 730px;
}
.location
{
    margin: 0 0 10px 0;
}
.content
{
    margin: 0 0 10px 0;
}
.clear
{
    clear: both;
}
.doc-small
{
    display: inline;
    font-size: 12px;
    color: #454545;
    padding: 0 5px;
}
.doc-position
{
    color: #454545;
    font-weight: bold;
}
.doc-photo
{
    max-width: 120px;
}
.col-name
{
    padding-bottom: 10px;
}
.col-photo
{
    width: 120px;
    padding-right: 10px;
}
.col-location
{
    width: 210px;
}
.col-info
{
    width: 370px;
    padding-left: 10px;
}

span.page-header
{
    flow: static(pagehead);
}

p.cover
{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    text-align: center;
    /*padding-top: 430px;
    padding-bottom: 415px;
    padding-right: 0px;
    padding-left: 0px;
    width: 95%;*/
    height: 1300px;
    border: 5px solid #ec2b8c;
    page-break-after: always;
}

.listing
{
    margin-left: 35px;
    margin-right: 35px;
    margin-top: 35px;
    margin-bottom: 35px;
    /*padding-top: 430px;
    padding-bottom: 415px;
    padding-right: 0px;
    padding-left: 0px;*/
    page-break-after: always;
}
table { page-break-inside: avoid; }
.listing table
{
    margin-left: 35px;
}
.hr
{
    background-color: #CCCCCC;
    display: block;
    height: 1px;
    margin: 10px 0;
}

@page { 
    margin-top: 2cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
    padding: 0;
    
    @top {
	content: flow(pagehead)
    }
    @bottom-right { 
    content: "Page " counter(page) " of " counter(pages);
	color:#CCCCCC;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
    }
    @bottom-left {
	content: string(thedate);
	color:#CCCCCC;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
    }
}

@page:first { 
    margin: 0cm;
    padding: 0cm;

    @top {
	content: normal;
    }
    @bottom-right { 
	content: normal;
    }
    @bottom-left {
	content: normal;
    }
}