<script type="text/javascript" src="modules/alias/home.js"></script>

<div class="header">URL Alias</div>

<div id="actionBar">
<a href="#" class="fg-button ui-state-default ui-corner-all button65" onclick="addAlias();">New</a>
<a href="#" class="fg-button ui-state-default ui-corner-all button65" onclick="editAlias();">Edit</a>
<a href="#" class="fg-button ui-state-default ui-corner-all button65" onclick="deleteAlias();">Delete</a>
</div>

<div id="mainDiv"></div>