<script type="text/javascript" src="modules/doctor/metadata.js"></script>

<cfset DD=CreateObject("component", "com.DoctorAdmin").init()>
<cfset allOfficeNames=DD.getAllOfficeNames()>


<div class="header">DOCTOR DIRECTORY &gt; META Data</div>

<div id="actionBar">
<a href="#" class="fg-button ui-state-default ui-corner-all button65" onclick="editDoctor()">Edit</a>
</div>

<br style="clear:both" /><br />

<form id="frmSearchDoctors" onsubmit="return false">
Search by Name: <input type="text" name="keyword" size="20" maxlength="30" value=""> <input id="btnSearch" type="button" value=" Submit " onclick="loadDoctorList(1);"> Or 
<a href="#" onclick="browseAllDoctors(1)">Browse All</a>
</form>

<br style="clear:both" /><br />

<div id="mainDiv"></div>
