<div class="snip">
<form id="frmAddGroup" name="frmAddGroup" onsubmit="return false">
<div class="row">
	<div class="col-30-right"><b>Group Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="groupName" size="45" maxlength="50" value="" validate="required:true" />
    </div>
</div>
</form>
</div>