<cfparam name="URL.groupID">
<cfset RA=CreateObject("component", "com.RestrictedAreaAdmin").init()>
<cfset group=RA.getGroup(URL.groupID)>

<cfoutput query="group">
<div class="snip">
<form id="frmEditGroup" name="frmEditGroup" onsubmit="return false">
<input type="hidden" name="groupID" value="#URL.groupID#" />
<div class="row">
	<div class="col-30-right"><b>Group Name:</b></div>
    <div class="col-68-left">
      <input type="text" name="groupName" size="45" maxlength="50" value="#HTMLEditFormat(groupName)#" validate="required:true" />
    </div>
</div>
</form>
</div>
</cfoutput>