<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<cfset oldHostName="womans.ioniclogic.com">
<cfset newHostName="test.womans.org">

<!--- Newsroom --->
<!--- <cfquery name="qPages" datasource="#Application.datasource#">
  SELECT articleID, fullStory
  FROM nr_article
  WHERE fullStory LIKE '%#oldHostName#%'
</cfquery>

<cfloop query="qPages">
  <cfset fullStoryNew=Replace(fullStory,'#oldHostName#','#newHostName#','All')>
  <cfquery datasource="#Application.datasource#">
	UPDATE nr_article
    SET fullStory=<cfqueryparam cfsqltype="cf_sql_longvarchar" value="#fullStoryNew#">
    WHERE articleID=<cfqueryparam cfsqltype="cf_sql_integer" value="#articleID#">
  </cfquery>
</cfloop> --->

<!--- Page Builder --->
<!--- <cfquery name="qPages" datasource="#Application.datasource#">
  SELECT pageID, pageContent
  FROM pb_page
  WHERE pageContent LIKE '%#oldHostName#%'
</cfquery>

<cfloop query="qPages">
  <cfset pageContentNew=Replace(pageContent,'#oldHostName#','#newHostName#','All')>
  <cfquery datasource="#Application.datasource#">
	UPDATE pb_page
    SET pageContent=<cfqueryparam cfsqltype="cf_sql_longvarchar" value="#pageContentNew#">
    WHERE pageID=<cfqueryparam cfsqltype="cf_sql_integer" value="#pageID#">
  </cfquery>
</cfloop>

<cfquery name="qPages" datasource="#Application.datasource#">
  SELECT pageID, pageContentHTML
  FROM pb_page
  WHERE pageContentHTML LIKE '%#oldHostName#%'
</cfquery>

<cfloop query="qPages">
  <cfset pageContentHTMLNew=Replace(pageContentHTML,'#oldHostName#','#newHostName#','All')>
  <cfquery datasource="#Application.datasource#">
	UPDATE pb_page
    SET pageContentHTML=<cfqueryparam cfsqltype="cf_sql_longvarchar" value="#pageContentHTMLNew#">
    WHERE pageID=<cfqueryparam cfsqltype="cf_sql_integer" value="#pageID#">
  </cfquery>
</cfloop>
 --->



DONE!!





</body>
</html>
