<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<!--- <cfquery name="qAllDoctorMeta" datasource="#Application.datasource#">
  SELECT recordNum, email
  FROM dd_doctor_meta
  WHERE email<>''
</cfquery>

<cfloop query="qAllDoctorMeta">
  <cfquery name="qDoctorMeta" datasource="#Application.datasource#">
    SELECT recordNum
    FROM dd_doctor_meta_orig
    WHERE recordNum=<cfqueryparam cfsqltype="cf_sql_integer" value="#recordNum#">
  </cfquery>
  
  <cfif qDoctorMeta.recordcount IS 0>
    <cfquery name="qName" datasource="#Application.datasource#">
      INSERT INTO dd_doctor_meta_orig (recordNum, email, dateCreated, dateLastModified)
      VALUES (
        <cfqueryparam cfsqltype="cf_sql_integer" value="#recordNum#">,
        <cfqueryparam cfsqltype="cf_sql_varchar" value="#email#">,
        <cfqueryparam cfsqltype="cf_sql_timestamp" value="#now()#">,
        <cfqueryparam cfsqltype="cf_sql_timestamp" value="#now()#">)
    </cfquery>
  <cfelse>
    <cfquery name="qName" datasource="#Application.datasource#">
      UPDATE dd_doctor_meta_orig
      SET email=<cfqueryparam cfsqltype="cf_sql_varchar" value="#email#">,
      	  dateLastModified=<cfqueryparam cfsqltype="cf_sql_timestamp" value="#now()#">
      WHERE recordNum=<cfqueryparam cfsqltype="cf_sql_integer" value="#recordNum#">
    </cfquery> 
  </cfif>
</cfloop> --->


email DONE!
</body>
</html>
