<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>

<!--- <cfset oldString='class="subHead"'>
<cfset newString='class="subhead"'>


<cfquery name="qPages" datasource="#Application.datasource#">
  SELECT pageID, pageName, pageContent
  FROM pb_page
  WHERE pageContent LIKE '%#oldString#%'
  ORDER BY pageID
</cfquery>


<cfoutput>
<cfloop query="qPages">
  <cfset newPageContent=Replace(pageContent,oldString,newString,"All")>
  <cfquery datasource="#Application.datasource#">
    UPDATE pb_page
    SET pageContent=<cfqueryparam cfsqltype="cf_sql_longvarchar" value="#newPageContent#">
    WHERE pageID=<cfqueryparam cfsqltype="cf_sql_integer" value="#pageID#">
  </cfquery>
  <p><a href="index.cfm?md=pagebuilder&tmp=home&pid=#pageID#" target="_blank">#pageName#</a></p>
</cfloop>
</cfoutput>

DONE! --->


<cfquery name="qClassLimits" datasource="#Application.datasource#">
  SELECT courseID, regLimit, regMaximum
  FROM cl_course
  ORDER BY courseID
</cfquery>

<cfoutput>
Total: #qClassLimits.recordcount#<br /><br />

<cfloop query="qClassLimits">
  <cfquery datasource="#Application.datasource#">
    UPDATE cl_class
    SET regLimit=#regLimit#,
    	regMaximum=#regMaximum#
    WHERE courseID=#courseID#
  </cfquery>
  #courseID# - #regLimit# - #regMaximum#<br />
</cfloop>
</cfoutput>

DONE!



</body>
</html>
