<cfsilent>
<cfscript>
  PG=CreateObject("component","com.PhotoGallery").init();
  allCategories=PG.getAllAlbumCategories();  
</cfscript>
</cfsilent>

<div id="topperHTMLCodes" style="display:none">Photo Gallery</div>
<div id="themeImageHTMLCodes" style="display:none;"><img src="images/pht_gallery.jpg" width="202" height="244" /></div>
<script type="text/javascript">
  $(document).ready(function(){
    if (trim($("#titleBar").html()) == "")  $("#titleBar").html($("#topperHTMLCodes").html());
	//if (trim($("#thmemImage").html()) == "")
	$("#thmemImage").html($("#themeImageHTMLCodes").html());
  });
</script>

<div class="contentWrapper" id="phtGallery"> 
  
  <span class="head">Photo Categories</span>
  
  <cfoutput query="allCategories">
  <div class="phtUnit">
    <div class="gallHead"><a href="index.cfm?md=photogallery&tmp=category&catid=#albumCategoryID#">View Galleries &raquo;</a><span>#albumCategory#</span></div>
  </div>
  </cfoutput>
</div>