<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/sitecore modules/Web/ShareSourceSearchDemo/Demo.Master" Inherits="Sitecore.SharedSource.Search.sitecore.DemoPage1" CodeBehind="DemoPage1.aspx.cs" %>
