<%@ Page Language="C#" AutoEventWireup="true" Inherits="Sitecore.SharedSource.Search.sitecore.DemoPage2" MasterPageFile="~/sitecore modules/Web/ShareSourceSearchDemo/Demo.Master" CodeBehind="DemoPage2.aspx.cs" %>

<asp:Content ContentPlaceHolderID="mainPH" runat="server">
<h3>Search Parameters:</h3>
Find relations to:<br />
<asp:TextBox id="RelatedIdsTextBox" width="300px" runat="server" />
</asp:Content>

