<%@ Page Language="C#" AutoEventWireup="true" Inherits="Sitecore.SharedSource.Search.sitecore.DemoPage3"
   CodeBehind="DemoPage3.aspx.cs" MasterPageFile="~/sitecore modules/Web/ShareSourceSearchDemo/Demo.Master" %>

<asp:Content ContentPlaceHolderID="mainPH" runat="server">
<h3>
   Search Parameters:</h3>
Field 1:
<asp:TextBox id="FieldName1TextBox" runat="server" />
<asp:TextBox id="FieldValue1TextBox" runat="server" />
<br />
Field 2:
<asp:TextBox id="FieldName2TextBox" runat="server" />
<asp:TextBox id="FieldValue2TextBox" runat="server" />
</asp:Content>

