<cfparam name="URL.template">
<cfparam name="URL.formName">

<cfhttp url="#Application.siteURLRootForCFHTTP#/emailtemplates/#URL.template#" method="get" />
<cfoutput>
#cfhttp.FileContent#
<script type="text/javascript">
  mainBody=document.getElementById("mailHTMLContent");
  if (mainBody && opener.document.#URL.formName#.emailBodyHTML)
    mainBody.innerHTML = opener.document.#URL.formName#.emailBodyHTML.value;
</script>
</cfoutput>