<cfparam name="URL.listID">
<cfset CM=CreateObject("component", "com.CommunicationAdmin").init()>
<cfset listInfo=CM.getListByListID(URL.listID)>

<cfoutput query="listInfo">
<form id="frmEditList" name="frmEditList" onSubmit="return false;">
<input type="hidden" name="listID" value="#listID#" />
<div class="row">
  <div class="col-38-right"><b>List Name:</b></div>
  <div class="col-58-left"><input type="text" name="listName" size="40" maxlength="100" value="#HTMLEditFormat(listName)#" validate="required:true" /></div>
</div>
<div class="row">
  <div class="col-38-right"><input type="checkbox" name="published" value="1" <cfif published>checked</cfif> /></div>
  <div class="col-58-left">Publish this list</div>
</div>
<!--- <div class="row">
  <div class="col-38-right">Default E-Mail From Name:</div>
  <div class="col-58-left"><input type="text" name="defaultEmailFromName" size="40" maxlength="100" value="#HTMLeditFormat(defaultEmailFromName)#" /></div>
</div>
<div class="row">
  <div class="col-38-right"><b>Default E-Mail From Address:</b></div>
  <div class="col-58-left"><input type="text" name="defaultEmailFromAddress" size="40" maxlength="100" value="#HTMLEditFormat(defaultEmailFromAddress)#" validate="email:true, required:true" /></div>
</div> --->
</form>
</cfoutput>