<form id="frmAddList" name="frmAddList" onSubmit="return false;">
<div class="row">
  <div class="col-38-right"><b>List Name:</b></div>
  <div class="col-58-left"><input type="text" name="listName" size="40" maxlength="100" validate="required:true" /></div>
</div>
<div class="row">
  <div class="col-38-right"><input type="checkbox" name="published" value="1" checked /></div>
  <div class="col-58-left">Publish this list</div>
</div>
<!--- <div class="row">
  <div class="col-38-right">Default E-Mail From Name:</div>
  <div class="col-58-left"><input type="text" name="defaultEmailFromName" size="40" maxlength="100" /></div>
</div>
<div class="row">
  <div class="col-38-right"><b>Default E-Mail From Address:</b></div>
  <div class="col-58-left">
    <cfoutput>
    <input type="text" name="defaultEmailFromAddress" size="40" maxlength="100" value="#Application.communication.emailDefaultFromAddress#" validate="email:true, required:true" />
    </cfoutput>
  </div>
</div> --->
</form>