<cfparam name="URL.signUpFormID">
<cfset CM=CreateObject("component", "com.CommunicationAdmin").init()>
<cfset lists=CM.getSignFormLists(URL.signUpFormID)>

<ul>
<cfoutput query="lists">
<li>#listName#</li>
</cfoutput>
</ul>