<cfparam name="URL.messageID">
<cfset CM=CreateObject("component", "com.CommunicationAdmin").init()>
<cfset message=CM.getMessage(URL.messageID)>
<cfoutput query="message">
#completeHTMLEmail#
</cfoutput>