<cfparam  name="URL.relativeDirectory">

<cfset folders=ListToArray(URL.relativeDirectory, "/")>
<cfset numFolders=ArrayLen(folders)>
<img src="images/icon_folder_open.gif" border="0" alt="your selected folder" align="absmiddle">

<cfoutput>
<cfset relativeDirectory="">
<cfloop index="idx" from="1" to="#numFolders#">
  <cfif Compare(relativeDirectory, "")>
    <cfset relativeDirectory = relativeDirectory & "/" & folders[idx]>
  <cfelse>
    <cfset relativeDirectory = folders[idx]>
  </cfif>
  <img src="images/icon_arrow_right.gif" border="0" align="absmiddle">
  <a href="##" relativeDirectory="#relativeDirectory#" class="noUnderline">#folders[idx]#</a><!--- Javascript Ref#00002 (click event) --->
</cfloop>
</cfoutput>