<cfparam name="URL.relativeDirectory">
<form id="frmCreateDirectory" onsubmit="return false;">
<cfoutput><input type="hidden" name="relativeDirectory" value="#HTMLEditFormat(URL.relativeDirectory)#"></cfoutput>
<div align="center"><br />
<strong>New Folder Name:</strong> <input type="text" name="directoryName" maxlength="30" value="">
</div>
</form>
<br /><br />