<cfparam name="URL.fileName">
<cfset filePath="#Application.siteDirectoryRoot#/admin/modules/customform/temp/" & URL.fileName>
<cfheader name="Content-Disposition" value="attachment; filename=#URL.fileName#">
<cfcontent file="#filePath#" deletefile="yes" type="xyz/dummy">
