<cfparam name="URL.submissionID">

<cfset CF=CreateObject("component", "com.CustomFormAdmin").init()>
<cfset submissionDataHTML=CF.getSubmissionHTML(URL.submissionID)>


<style type="text/css">
#printerControl {text-align:right;}
</style>
<style type="text/css" media="print">
#printerControl {display:none;text-align:right;}
</style>
<script language="javascript">
<!--
function openprintdialog () {
  var onWindows = navigator.platform ? navigator.platform == "Win32" : false;
  var macIE = document.all && !onWindows;
  if (macIE) {
	alert ("Press \"Cmd+p\" on your keyboard to print");
  } else {
	window.print();
  }  
}
//-->
</script>


<div id="printerControl">
  <p><a href="javascript:openprintdialog();" class="accent01">Print</a> | <a href="javascript:window.close()" class="accent01">Close</a></p>
</div>

<div align="center">
<cfoutput>
#submissionDataHTML#
</cfoutput>
</div>
