<!--==================== Module: Greeting Cards: Categories =============================-->
<div class="module-gc-greetingcardscategories cover">
	
    
            <div class="thumb-greeting">
		
                <a href="#"><img src="/ux/html/_includes/images/filler-profile.jpg" alt="baby stork" width="200" height="160" /><span>Baby Greetings</span></a>
            
	</div>
        
            <div class="thumb-greeting">
		
                <a href="#"><img src="/ux/html/_includes/images/filler-profile.jpg" alt="beewell" width="200" height="160" /><span>Get Well Soon</span></a>
            
	</div>
        
            <div class="thumb-greeting">
		
                <a href="#"><img src="/ux/html/_includes/images/filler-profile.jpg" alt="birthday cake" width="200" height="160" /><span>Happy Birthday</span></a>
            
	</div>
        

</div>
<!--==================== /Module: Greeting Cards: Categories =============================-->
