﻿<%@ Page Title="" Language="C#" MasterPageFile="~/sitecore modules/Web/ShareSourceSearchDemo/Demo.Master" AutoEventWireup="true" CodeBehind="SpatialSearch.aspx.cs" Inherits="Sitecore.SharedSource.Search.sitecore_modules.Web.ShareSourceSearchDemo.MT.SpatialSearch" %>
<asp:Content ID="Content1" ContentPlaceHolderID="mainPH" runat="server">
</asp:Content>
