<cfparam name="URL.formName">
<cfparam name="URL.fieldName">
<cfparam name="URL.stylesheetURL">


<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Preview Content</title>
<cfif URL.stylesheetURL IS NOT "">
<cfoutput>
<link href="#URL.stylesheetURL#" rel="stylesheet" type="text/css">
</cfoutput>
</cfif>
</head>

<body>

<div align="right">
<a href="javascript:window.close()"><img src="images/icon_cancel.gif" border="0" align="absmiddle" alt="Click To Close This Window"></a>&nbsp;&nbsp;
</div>

<cfoutput>
<script language="javascript">
  document.write(opener.document.#URL.formName#.#URL.fieldName#.value);
</script>
</cfoutput>

</body>
</html>
