﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ReturnToSearchLink.ascx.cs" Inherits="MedTouch.Base.layouts.Base.Default.sublayouts.Common.ReturnToSearchLink" %>
<div class="return">
    <asp:HyperLink ID="hlReturnToSearch" runat="server" />
</div>