<cfparam name="URL.articleID">

<cfset NR=CreateObject("component", "com.NewsroomAdmin").init()>
<cfset webAddress=NR.getURLByArticleID(URL.articleID)>

<p align="center">
<cfoutput>
<cfif Find("http://",webAddress) GT 0 OR Find("https://",webAddress) GT 0>
#webAddress#
<cfelse>
#Application.siteURLRoot#/#webAddress#
</cfif>
</cfoutput>
</p>