<cfparam name="URL.articleID">

<cfset NR=CreateObject("component", "com.NewsroomAdmin").init()>
<cfset articleInfo=NR.getArticleByID(URL.articleID)>
<cfset PG=CreateObject("component", "com.PhotoGalleryAdmin").init()>
<cfset allAlbumCategories=PG.getAllAlbumCategories()>

<br />

<cfoutput>
<p>
<b>Items Related To </b> #DateFormat(articleInfo.articleDate, "mm/dd/yyyy")# - #articleInfo.headline#
</p>
</cfoutput>

<p>
<cfoutput>
<form id="frmNavigator">
  Select a Category:
  <select name="albumCategoryID">
    <cfloop query="allAlbumCategories">
    <option value="#albumCategoryID#">#albumCategory#</option>
    </cfloop>
  </select>
</form>
</cfoutput>
</p>

<br /><br />

<div id="subDiv2"></div>