<cfparam name="URL.articleID">

<cfset NR=CreateObject("component", "com.NewsroomAdmin").init()>
<cfset articleInfo=NR.getArticleByID(URL.articleID)>

<br />

<cfoutput>
<p>
<b>Items Related To </b> #DateFormat(articleInfo.articleDate, "mm/dd/yyyy")# - #articleInfo.headline#
</p>
</cfoutput>

<form id="frmAddRelatedLink" name="frmAddRelatedLink" onsubmit="return false;">
<cfoutput><input type="hidden" name="articleID" value="#URL.articleID#"></cfoutput>
<div class="row">
  <div class="col-30-right"><b>Enter the link information</b></div>
</div>
<div class="row">
	<div class="col-30-right">Link Name: </div>
    <div class="col-68-left"><input type="text" name="linkName" maxlength="150" value="" style="width:200px;" validate="required:true"></div>
</div>
<div class="row">
	<div class="col-30-right">Link URL: </div>
    <div class="col-68-left"><input type="text" name="linkURL" maxlength="255" value="" style="width:300px;" validate="required:true"></div>
</div>
</form>
<div class="row">&nbsp;</div>