<cfparam name="URL.articleID">

<cfset NR=CreateObject("component", "com.NewsroomAdmin").init()>
<cfset allArticlecategories=NR.getAllArticleCategories()>
<cfset articleInfo=NR.getArticleByID(URL.articleID)>

<cfoutput>
<p>
<b>Items Related To </b> #DateFormat(articleInfo.articleDate, "mm/dd/yyyy")# - #articleInfo.headline#
</p>
</cfoutput>
<p>
<cfoutput>
<form id="frmNavigator">
  Select a Category:
  <select name="articleCategoryID">
    <cfloop query="allArticlecategories">
    <option value="#articleCategoryID#">#articleCategory#</option>
    </cfloop>
  </select>
</form>
</cfoutput>
</p>

<br /><br />

<div id="subDiv1"></div>



