<cfparam name="URL.articleID">

<cfset NR=CreateObject("component", "com.NewsroomAdmin").init()>
<cfset articleInfo=NR.getArticleByID(URL.articleID)>

<br />

<cfoutput>
<p>
<b>Items Related To </b> #DateFormat(articleInfo.articleDate, "mm/dd/yyyy")# - #articleInfo.headline#
</p>
</cfoutput>

<form id="frmAddRelatedFile" name="frmAddRelatedFile" onsubmit="return false;">
<cfoutput><input type="hidden" name="articleID" value="#URL.articleID#"></cfoutput>
<div class="row">
  <div class="col-30-right"><b>Select a File</b></div>
</div>
<div class="row">
	<div class="col-30-right">File Title: </div>
    <div class="col-68-left"><input type="text" name="fileTitle" maxlength="150" value="" style="width:200px;" validate="required:true"></div>
</div>
<div class="row">
	<div class="col-30-right">File: </div>
    <div class="col-68-left">
      <input type="hidden" name="filePath" value="">
      <CF_SelectFile formName="frmAddRelatedFile" fieldName="filePath" previewID="preview" previewWidth="100">
	  <div id="preview"></div>
    </div>
</div>
</form>
<div class="row">&nbsp;</div>