<cfparam name="URL.formID">
<cfparam name="URL.fromDate">
<cfparam name="URL.toDate">
<cfparam name="URL.formItemIDList" default="">

<cfset FM=CreateObject("component", "com.FormAdmin").init()>
<cfset numSubmissions=FM.getNumSubmissions(URL.formID, URL.fromDate, URL.toDate)>
<cfset formItems=FM.getFormItemsInfoByFormID(URL.formID)>


<cfif Compare(formItemIDList, "")>
  <cfset submissionBreakdown=FM.getSubmissionBreakdown(formID=URL.formID, fromDate=URL.fromDate, toDate=URL.toDate, formItemIDList=URL.formItemIDList)>
</cfif>

<form id="frmFormItemList" name="frmFormItemList" onsubmit="return false;">

<div class="itemList">
<table style="width:465px;">
  <tr>
    <th width="105">&nbsp;</th>
	<th width="250">Item Name</th>
	<th>Item Type</th>
  </tr>
  <cfoutput query="formItems">
  <cfif Compare(fieldType, "Text Only")>
  <tr valign="top">
    <td align="center"><input type="checkbox" name="formItemID" value="#formItemID#"<cfif ListFind(URL.formItemIDList, formItemID) GT 0> checked</cfif>></td>
	<td><b>#itemName#</b></td>
	<td>#fieldType#</td>
  </tr>
  </cfif>
  </cfoutput>
  <tr>
    <td align="center">
      <a href="javascript:xsite.checkAllBoxes(document.frmFormItemList.formItemID)">Check All</a>/<a
       href="javascript:xsite.uncheckAllBoxes(document.frmFormItemList.formItemID)">None</a></td>
    <td align="left" colspan="2"><button onclick="loadSubmissionBreakdown();">View Report</button></td>
  </tr>
</table>
</div>



<cfif Compare(formItemIDList, "")>
<br />
<p class="subHeader">Report</b></p>

<div class="itemList">
<table>
  <tr>
    <th width="200">Item Name</th>
	<th width="70"># Subs.</th>
    <th width="150">Field Type</th>
	<th align="left"><button onclick="$('.expandable').show();">Expand All</button><button onclick="$('.expandable').hide();">Collapse All</button></th>
  </tr>
  <!--- ::
		submissionBreakdown
			.formItemID
				.itemName
				.fieldType
				.numSubmissions
				.optionList
				.valueQuery	
	:: --->
  <cfoutput>
  <cfloop index="formItemID" list="#URL.formItemIDList#">
  <tr>
    <td align="left"><b>#submissionBreakdown[formItemID].itemName#</b></td>
    <td align="center">#submissionBreakdown[formItemID].numSubmissions#</td>
    <td>#submissionBreakdown[formItemID].fieldType#</td>
    <td>
    <cfset newline=Chr(13) & Chr(10)>
    <cfset q=submissionBreakdown[formItemID].valueQuery>
    <cfif q.recordcount>
	<cfswitch expression="#submissionBreakdown[formItemID].fieldType#">
      <cfcase value="Radio Group,Check Boxes,Drop-Down Menu">
        <cfset options=ArrayNew(1)>	    
		<cfset options=ListToArray(submissionBreakdown[formItemID].optionList,newline)>
		<cfset r=ArrayNew(1)>
		<cfloop index="idx2" from="1" to="#ArrayLen(options)#">
		  <cfset r[idx2]=StructNew()>
		  <cfset r[idx2].value=options[idx2]>
		  <cfset r[idx2].num=0>
		  <cfloop query="q">
		    <cfif ListFind(q.valueText, r[idx2].value)>
			  <cfset r[idx2].num = r[idx2].num + 1>
			</cfif>
		  </cfloop>
		</cfloop>
        <div align="left"><button onclick="$('##div#formItemID#').toggle();">Expand/Collapse</button><br /></div>
        <div id="div#formItemID#" class="expandable" style="display:none;">
        <table style="width:600px;">	    
		<cfset basewidth=65>
		<cfloop index="idx2" from="1" to="#ArrayLen(options)#">
		  <tr valign="top">
		  <cfif submissionBreakdown[formItemID].numSubmissions GT 0>
		    <cfset percent= DecimalFormat((r[idx2].num/submissionBreakdown[formItemID].numSubmissions) * 100)>
		  <cfelse>
		    <cfset percent=0>
		  </cfif>
		  <cfset barwidth=INT((basewidth * percent)/100)>
		  <td width="20" align="center">#idx2#.</td>
		  <td width="130">#r[idx2].value# - #r[idx2].num#</td>
		  <td><cfif barwidth GT 0><img src="images/blue.gif" border="0" width="#barwidth#" height="5"></cfif> #percent#%</td>
		</tr>
        </cfloop>	  		
		</table>
        </div>
      </cfcase>
      <cfdefaultcase>
		<div align="left"><button onclick="$('##div#formItemID#').toggle();">Expand/Collapse</button><br /></div>
	    <div id="div#formItemID#" class="expandable" style="display:none;">
		<cfset idx1 = 0>
		<table style="width:600px;">
	    <cfloop query="q">
		  <tr>
	      <cfset idx1 = idx1 + 1>
		    <td width="20" align="center">#idx1#.</td><td>#valueText#</td>    	   
		  </tr>
	    </cfloop>		
		</table>
	    </div>    
      </cfdefaultcase>
    </cfswitch>
    <cfelse>
    &nbsp;
    </cfif>
    </td>    
  </tr>
  </cfloop>
  </cfoutput>  
</table>
</div>
</cfif>
</form>