@media only screen and (max-width : 1500px) {
	.back-to-top{
		display: none;
	}
}

/*@media only screen and (max-width : 1350px) {
	.back-to-top{
		display: none;
	}
}*/

@media only screen and (max-width : 1230px) {
	.toggle{
		float: right;
	}

	.homepage-services-slider-full-width{
		display: none;
	}

	.homepage-services-slider-mobile{
		display: block;
	}

}

@media only screen and (max-width : 1130px) {
	.landing-page .grid.dropdown-content > .three.columns{
		width: 26%;
	}

	.level-2 {
		padding-left: 30px !important;
		background-image: url("/assets/images/footer/pink-arrow.png");
		background-position: 13px 13px;
		background-repeat: no-repeat;
	}
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (max-width : 1040px) {
	aside .callout{
		margin-bottom: 0em;
	}

	
	.arrow{
		display: none !important;
	}

	.quick-links .arrow{
		display: block !important;
	}

	.hero .logo {
		top: -98px;
	}

	.main-content{
		padding: 20px 0px 0px 0px;
	}

	.hero{
		z-index: 0 !important;
	}

	.main-content > .grid{
		padding: 0px 1.5em;
		background-color: white;
	}

	.landing-page .grid .grid{
		background-color: #efefef;
	}

	.grid .nine.columns{
		padding-right: 20px;
	}

	.grid .grid .columns,
	.grid .grid .grid{
		background-color: white;
	}

	.hide-on-mobile{
		display: none;
	}

	.hide-on-desktop{
		display: block !important;
	}

	nav.main-nav .grid ul.spread{
		width: 100%;
	}

	.header-utility{
		position: static;
		margin-bottom: 10px;
	}

	.header-utility:after{
		content: "";
		clear: both;
		display: block;
		height: 0;
	}

	nav.main-nav > .grid > ul > li > a{
		font-size: 1em;
		padding: 10px 14px;
		min-width: 80px;
	}

	.dropdown-feature-image {
		float: left;
		margin-right: 20px;
		width: 100%;
		max-width: 290px;
	}

	.quick-links-nav .inner, .dropdown-feature .inner {
		padding: 10px 25px 5px 25px;
	}

	.dropdown-feature .inner {
		padding: 25px 25px 5px 10px;
	}

	.quick-links-nav h4{
		margin-bottom: 5px;
		font-size: 0.9em;
		font-weight: 700;
	}

	.quick-links-nav ul li a {
		font-size: 0.8em;
	}

	.landing-page .main-content{
		padding: 1.5em 0em 0em 0em
	}

	.landing-page .main-content > .nine.columns{
		width: 100%;
	}

	.wide-right,
	.wide-left{
		padding: 0 20px;
	}

	.services-menu > ul li{
		margin-right: 6px;
	}

	.services-menu > ul li:last-child{
		/*margin-right: 33px;*/
	}

	.main-content.grid .interior-page >  aside.two.columns {
		width: 25%;
	}

	.main-content.grid .interior-page >  .six.columns {
		width: 73%;
		padding-left: 40px;
		float: left;
	}
	
	.interior-page, .main-content .col-1{
		padding: 0px 1.7em;
	}
	
	.right, .float-right {
		margin-left: 32px;
		margin-bottom: 36px;
	}
	
	.mobile-left-col .callout,
	.mobile-left-col .callout .callout-event,
	.three.columns .callout, .mobile-left-col .three.columns .callout, 
	 .mobile-left-col .three.columns .callout .callout-event{
		width: 100% !important;
	}
	
	.landing-page .three.columns .callout-event,
	.three.columns .callout-wrapper .callout-event{
		width: 47% !important;
	}

	.mobile-left-col .callout .callout-event,
	.three.columns .callout .callout-event{
		padding: 10px 15px;
	}

	.mobile-left-col .event-header,
	.three.columns .event-header {
		padding: 5px 20px 0px 70px;
		margin-bottom: 1.6em;
		font-size: 1.6em;
	}

	.callout-event-preview {
		font-size: 0.9em !important;
	}

	.mobile-left-col .event-header a,
	.three.columns .event-header a{
		font-size: 0.8em;
		line-height: 18px !important;
		display: block;
	}

	.mobile-left-col .event-header .event-date,
	.three.columns .event-header .event-date {
		background-image: url("/assets/images/layout/gray-circle-medium.png");
		background-repeat: no-repeat;
		width: 50px;
		height: 50px;
		line-height: 14px;
	}

	.mobile-left-col .callout .callout-event + .callout-event,
	.three.columns .callout .callout-event + .callout-event{
		margin-left: 0px;
		float: right;
	}

	.landing-page .mobile-left-col .callout .callout-event + .callout-event, 
	.landing-page .three.columns .callout .callout-event + .callout-event,
	.three.columns .callout .callout-event + .callout-event{
		margin-left: 20px;
	}

	.mobile-left-col .callout h4,
	.three.columns .callout h4 {
		font-size: 1.2em;
		letter-spacing: 1px;
	}

	.mobile-left-col .callout h4 span,
	.three.columns .callout h4 span {
		top: 9px;
		font-size: 13px;
	}
	
	.callout .feature-story-title{
		font-size: 1em;
	}

	.callout .patient-story-text {
		font-size: 0.7em;
		margin-top: 0px;
	}
	
	.address-callout{
		font-size: 0.9em;
	}

	.level-2 {
		padding-left: 30px !important;
		background-image: url("/assets/images/footer/pink-arrow.png");
		background-position: 13px 13px;
		background-repeat: no-repeat;
	}

	.inset, .home-content div.home-accordion-content a.inset {
		margin-left: 0;
		margin-bottom: 30px;
		float: left;
	}

	.responsive-tabs__list li{
		font-size: 0.75em;
		background-position: 6px 14px;
	}


	
	li.responsive-tabs__list__item--active {
background-position: 9px -184px;
padding-left: 2.5em;
}

	.responsive-tabs__list__item {
		padding: 1.2em 1em 1.2em 2em;
	}

	.grid .wide-left > .mobile-left-col + .nine.columns{
    	padding-right: 0;
	}


	/* ##########################################################
	LANDING PAGE MOBILE STYLES
	########################################################## */
	
	.main-quote{
		position: relative;
		width: 100%;
		bottom: 0;
		left: 0;
	}
	
	.main-quote p{
		text-align: center;
		font-size: 2.2em;
		padding: 10px 0;
	}

	.landing-jumps{
		padding-top: 1.5em;
		float: none !important;
		display: block !important;
		width: 600px !important;
		margin: 0 auto;
	}

	.landing-page .six.columns{
		width: 100%;
		margin-left: 0px;
		background-color: white;
	}

	.landing-page .three.columns{
		margin-left: 0px;
		float: none !important;
		width: 100% !important;
		margin: 0 auto;
	}

	div.three.columns .highlight-box.right{
		margin-left: 0;	
		clear: both;
	}

	.main-content.landing-page{
		padding-top: 300px;
		position: relative;
		top: -1px;
	}
	
	.all-services-toggle{
		display: none;
	}

	.dropdown-content{
		display: block;
	}

	.landing-jump-wrapper{
		width: 579px;
		margin: 0 auto;
	}

	.landing-jump.left{
		margin-right: 19px;
	}

	.landing-jump{
		-webkit-box-shadow: 0 2px 1px 0.5px #ddd;
		box-shadow: 0 2px 1px 0.5px #ddd;
	}
	
	.dropdown-content .nine.columns{
		padding: 25px;
	}

	.dropdown-content .nine.columns,
	.dropdown-content .grid .four.columns{
		width: 100%;
		margin-left: 0;
	}

	.accordion-content{
		display: none;
		padding: 0px 20px;
	}

	.dropdown-content .highlight-box{
		text-align: center;
		float: none;
	}

	.dropdown-content .highlight-box h2{
		font-size: 2.5em;
		margin-bottom: 5px;
		line-height: 1em;
	}

	.dropdown-content .highlight-box p {
		line-height: 1.4em;
		font-size: 1em;
		margin: 0 auto 20px auto;
		width: 50%;
	}

	.dropdown-content .highlight-box h3 {
		font-size: 1.6em;
		font-weight: 700;
	}

	.main-content .accordion-handle{
		padding: 1em;
		border-top: 1px solid #d8d8d8;
		margin-bottom: 0;
		cursor: pointer;
		position: relative;
		padding-right: 30px;
		font-size: 16px !important;
		color: #464646 !important;
		text-align: left !important;
		margin-bottom: 0 !important;
		text-transform: uppercase !important;
		font-weight: 600;
	}

	.accordion-handle .toggle-icon{
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		margin-top: -10px;
		left: 90%;
		background-image: url("/assets/images/layout/plus-minus.png");
		background-position: -20px 0px;
		background-repeat: no-repeat;
	}

	.accordion-handle:hover .toggle-icon{
		background-position: -20px -20px;
	}

	.accordion-handle.opened .toggle-icon{
		background-position: 0px 0px;
	}

	.accordion-handle.opened:hover .toggle-icon{
		background-position: 0px -20px;
	}

	.homepage-mobile-container{
		padding-top: 10px;
		padding-bottom: 40px;
	}
	
	/*.header1 h1,
	h2{
		color: #464646;
	}*/

	.main-content > h1{
		margin: 0px 20px 30px 20px;
	}

	.callout h4{
		font-size: 1.7em;
	}

	.callout h4 span{
		top: 16px;
	}

	.callout .callout-event{
		width: 46%;
		float: left;
		margin-left: 2px;
		text-align: left;
	}

	.home + .main-content .callout .callout-event,
	.home + .decoration + .main-content .callout .callout-event{
		width: 100%;
	}

	.callout .callout-event + .callout-event{
		margin-left: 2em;
	}

	span.news-title {
		font-size: 1.1em;
	}

	.home + .main-content .callout .callout-event + .callout-event,
	.home + .decoration + .main-content .callout .callout-event + .callout-event{
		margin-left: 0;
	}

	.callout-event-wrapper + button{
		display: none;
	}
	
	.callout-event-wrapper{
		overflow: hidden;
		width: 80%;
		margin: 0 auto;
	}
	
	.dropdown-panel .accordion-handle .toggle-icon{
		display: none;
	}

	/* ##########################################################
	LANDING PAGE MOBILE STYLES
	########################################################## */
	footer .footer-blog-links{
		margin-left: 20px;
	}
	
	footer .social-links{
		width: 132px;
	}

	.headline {
		margin: 30px 20px 25px 20px;
	}
}

@media only screen and (max-width : 1150px) {
	.patient-stories .six.columns + .six.columns {
		padding-right: 10px;
		padding-left: 0px;
		margin-left: 0;
	}
}

@media only screen and (max-width : 1000px) {
	.hero .slides li{
		height: 600px;
	}

	.hero .slides .core{
		bottom: 45%;
	}
}
@media only screen and (max-width : 962px) {
	.home img {
		width: 100%;
	}

	.breadcrumb a.home{
		top: 3px;
	}

	.read-more{
		display: inline-block;
	}

	.three.columns .event-header {
		margin-bottom: 1em;
	}

	.three.columns .event-header a {
		font-size: 0.7em;
	}

	.three.columns .event-header {
		padding: 5px 20px 0px 60px;
	}
	
	.cart-actions .cart-checkout > a, .cart-actions .cart-edit > a, .cart-actions .cart-edit > a, .cart-actions .cart-register > a {font-size: 11px;}
	.reg-callout {padding: .5em .5em 0em 1em !important;}
}

@media only screen and (max-width : 870px) {
	.hero .slides li{
		height: 525px;
	}

	.hero .slides .core{
		bottom: 50%;
	}
	
	.home-accordion-content {text-align: center !important}
	.landing-pageb .core-list .copy div, .landing-pageb .core-list .copy-overlay div {
	    display: block;
	}
	.landing-pageb .core-list h2 {
	    font-size: 2.5em;
	}
}


@media only screen and (max-width : 800px) {
	.main-content.landing-page{
		padding-top: 250px;
	}
	.module-pb-search input[type="text"] {
		margin-bottom: 10px !important;
	}

	.home + .main-content {
		padding-top: 40px;
	}

	nav.main-nav .grid ul.spread{
		float: right;
		width: 90%;
		height: 70px;
	}

	nav{
		padding-left: 180px;
	}
	
	nav.main-nav  ul > li > a{
		min-width: 80px !important;
	}

	.main-content.grid .interior-page > aside.two.columns,
	.main-content.grid .interior-page > aside.three.columns{
		width: 30%;
	}

	.main-content.grid .interior-page >  .six.columns {
		width: 67%;
		padding-left: 30px;
		float: left;
	}

	.tablet-display{
		display: block !important;
	}

	.services-menu.hide-on-phones{
		display: none !important;
	}

	.mobile-callout-header {
        font-size: 12px;
		margin-bottom: 5px;
		min-height: 34px;
		display: none;
    }

	.logo{
		z-index: 102;
	}

	.services-menu {
		padding: 5px 0px;
		height: 74px;
	}
	.services-menu.tablet-display{
		position: relative;
		display: none;
	}

	.services-menu-toggle{
		top: 11px;
		background-size: 30px 116px;
		background-position: 0px 54px;
		height: 54px;
	}
	
	.services-menu-toggle.active {
		background-position: 0px 0px;
		background-size: 30px 116px;
	}

	.services-menu > ul {
		margin-top: 6px;
	}
	
	.lp.services-menu > ul{
		margin-top: 6px;
	}

	.services-menu > ul li{
		background-image: url("/assets/images/homepage/service-icons-sprite-tablet.png"); 
		background-image: url("/assets/images/homepage/sprites-tablet-new.png"); 
		background-position: -31px -13px;
	}

	.services-menu > ul li.children-and-men {
		background-position: -144px -13px;
	}

	.services-menu > ul li.gynecology{
		background-position: -260px -13px;
	}

	.services-menu > ul li.wellness-and-nutrition{
		background-position: -374px -13px;
	}

	.services-menu > ul li.bone-and-joint{
		background-position: -489px -13px;
	}

	.services-menu > ul li.cancer{
		background-position: -604px -13px;
	}

	.services-menu > ul li.surgery{
		background-position:  -718px -13px;
	}
	
	.services-menu > ul li:hover{
		background-position: -832px -13px;
	}

	.services-menu > ul li.children-and-men:hover{
		background-position: -946px -13px;
	}

	.services-menu > ul li.gynecology:hover{
		background-position: -1061px -13px;
	}

	.services-menu > ul li.wellness-and-nutrition:hover{
		background-position: -1176px -13px;
	}

	.services-menu > ul li.bone-and-joint:hover{
		background-position: -1290px -13px;
	}

	.services-menu > ul li.cancer:hover{
		background-position: -1404px -13px;
	}

	.services-menu > ul li.surgery:hover{
		background-position:  -1518px -13px;
	}

	.services-menu > ul li a{
		padding: 26px 26px 27px 26px;
	}

	.lp .services-menu-toggle{
		top: 12px;
		height: 55px;
	}
	
	.patient-stories{
		max-width: 330px;
		margin: 2px auto;
		padding: 0 .8em;
	}

	.feature-story-callout{
		max-width: 330px;
		margin: 2px auto;
	}

	.grid .six.columns.patient-stories-callout-image{
		width: 47%;
		float: left;
		margin-right: 20px;
	}

	.grid .six.columns.patient-stories-callout-image + div{
		font-size: 1.2em;
	}

	.new-patients {
		background-position: 13px center;
		padding: 10px 10px 10px 60px;
		background-size: 7%;
	}

	.new-patients p{
		font-size: 0.9em;
	}

	.owl-theme .owl-controls {
		left: -7%;
	}
	
}

@media only screen and (max-width : 850px) {
	.mobile-left-col .event-header a, 
	.three.columns .event-header a {
		font-size: 0.65em;
	}

	.mobile-left-col .event-header{
		margin-bottom: 15px;
	}
	
	 .home-accordion-content .module-nw-view-all {text-align: center !important;}
	 .home-accordion-content .module-nw-view-all input {float: none}

	.right, .float-right {
		margin-left: 22px;
		margin-bottom: 15px;
	}

	.wide-left > .mobile-left-col{		
		width: 30%;
	}

	.grid .wide-left .nine.columns {
		width: 63.51172%;
	}

	.wide-left .module-nw-detail .grid > .nine.columns{
		width: 100% !important;
	}

	.owl-theme .owl-controls {
		width: 115%;
		left: -7.5%;
	}

	.home .owl-carousel{
		width: 550px;
	}

	.homepage-callout-slider-wrapper{
		width: 0px !important;
	}

	.home-content.grid .four.columns{
		float: left;
		width: 50%;
		margin-left: 0px;
	}

	.center-callout-col{
		padding: 0 30px 0 0;
	}

	/*.home-content h2{
		text-align: center;
	}*/

	.home-content .event-header{
		margin-bottom: 2.8em;
	}

}

@media only screen and (max-width : 721px) {

	.grid .quick-links-nav .three.columns{
		width: 100%; 
		margin: 0px;
	}

	.grid .quick-links-nav .three.columns h4.accordion-handle{
		padding-left: 0;
		border-top: 0px;
		position: relative;
		padding: 15px 0px 15px 15px !important;
		cursor: pointer;
		color: #464646;
		font-size: 1em;
		margin-bottom: 0;
	}

	.grid .quick-links-nav .three.columns + .three.columns h4.accordion-handle{
		border-top: 1px solid #d8d8d8;
	}

	.grid .quick-links-nav .three.columns h4.accordion-handle + ul{
		display: none;
	}

	.quick-links-nav ul li a {
		font-size: 0.9em;
		color: #464646;
		padding: 10px 15px;
	}

	.dropdown-feature{
		display: none;
	}

	.dropdown-panel .accordion-handle .toggle-icon{
		display: block;
		left: 95%;
	}

	.mobile-search-wrapper{
		display: block;
		overflow: hidden;
		padding: 0 10px 10px 0;
		background-color: #e5028a;
	}

	.mobile-search-inner > table{
		width: 100%;
	}
	
	.mobile-search-inner > table td{
		width: 88%;
	}
	
	.mobile-search-inner > table td + td{
		width: 15%;
	}

	.mobile-search-inner input[type="search"]{
		width: 97%;
		margin-left: 5px;
	}

	.mobile-search-inner input[type="submit"]{
		padding: 10px;
		font-family: 'Open Sans', sans-serif;
		line-height: 19px;
		float: left;
		width: 50px;
	}

}

@media only screen and (max-width : 705px) {
	.landing-page .grid.dropdown-content > .three.columns{
/*    width: 26.53516%;
*/    
    float: none;
    margin: 0 auto;
    width: 381px;
}
	.close-btn{
		display: none;
	}

	.module-ce-search .six.columns + .six.columns + .six.columns + .six.columns {
		 margin-left: 0% !important; 
	}
	.main-content {
		padding-top: 110px;
	}
	.home img{
		min-height: none;
		height: auto;
	}

	.wide-right > .three.columns{
		width: 100%;
	}

	.quick-links-nav{
		margin-top: -1px;
	}

	.dropdown-panel{
		display: block;
		z-index: 1;
	}
	
	.dropdown-panel .grid .eight.columns.quick-links-nav {width: 100% !important;}

	.dropdown-panel .inner{
		border-bottom: 10px solid #e5028a;
	}

	.dropdown-panel .inner,
	.dropdown-panel .mobile-search-wrapper{
		display: none;
	}

	.home .owl-theme .owl-controls {
		width: 120%;
		left: -10%;
		bottom: 40%;
	}

	.home-nav{
   		display: block; 
   		background: none;
   		margin-top: 0px;
	}

	.home-nav a{
		font-weight: 700;
		text-transform: uppercase;
		display: block;
		padding: 15px 0 15px 15px;
		border-bottom: 1px solid #d8d8d8;
		text-decoration: none;
	}

	.home-nav a:hover{
		color: white;
		background: #ec2b8c;
	}

	.home img {
		width: 100%;
		min-height: 250px;
	}

	.mt-direction-nav{
		top: 40px;
	}

	.main-quote a .arrow,
	.hero .slides .core a .arrow{
		display: none;
	}

	.grid .nine.columns {
		padding-right: 0;
		width: 100% !important;
	}
	
	.wide-left > .three.columns{
		margin-left: 0px;
	}

	.grid .wide-right .nine.columns{
		width: 100%;
		padding-right: 20px;
	}

	nav.main-nav > .grid > ul > li > a{
		font-size: 0.9em;
		padding: 10px 12px;
		min-width: 60px !important;
	}
	
	.wide-right{
		padding-bottom: 30px;
		overflow: hidden;
	}

	.visible-mobile, 
	.top-nav .mobile, 
	.mobile-contact, 
	.mobile-menu, 
	nav a.nav-btn, 
	.search-mobile, 
	.mobile-box, 
	.mobile-cart, 
	.mobile-mychart, 
	.mobile-nav2, 
	.widget {
		visibility: visible; 
		display: block !important;
	}
	
	.mtslide {
		margin-top: -11px;
	}

	.hero{
		position: relative;
		z-index: 101;
		top: -4px;
		margin-top: -7px;
	}

	.hero .slides .core{
		bottom: 50%;
		width: 100%;
		padding: 0px !important;
	}
	
	.hero .slides li{
		height: 500px;
	}

	.hero .inner h1 span{
		font-size: 1em;
		margin-top: 10px;
	}
	
	.mobile-menu{
		position: absolute;
		top: 90px;
		z-index: 100;
		right: 0;
	}

	.left-nav{
		display: none;
	}

	.services-menu.tablet-display{
		display: none !important;
	}

	body{
		background: white;
	}

	.main-nav,
	.header-utility,
	.donate{
		display: none !important;
	}

	.mobile-dropdown-nav{
		display: block;
	}

	.hero .slides .core {
		padding: 20px 10px 20px 20px;
	}
	
	.dropdown-panel .grid .eight.columns.quick-links-nav, .dropdown-panel .grid .four.columns.dropdown-feature {min-height: inherit;}
}

@media only screen and (max-width : 670px) {
		.home .owl-theme .owl-controls {
			width: 100%;
			left: 0%;
			bottom: 40%;
		}
}

@media only screen and (max-width : 620px) {

	.main-content.landing-page {
		padding-top: 230px;
	}

	.nine.columns h1 + img{
    	display: inline-block;
    	margin-bottom: 20px;
	}
	.nine.columns > .grid .module-ce-session-shoppingcart, 
	.nine.columns > .grid .module-ce-search{
   	 	display: block !important;
	}

	.nine.columns > .module-ce-topic-profile.grid .module-ce-session-shoppingcart, 
	.nine.columns > .module-ce-topic-profile.grid .module-ce-search,
	.sidebar .module-ce-session-shoppingcart, 
	.sidebar .module-ce-search{
    	display: none !important;
	}
	.callout > div {
		max-width: 100%;
		margin: 20px auto;
		margin-left: auto !important;
		float: none !important;
	}

	.callout.module-pb-archive > div,
	.callout.module-pb-categories > div,
	.callout.module-pb-search > div {
		margin: 0px auto;
	}

	.module-nw-related > div,
	.module-nw-year > div,
	.module-nw-categories > div,
	.module-ss-filters > div{
		width: 100% !important;
		max-width: 100%;
	}

	.home .owl-carousel{
		width: 300px;
	}

	.home .owl-theme .owl-controls {
			width: 100%;
			left: 0%;
			bottom: 40%;
			z-index: 100;
	}
}

@media only screen and (max-width : 618px) {
	.checklist-box ul{
    	padding-left: 10px;
	}	

	aside.three.columns, .widget {width: 100% !important; margin-bottom: 1em;}

	.main-content.grid .interior-page >  aside.two.columns {
		width: 0%;
		display: none;
	}

	.main-content.grid .interior-page > .six.columns {
		width: 100%;
		padding-left: 0px;
	}

	.grid .wide-left > .mobile-left-col + .nine.columns {
		padding-right: 0;
		padding-left: 0;
		width: 100%;
	}

	.headline{
		border-bottom: 0px;
		margin-bottom: 0px;
	}

	.headline-main-heading{
		width: 100%;
	}

	.grid .wide-right .nine.columns{
		padding-right: 20px;
	}

	.home-content.grid .four.columns {
		width: 100%;
		padding-right: 0px;
	}

	.home + .main-content .callout .callout-event,
	.home + .main-content .callout .callout-event + .callout-event{
		width: 100%;
		float: none;
		margin: 0 auto 15px auto;
	}

	.home-callout button,
	.home-accordion-content button{
		display: block;
		margin: 0 auto;
		float: none;
	}

	.home-content .inset{
		margin-left: auto;
	}
	
	.home-content .home-accordion-content .inset{margin-left: 0;}

}

@media only screen and (max-width : 618px) {

	h1 + .profile-pic{
	    display: block;
	    text-align: center;
	    margin: 10px auto 20px auto;
	}

	.callout .physician-profile-pic{
		display: none;
	}

	.home-accordion-handle{
		padding: 1em;
		border-top: 1px solid #d8d8d8;
		margin-bottom: 0;
		cursor: pointer;
		position: relative;
		padding-right: 30px;
		font-size: 16px !important;
		color: #464646 !important;
		text-align: left !important;
		margin-bottom: 0 !important;
		text-transform: uppercase !important;
		font-weight: 600;
	}

	.home-accordion-handle .toggle-icon{
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		margin-top: -10px;
		left: 90%;
		background-image: url("/assets/images//layout/plus-minus.png");
		background-position: -20px 0px;
		background-repeat: no-repeat;
	}

	.home-accordion-handle:hover .toggle-icon{
		background-position: -20px -20px;
	}

	.home-accordion-handle.opened .toggle-icon{
		background-position: 0px 0px;
	}

	.home-accordion-handle.opened:hover .toggle-icon{
		background-position: 0px -20px;
	}

	.home-accordion-content{
		display: none;
		padding-bottom: 1em;
	}

}


@media only screen and (max-width : 602px) {

	.main-content.landing-page{
		background-size: 175%;
		background-position: 0px -74px;
	}

	.home img {
		min-height: inherit;
	}

	.hero .slides li {
		height: 450px;
	}

	.hero .slides .core {
		padding: 10px 10px 10px 20px;
		bottom: 55%;
	}

	.hero .slides .core a {
		font-size: 0.8em;
		padding: 10px;
	}

	.hero .inner h1 span{
		margin-top: 0;
	}

	.footer-content{
		text-align: center;
	}

	.footer-content + .footer-content{
		padding-top: 0;
	}

	.footer-content + .footer-content > ul{
		margin-top: 0;
	}


	footer .footer-main .footer-blog-links{
		text-align: left;
		width: auto;
		display: inline-block;
		margin-left: 0;
	}

	footer .footer-main .social-links{
		width: auto;
		display: inline-block;
		margin-top: 20px;
	}

	.mobile-left-col .callout .callout-event + .callout-event, .three.columns .callout .callout-event + .callout-event{
		float: none;
	}

	.main-content .accordion-handle{
		padding-left: 0px;
	}

	.home-content .owl-theme .owl-controls {
		width: 38%;
		left: 33%;
		bottom: -70%;
	}

	.slider-caption{
		margin-bottom: 90px;
	}

	.owl-theme .owl-controls {
		width: 30%;
		left: 36%;
		bottom: 10%;
	}

	.dropdown-content .nine.columns{
		padding: 25px 0;
	}

	.main-content{
		padding-top: 50px;
	}

	.mobile-dropdown-nav {
		padding: 5px 10px 5px 0px;
	}

	.logo {
		width: 140px;
		left: 15px;
	}

	.logo a{
		padding-bottom: 15px;
		height: auto;
	}
	
.logo img.foundation-logo {top: 0; margin-bottom: 0 !important;}	

	.logo span{
		font-size: 0.9em;
	}

	.hero .logo span{
		font-size: 1.2em;
	}

	.mobile-dropdown-nav > ul li a{
		font-size: 0.7em;
	}

	.hero .logo {
		top: -79px;
	}
	
	.cart-edit.six.columns {width: 49.02344%;}
	.cart-actions.grid.twelve.columns {
margin-bottom: 1em;
}

	.donate,
	.header-utility-contents{
		display: none;
	}

	nav.main-nav { display: none !important; }
	
	h1{
		font-size: 28px;
		line-height: 28px;
	}

	h2{
		margin-bottom: 20px;
	}

	.right, .float-right {
		margin-left: 0;
		margin-bottom: 20px;
		width: 100%;
		border-radius: 0px;
	}

	.highlight-box h2 {
		font-size: 1.8em;
		font-weight: 600;
	}

	.hide-on-phones{
		display: none !important;
	}

	.main-quote p {
		font-size: 1.2em;
	}

	.landing-jumps{
		width: 100% !important;
	}

	.landing-page .landing-jumps {
		min-width: 0;
	}

	.landing-jump-wrapper{
		width: 100%;
		padding: 0px 2px;
	}

	.landing-jump{
		width: 100%;
		border-top: 0px;
		vertical-align: middle;
		margin-bottom: 20px;
		padding-bottom: 10px;
		float: left;
	}

	.landing-jump > p{
		text-align: left;
		display: table-cell;
		vertical-align: middle;
		padding: 0 20px;
		font-size: 1em;
	}

	.landing-jump-image-wrapper{
		display: table-cell;
		height: auto;
		width: 40%;
		padding-left: 10px;
	}
	
	.landing-jump-image-wrapper + p a{
		display: table-cell;
		float: left;
	}

	.owl-carousel{
		max-width: 450px;
	}

	.dropdown-content .owl-carousel{
		max-width: 250px;
		padding-bottom: 50px;
	}

	.home-content .owl-theme .owl-controls{
		width: 128%;
		left: -55px;
		bottom: 50%;
	}

	.home-content .homepage-mobile-container .owl-theme .owl-controls {
		width: 33%;
		left: 125px;
		bottom: -55%;
	}
	
	.callout-event-wrapper{
		width: auto;
	}

	.callout .callout-event{
		width: 100%;
	}
	
	.callout .callout-event + .callout-event{
		margin-left: 0px;
	}

	.mobile-left-col .callout .callout-event, 
	.three.columns .callout .callout-event {
		padding: 10px 15px;
		width: 100% !important;
		max-width: 280px;
		margin: 0 auto 25px auto !important;
		float: none;
	}

	.three.columns .event-header {
		padding: 5px 20px 10px 65px;
		margin-bottom: 0em;
		font-size: 1.4em !important;
	}

	.three.columns .event-header a {
		font-size: 0.9em;
		line-height: 22px !important;
	}

	.callout-event-preview {
		font-size: 0.9em !important;
	}

	.three.columns .callout h4 {
		font-size: 1.2em;
	}

	.interior-page .four.columns{
		padding-left: 0
	}

	.dropdown-content .highlight-box h2 {
		font-size: 1.5em;
		margin-bottom: 15px;
	}

	.dropdown-content .highlight-box h3{
		font-size: 1.4em;
		font-weight: 500;	
	}

	.dropdown-content .highlight-box p{
		width: 80%;
	}

    .dropdown-feature-image {
        float: none;
        margin-right: 0;
        max-width: 400px;
        margin: 0 auto 10px auto;
        display: block;
    }

	.dropdown-feature .inner h4{
		text-align: center;
	}

	.quick-links-nav .three.columns h4{
		font-size: 1em;
		padding-top: 0px;
		padding-bottom: 10px;
		border-top: 0px solid #e1e1e1;
		cursor: pointer;
	}

	.quick-links-nav .three.columns + .three.columns h4{
		padding-top: 20px;
		padding-bottom: 10px;
		border-top: 1px solid #e1e1e1;
	}

	.quick-links-nav ul li a {
		font-size: 0.9em;
		color: #464646;
	}

	.grid .patient-stories > .six.columns{
		width: 44%;
		float: left;
	}

	.callout .patient-story-text {
		font-size: 0.7em;
		margin-top: 0px !important;
	}

	.inset {
		margin: 0 auto;
		display: block;
	}

	.wide-left > .mobile-left-col {width: 33%;}
	.mobile-left-col .callout {}

	.grid .wide-left > .mobile-left-col + .nine.columns {
		padding-right: 0;
		padding-left: 0px;
		clear: both;
	}

	.grid .nine.columns {
		width: 100%;
	}

	.callout-wrapper {
		max-width: 420px;
		margin: 0 auto
	}

	.home-content.grid .four.columns{
		width: 100%;
		padding: 0px;
	}

	.main-content{
		margin: 0 auto;
		width: 100%;
	}
	
}

@media only screen and (max-width : 480px) {
	.main-content.landing-page{
		background-size: 185%;
		background-position: 0px -74px;
	}

	.grid .wide-right .nine.columns{
		padding-right: 0px;
	}

	.home-content .owl-theme .owl-controls{
		width: 100px !important;
		left: 50% !important;
		margin-left: -50px;
		bottom: -130px !important;
	}

	.homepage-services-slider-mobile{
		border-top: 5px solid #e5028a;
	}
	
	.hero .slides .core{
		bottom: 54%;
	}

	.hero .slides .core a{
		font-size: 0.6em;
		padding: 5px 10px;
	}

}

@media only screen and (max-width: 400px){
	.hero .slides .core {
		bottom: 57%;
	}

	.home img {
		min-height: inherit;
	}
	.hero .slides li {
		height: 420px;
	}
	.main-content.landing-page {
		background-size: 185%;
		background-position: 0px -24px;
	}
	.landing-pageb .core-list {
	    min-height: 4em;
	}
}


@media only screen and (max-width : 370px) {
	.main-content.landing-pageb h1 {
	    margin-left: 0.25em;
	    font-size: 4.5em;
	}
	.landing-pageb .core-list h2 {
	    font-size: 2.25em;
	}
}

@media only screen and (max-width : 325px) {
	.main-content.landing-pageb h1 {
	    font-size: 4.1em;
	}
	.landing-pageb .core-list h2 {
	    font-size: 2em;
	}
	.landing-pageb .core-list .left {
	    margin-right: 1em;
	}
	.pta .copy .content, .pta .copyb .content {
	    font-size: 1.75em;
	}
}


@media only screen and (max-width : 320px) {
	header .logo {
	    width: 26%;
	    top: 0px;
	}
	.mobile-dropdown-nav > ul li {
	    padding-left: 8px;
	}
	.main-content.landing-pageb h1 {
	    font-size: 3.1em;
	}
	.grid .eight.columns, .grid .seven.columns, .grid .five.columns {
	    width: 100%;
	}
	.pta .copy .content, .pta .copyb .content {
	    font-size: 1.5em;
	}
	.landing-pageb .core-list h2 {
	    font-size: 1.4em;
	}
	.four.columns.womans-footer-nav, .four.columns.locations-and-maps {
	    margin-left: 0;
	}
	footer .footer-main h4 .plus-minus {
	    right: 10px;
	}
}

