﻿.nine.columns .module-nw-quick-search, .nine.columns .module-nw-year, .nine.columns .module-nw-categories{
	display: none;
}
aside.three div[class*=module-] img {min-width:64px; width:64px}

/****************************** COMMON MODULE CSS *****************************************/
.aspNetDisabled {text-decoration: none!important; color: #a5a4a4; cursor: default !important;}
.aspNetDisabled:hover {color: #a5a4a4 !important;}

.errortext {color: #C11B17;}
.p-list { width: 80%;  float: left;}
.phones {padding: 12px 0 12px}
.reg-callout .columns{margin-left: 0}
.alpha-list {}
.alpha-list li {margin-bottom: 0 !important;}
.module-alphabet-list {list-style: none; margin: 0; padding-left: 0; margin-left: 0 !important;}
.module-alphabet-list a:hover{
	color: #EC2B8C;
	text-decoration: underline;
	cursor: pointer;
}

.module-alphabet-list .columns { padding: .3em .0; margin-left: 6px !important; width: auto !important }

.core-search .column, .core-search .columns { overflow: visible !important; }
.core-profile .return > a:before { content: "\00AB\00a0"; }

.module-alphabet-list a {text-decoration: none; font-size: 14px;}
.module-alphabet-list .active a {color: #C70365; font-weight: bolder}
.module-alphabet-list .active a:hover {color: #ec2b8c !important; cursor:pointer !important}
/* Module Lists */

.core-search .column, .core-search .columns { overflow: visible !important; }

ol{
	padding: 0;
	margin: 0 0 1em 0em !important;
	list-style-position: inside;
}
ol li {
	background: none !important;
	padding: 0 0 8px 0 !important;
}
article ul {
	list-style: none outside none; 
	padding: 0;
	margin-bottom: 20px;
}
ul {
	list-style:none
}
.homepage-services-slider-full-width ul {
	margin:0 0 1em 0 !important
}

ul li{
	background-image: url("/assets/images/footer/pink-arrow.png");
	background-repeat: no-repeat;
	background-position: left 8px;
}

ul ul li{
	background-image: url("/assets/images/layout/midot-pink.png");
	margin-bottom: 0px;
}

ul ul {
	margin-left: 20px;
	margin-bottom: 5px;
	margin-top: 5px;
}

li {
   /* background: url("/assets/default/images/bullet.gif") no-repeat scroll 0 8px transparent;*/
    padding: 0 0 3px 14px;
}

.main-content li a{
	margin-bottom: 5px;
	/*display: block;*/
	font-weight: 600;
}

.main-content li ul li a{
	margin-bottom: 0px;
	font-weight: 400;
}

.listing .columns { margin-bottom: 1.5em; }
.listing-item { overflow: hidden; border-bottom: 1px solid #d8d8d8; margin-bottom: 15px; }
section.nine .listing-item {border-bottom:none; margin-bottom:0}
.listing.grid{
	border-bottom: 1px solid #d8d8d8;
	margin-bottom: 30px;
}
.listing.grid:last-child{
	border-bottom: 0;
}
.listing-item:last-child{
	border-bottom: 0;
}
.listing-item p{
	margin-bottom: 0.5em;
}
.listing-item .three.columns { text-align: center; }
.listing-item .three.columns div { margin-bottom: 1em; }
.listing-item .left {
	float: left; 
	margin-right: 32px; 
	padding-top: 6px; 
	margin-bottom: 32px;
}
.listing-item .left .listing-item-more-link {
	height: 23px; 
	margin: 12px 0 30px; 
	text-align: center;
}
.listing-item .left .listing-item-more-link a { text-decoration: none; }
.listing-item .module-thumbnail { display: block; }
.listing .columns { margin-left: 1.95313%; }
.listing .columns:first-child { margin-left: 0 !important; }
.listing > .columns{
	border-bottom: 1px solid #d6d6d6; 
	padding-bottom: 20px; 
}

.listing > .columns:last-child{
	border-bottom: 0px solid #d6d6d6; 
	padding-bottom: 0px; 
}

.listing-item h4 + div, .core-search h4 + div {margin-left: 0 !important;}
.callout .listing-item {
    margin: 6px 8px 10px 0;
    overflow: hidden;
}

.reg-callout {padding: .5em 1em 0em 1em !important;  -webkit-box-shadow: 0 2px 1px 0.5px #ddd;
box-shadow: 0 2px 1px 0.5px #ddd; padding: 10px 25px;
margin-bottom: 15px;
margin-right: 2px;}
section.nine .reg-callout {-webkit-box-shadow: none;box-shadow: none}

.search-no-results { }
.core-li {margin-bottom: 15px;}
.listing-wrap > ul{
	margin-bottom: 0;
}
.listing-wrap .core-li:last-child{
	margin-bottom: 0;
}
/*.core-li > .list-item-header { display: none; }*/
.core-li .list-item-copy > .list-item-header { display: block; }
.core-li .list-item-image, .core-li .list-item-copy { display: table-cell; vertical-align: top; }
.core-li .list-item-image + .list-item-copy { padding-left: 0.75em; }
.core-li .list-item-header a { font-size: 15px; text-decoration: none; }
.core-li .list-item-links a { font-size: 13px; text-decoration: none; }
.core-li .list-item-links a:hover { text-decoration: underline; }

.core-li .list-item-copy > * { margin-top: 0.25em; }
.core-li .list-item-copy > :first-child { margin-top: 0; }

.core-li .list-item-teaser p:only-child { margin-bottom: 0; }
.core-li .list-item-teaser p:last-child { margin-bottom: 0; }
.core-li > div { margin-top: 0.75em; }
.core-li .module-instructors .module-instructors-label { font-weight: bold; }
/*.core-li .module-instructors .module-instructors-label:after { content: ":"; }*/

.sidebar .core-li > .list-item-header { font-size: 15px; margin-bottom: 0.125em; }
.sidebar .core-li .list-item-image, .sidebar .core-li .list-item-copy { margin-top: 0; }
.sidebar .core-li .list-item-copy > .list-item-header { display: none; }
.sidebar .core-li .list-item-copy > div:first-child { margin-top: none !important; }
.sidebar .core-li .list-item-image { float: left; margin-right: 0.50em; }
.sidebar .core-li .list-item-image img { width: 75px; height: auto; margin-top: 0.25em; }


/*.listing a, .module-pg-wrapper a {text-decoration: none}
*/.listing .columns { margin-bottom: 1.5em; }
.listing-item { overflow: hidden; }
.listing-item .three.columns { text-align: center; }
.listing-item .three.columns div { margin-bottom: 1em; }
.listing-item .left {
	float: left; 
	margin-right: 32px; 
	padding-top: 6px; 
	margin-bottom: 32px;
}
.listing-item .left .listing-item-more-link {
	height: 23px; 
	margin: 12px 0 30px; 
	text-align: center;
}
.listing-item-more-link .read-more:hover {background-color: #D93C99;}
.listing-item .left .listing-item-more-link a { text-decoration: none; }
.listing-item .module-thumbnail { display: block; }
.listing .columns { margin-left: 1.95313%; }
.listing .columns:first-child { margin-left: 0 !important; }
.listing-item h4 + div, .core-search h4 + div {margin-left: 0 !important;}
.callout .listing-item {
    margin: 6px 8px 10px 0;
    overflow: hidden;
}
.main-content .list-item-links a{
	display: inline-block;
}
.callout .callout-image, .callout .video{margin-bottom: .4em;}
/****************************** THis section will be more to the Demonic WFFM css***********************/
.scfSectionContent .columns label { font-weight: normal; }
.scfSingleLineTextUsefulInfo {
	font-style: italic;
	font-size: .9em;
}
.scfSectionLegend {
	padding: 1em 0;
	font-weight: bold;
	text-decoration: none;
}
.scfForm input, .scfForm textarea { width: 100%; }
.scfValidatorRequired, .scfRequired {top: 6px !important;}
.scfValidationSummary {margin: 1em 1em .8em !important; }
footer .scfValidationSummary {
margin: 0 !important;
margin-bottom: .8em !important;
overflow: hidden;
font-size: .9em;
color: #FFF;
}
.scfSectionLegend {margin-left: 0px !important;}
.scfCheckBoxList { margin: 1em 0; }
.scfCheckBoxList td {padding: 6px 0;}
.scfCheckBoxList td input, .scfCheckbox input {
	width: auto; 
	float: left; 
	position: relative; 
	top: .2em;
}

.scfCheckBoxList td input {top: .35em;}
.scfCheckBoxList td label {width: 88% !important;}
.scfCheckBoxList td label, .scfCheckbox label{
	width: auto; display: 
	inline-block !important; 
	padding-left: .8em; 
}

.scfRadioButtonListLabel, .scfCheckBoxListLabel {
width: 100% !important;
font-style: italic;
font-weight: 700;
padding-bottom: 1em;
}
.scfRadioButtonList td input {width: auto; float: left; position: relative; top: .3em;}
.scfRadioButtonList td label {display: inline-block}


.required span { color: #E50000 !important; }
.scfDateSelectorLabel {
	font-weight: bold;
	padding: 1em 0;
	overflow: hidden;
	display: block;
}
.scfDatePickerGeneralPanel input { width: 35%; }
.scfDateSelectorGeneralPanel > div, .scfDateSelectorGeneralPanel > label {
	width: 28.53516% !important; 
	float: left; 
	margin-right: 1.95313% !important;
}
.scfDateSelectorGeneralPanel > .selectbox {
	width:49% !important;
	max-width:140px;
	margin-right:1% !important;
}
.scfSubmitButtonBorder.columns { margin: 1em 0; }
.scfSubmitButtonBorder input {width: auto;}
.scfSectionContent .state .twelve, .scfSectionContent .zipcode .twelve, .scfSectionContent .cvv .twelve, .scfSectionContent .amount .twelve, .scfSectionContent .scfCreditCardBorder .twelve, .scfSectionContent .ccselect .twelve{ width: 32.03125% !important; } 

div[class*="Transaction+ID"], div[class*="Authorization+Code"] { display:none } 

@media only screen and (max-width: 30em) and (min-width: 20em) {
	.scfSectionContent .state .twelve, .scfSectionContent .zipcode .twelve, .scfSectionContent .cvv .twelve, .scfSectionContent .amount .twelve, .scfSectionContent .scfCreditCardBorder .twelve, .scfSectionContent .ccselect .twelve{ width: 100% !important; } 
}
label.scfDateSelectorShortLabelMonth, label.scfDateSelectorShortLabelDay, label.scfDateSelectorShortLabelYear, .scfShortDate .scfDateSelectorDayWrap, .scfShortDate .scfDateSelectorDay, .scfShortDate .scfDateSelectorDayWrap .out {
display: none !important;
}
.scfDateSelectorMonth, .scfDateSelectorYear {
float: left;
margin-right: 1.95313% !important;
}
.scfSectionContent .scfDateSelectorUsefulInfo, .scfSingleLineTextUsefulInfo {
font-style: italic !important;
font-size: .8em !important;
padding-top: 0.65em !important;
display: inline-block !important;
}
.scfSectionContent .scfDateSelectorUsefulInfo,
.scfSingleLineTextUsefulInfo{
	clear: both;
	display: block !important;
}
.scfCreditCardType {
	width: 100%;
}
.scfShortDate + .scfShortText input {
width: 100px;
margin-right: 1.95313%;
}
/****************************** THis section will be more to the Demonic WFFM css***********************/

/*Proxy====================*/
.leftnav-title {clear: both; font-size: 15px; font-weight: bold; padding: 0 0 12px;}
.leftnav-title a{color: #595a54 !important; text-transform: uppercase;}

/*.selected {font-weight: bold;}*/

.left-nav {background: none; width: 100%; padding-left: 0px; margin-bottom: 40px; overflow: hidden;}
.left-nav div{/*padding-left: 12px;*/}
.left-nav a{text-decoration: none; font-weight: 700; font-size: 0.9em; color: #464646;}

.nav-item:hover {font-weight: 600; text-decoration: underline;}
.expanded .nav-item {
font-size: 13px;
}
.expanded .nav-item:hover {
font-weight: 700;
/* text-decoration: none; */
}
.level-2{padding-left:50px !important; background-image: url("/assets/images/footer/pink-arrow.png"); background-position: 35px 13px; background-repeat: no-repeat;}
.level-2,.level-3 {border-bottom: 0 !important;}
.level-3{padding-left:40px !important;}

.headline{
	border-bottom: 1px solid #d6d6d6;
	padding-bottom: 20px;
	margin-bottom: 25px;
}

.headline > table td{
	padding: 0;
}

.headline .left-nav,
.headline h1{
	margin-bottom: 0;
}

.headline .left-nav{
	overflow: hidden;
	width: 66%;
	float: right;
}

.left-nav > div {
	width: 100%;
	float: left;
}

.headline .left-nav > div{
	width: 50%;
}

.headline .headline-nav{
	float: right;
	width: 100%;
}

.headline .level-2,
.headline .leftnav-title{
	display: none;
}

.headline .level-1{
	padding-left: 20px !important;
	background-image: url("/assets/images/footer/pink-arrow.png");
	background-position: 0px 13px;
	background-repeat: no-repeat;
}

.headline .level-1:last-child{
	padding-bottom: 0;
}

.headline-main-heading{
	vertical-align: bottom;
	width: 50%;
}

.columns label, .search-option-wide label {
	display: none;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 6px;
}

.headline-main-heading > div{
	float: left;
}

.active {font-weight: 700;}
.nav-item { padding: 6px 15px 6px 0px; display: block; line-height: 20px; font-weight: 600;}

.expanded .level-2.nav-item,
.left-nav .expanded .level-2 a {
	font-weight: 400;
	font-size: 13px;
}

.nav-item.active{font-size: 0.9em;}

.on {font-weight: bold; color: #ec2b8c}
.on a{
	color: #ec2b8c;
}


.core-search .columns:nth-child(odd) { margin-left: 0 !important }
/*.module-ce-search .grid > .columns:nth-child(odd) { margin-left: 1.95313% !important }*/
.module-ce-search .grid > .columns:nth-child(4) { margin-left:0 !important }
.module-ce-search .grid > .columns .grid > .columns { margin-left: 0 !important }
.module-ce-search .grid > .columns .grid > .columns:nth-child(even) { 	margin-left: 1.95313% !important }
.module-ce-search .grid > .columns .grid > .six.columns > input {margin-left: 0 !important }

/*Proxy====================*/


.module-alphabet-list li {float: left; background-image: none;}

.selectbox, .selectbox2 {
	border:1px solid #ccc;
	background:url("/assets/images/selectbox.png") no-repeat right center;	
	border-radius:3px;
	cursor:pointer;
	position: relative;
	min-height: 42px;
}

@-moz-document url-prefix() { 
  .selectbox, .selectbox2 {
		min-height: 44px;
	}
}


.selectbox:hover, .selectbox:focus, .selectbox2:hover, .selectbox2:focus {
	border:1px solid #ccc;
	background: url("/assets/images/selectbox.png") no-repeat right;
	border-radius:3px;
	cursor:pointer;
}	


.selectbox div, .selectbox2 div {
	z-index: -1;
	border: 0px solid #000;
	overflow: hidden;
	padding: 8px;
	cursor: pointer;
	font-size: 16px;
	padding-right: 2.5em;
}	
.selectboxdiv {
    width: 100%;
    position: absolute;
	top: 0;
    left: 0;
    margin-top: 0;
	cursor: pointer;
    z-index: 2;	
	opacity: 0;
	-khtml-opacity: 0;
	-moz-opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
min-height: 35px;
  outline: none;
}	

.selectboxdiv:focus {
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  padding: 3px 0px 3px 3px;
  margin: 5px 1px 3px 0px;
  border: 1px solid rgba(81, 203, 238, 1);
}

.hasDatepicker {padding-left: 4px; padding: 6px 8px; font-size: 16px;}
.col-4 .hasDatepicker, .col-6 .hasDatepicker {margin: 6px 0;}
.listing-pic {margin-bottom: 12px; margin-right: 12px;}
.generic-listing {padding-top: 12px}
.teaser-copy {display: block; float: left; width: 80%;}

.search-option{float: left; margin-right: 22px; width: 300px; padding-bottom: 12px;height: 70px; position: relative;}
.clinicalChkBxWrapper{padding: 6px;}
.clinicalChkBxWrapper input{float: left;margin-top: 2px; margin-right: 6px;}
.clinicalChkBxWrapper label{float: left;}
.search-option-submit {float: left; padding-bottom: 1em; position: relative; width: 622px;}
.col-4 .search-option, .col-6 .search-option {width: 100%; height: 100%;}
.col-4 .search-option {width: 100%;}

.columns .textbox, .columns .dropdown{width: 100%; *width: 98%; width: 98%/9; padding-left: 4px;}
.columns .half {width: 45%; *width: 47%; display: inline-block; *display: block; *float: left; position: relative;}
.columns .half input {width: 100%;}
.columns label, .search-option-wide label {display: block; font-size: 13px; font-weight: bold; margin-bottom: 6px; }
.columns .errortext {float: right; font-size: 11px;}
.half .errortext {padding-top: 0;}

.search-option-wide, .toggle-hide-show {display: block; clear: both; margin-bottom: 12px; padding: 0 0 1em; font-size: .9em;}


.search-submit {
    margin-top: 20px;
}

.search-form {clear: left;}

.col-4 .search-submit {position: relative;bottom:0;}
.styled{width: 100%; background-color: #fff;}
.return { margin: 0 0 22px;}

.col-5 .module-alphabet-list li:first-child {
    padding-left: 9px;
}

.left {float: left; margin-right: 12px; margin-bottom: 6px;}
.right, .float-right {float: right; margin-left: 22px; margin-bottom: 6px;}
.highlight-box.right{
	float: right;
}
.six.columns .right{
	float: right;
}
.clear {clear: both;}
.small-text {font-size: 11px;}
.active {font-weight: 700;}
.pipe {padding: 0 6px;}
.date {display: block;font-weight: bold;}

.ui-tabs-panel ul {}
.ui-tabs-panel ul li {}

.form-toggle {display: none; clear: left;}
.form-toggle .columns:nth-child(odd),
.columns.datepicker,
.columns.datepicker .columns:nth-child(odd)
{margin-left: 0}

.module-view-all { padding-top: 5px; overflow: hidden; }
.module-view-all a { float: right; }

@media only screen and (min-width: 30em) and (max-width: 48em) {
	.core-search-again .twelve.columns { overflow: inherit !important; }
	.alpha-list { width: 100%; }
}




/****************************** PAGINATION CSS *****************************************/
.module-pg-wrapper {
	text-align: center; 
	margin: 12px 0 22px;
}
.module-pg-nav a, .module-pg-nav span { margin:  0 3px; }
ul.pagination {
	display: inline-table;
	height: 1.33333rem;
	margin-left: -0.27778rem; 
}
ul.pagination li {
	height: 1.33333rem;
	color: #222222;
	font-size: 0.77778rem;
	margin-left: 0.27778rem; 
}
ul.pagination li a {
	display: block;
	padding: 0.05556rem 0.55556rem 0.05556rem;
	color: #999999;
	-webkit-border-radius: 3px;
	border-radius: 3px; 
	text-decoration: none;
}
ul.pagination li:hover a, ul.pagination li a:focus { background: #e6e6e6; }
ul.pagination li.no-link a {
	cursor: default;
	color: #999999; 
}
ul.pagination li.no-link:hover a, ul.pagination li.no-link a:focus { background: transparent; }
ul.pagination li.active a {
	background: #ec2b8c;
	color: white;
	font-weight: normal;
	cursor: default; 
}
ul.pagination li.active a:hover, ul.pagination li.active a:focus { background: #D93C99; text-decoration: none; cursor: pointer;}
ul.pagination li {
	float: left;
	display: block; 
	padding: 0;
	background-image: none;
}

/* Pagination centred wrapper */
.pagination-centered { text-align: center; }
.pagination-centered ul.pagination li {
	float: none;
	display: inline-block; 
}

/****************************** SITE SEARCH MODULE CSS *****************************************/
.module-ss-search-box { display: inline; float: right; margin: 12px 6px 0; padding: 0; }
.module-ss-search-box .textbox {
    border: 1px solid #B0B0B0;
    float: left;
    margin: 1px 5px 0 0;
    padding: 2px;
    width: 176px;
	height: 16px;
}
.module-ss-search-again.grid {margin: 0 0 1em 0;}
.module-ss-search-again-keyword label, .module-ss-search-again-category label {margin: 0 2px;}
.module-ss-search-again .button, .module-nw-search .button {display: block; margin: 5px 0 0; clear: both;}
.module-ss-search-again .errortext {font-size: 11px;}
.module-ss-priority {margin: 12px 0 22px;}
.module-ss-filters-list li {margin: 2px 0 2px 6px}
.module-ss-current-keyword, .module-search-keyword { color: #464646;}

.module-search-main.columns,
.module-search-main .columns {
	margin-bottom: 15px;
}

.module-search-main.columns {
	margin-bottom: 40px;
	margin-left: 0px;
}

.module-nw-search .columns.datepicker {
	margin-bottom: 0px;
}

.module-nw-search .datepicker .columns input {
	width: 100%;
	padding-left: 4px;
}
.module-nw-feature .teaser-copy h5, .module-nw-latest .teaser-copy h5 {font-size: 15px; font-weight: 600}
.module-nw-feature .teaser-copy, .module-nw-latest .teaser-copy, .module-nw-related .teaser-copy  { width:100% }
.module-nw-related .module-thumbnail {display: block;width: 25%;margin-right: 5%;float: left}
.module-nw-feature .module-thumbnail, .module-nw-latest .module-thumbnail { width:25%; margin-right:5%; float:left}
aside.three .module-nw-feature .module-thumbnail img,
aside.three .module-nw-latest .module-thumbnail img,
aside.three .module-nw-related .module-thumbnail img,
.module-nw-latest .module-thumbnail img
 { width:100%; height:auto; min-width:0}
.module-nw-feature .module-thumbnail + .teaser-copy, .module-nw-latest .module-thumbnail + .teaser-copy, .module-nw-related .module-thumbnail + .teaser-copy{ width:70%}
.module-nw-latest .columns:first-child { padding-left:0 }
.module-core-results .twelve.columns{
	margin-bottom: 30px;
}


.tabs .columns{
	padding-top: 20px;
	padding-bottom: 5px;
}

.site-search-priority .listing .priority {background: #eee; padding: .8em; margin-top: 10px;}

/****************************** CALENDAR MODULE CSS *****************************************/
.module-ce-offerdates .listing-item {background: #fdfdfd; border:  1px solid #ccc;padding: 12px; position: relative;}
.module-ce-offerdates .highlight { background: #eeeeee; }
.event-leftpanel { width: 60%;float: left;}

.module-ce-offerdates-item .columns { margin-bottom: 0.75em; }

.module-ce-search {overflow: hidden; margin-bottom: 12px;}


.module-ce-search .six.columns + .six.columns + .six.columns + .six.columns{
	margin-left: 1.95313% !important;
}
.module-ce-search label{
	display: none;
}
input.hasDatepicker{
	font-size: 16px !important;
}


.dp_input {width: 100% !important}
.module-ce-categories ul li,
.core-li{
	padding-left: 0px;
	background-image: none;
}
/*.module-ce-search > .six.columns { max-height: 30px; }
*/.col-4 .module-ce-search {overflow: visible;}
.module-ce-contact, .module-ce-fee, .module-ce-register, .module-ce-reviews, .search-lib, .module-ce-offerdates {margin: 12px 0 12px 0;}
.module-ce-reviews,
.module-ce-register{
	margin-bottom: 0px;
}
.module-ce-fee{
	margin-bottom: 12px;
}
.module-ce-topic-profile .columns > p:last-child{
	margin-bottom: 0;
}
.module-ce-eventdaypicker { background: none !important; }
.module-ce-topic-upcoming {padding-top: 12px;}
.col-4 .module-ce-eventdaypicker {margin-bottom: 12px !important;}
.cal-location-name { }
.event-rightpanel {width: 40%;float: left;}
.event-rightpanel .event-register { }
.event-rightpanel .event-register .event-button { margin-bottom: 10px; }
.event-rightpanel .event-register .event-button a:hover {text-decoration: none;}
.event-rightpanel .event-register .event-availability {font-weight: bold; }
.module-ce-instructors-listing .toggle-hide-show a { font-size: 1.077em; }
.module-ce-instructors-listing .toggle-hide-show, .module-ce-instructors-listing .module-instructor {display: block; clear: both; padding: 6px 0;margin: 0;}
.module-ce-instructors-listing .module-instructor { }
.event-rightpanel .instructor-item { background: none;border: none; margin: 6px 0 22px; overflow: hidden;}
.event-rightpanel .instructor-item .thumbnail {display: block;float: left;padding: 5px;width: 50px;}
.event-rightpanel .instructor-item .results { float: left;}
.event-attendinginfo { width: 80%; }
.module-ce-filters-list li {padding-bottom: 3px;}

.module-ce-contact { width: 60%;float: left;}
.module-ce-fee { width: 40%; }
.module-ce-fee .fee-type { width: 240px;}
.module-ce-register, .module-ce-reviews { clear: both; }
.module-ce-offerdates-item.grid { position: relative; padding: 0.75em; border: 1px solid #aeb6b5; border-radius: 3px; overflow: visible !important; }
.module-ce-offerdates-item.grid .grid { overflow: visible !important; }
.module-ce-offerdates-item:after { content: ""; display: table; clear: both; }
.event-register { text-align: right; padding: 0.5em 0 0; }
.event-register:first-child { padding-top: 5px; }
.event-register .event-button{
	margin-bottom: 10px;
}
.event-availability { font-weight: bold; margin-top: 0.25em; }
.module-ce-offerdates.listing.grid  > .grid:last-child{
	border-bottom: 1px solid #aeb6b5;
}
.module-ce-topic-profile .right {
	float: right;
}

}
/* CE Module Lists */
.main .core-li .list-item-image { width: 100px; }
.main .core-li .list-item-image img  { width: 100px; height: auto; }
.module-ce-session-results .list-item-teaser p { margin-bottom: 0; }
.module-ce-instructors-listing .instructor-item { padding-left: 0.65em; padding-bottom: 6px; font-size: .9em !important;}
.module-ce-instructors-listing h5.twelve.columns { margin-bottom: 0.25em; }
.module-ce-instructors-listing .instructor-item .thumbnail { display: table-cell; width: 46px; }
.module-ce-instructors-listing .instructor-item .results { display: table-cell; width: auto; padding-left: 0.5em; vertical-align: top; }
.module-ce-instructors-listing .instructor-item .results > div { margin-bottom: 0.25em; }
.module-ce-instructors-listing .instructor-item .results a { color: #1273a3; }
.instructor-item .results p {font-size: inherit;}
.module-ce-instructors-listing { float: left; width: 40%; }
.module-ce-addthisevent { float: left; }
.module-ce-session-shoppingcart .cart-register { float:left; position:relative; z-index:2 }
.module-ce-session-shoppingcart .cart-register .button { right: 10px; z-index: 2; top: 10px }
.module-ce-view-all {margin: 0em 0 1.8em; text-align: center; }
.module-ce-view-all a { margin: 0 1.0em; }
aside.three .module-ce-view-all a { float:left }
.module-ce-view-ongoing { margin: 1.0em 0; text-align: right; }

/* Calendar Shopping Cart Base Styles */
.cart-listing > li { padding: 0 0 0.5em; position: relative; background: none; margin-bottom: 0.75em; }
.cart-item .item-summary { display: block; }
.cart-item .item-summary:after { content: ""; display: table; clear: both; }
.cart-item h5 { font-family: Arial, Helvetica, sans-serif; font-size: 1.0em; font-weight: bold; margin-bottom: 0; }
.cart-item .fee-type { display: table; font-size: 0.9em; width: 100%; margin: 0.25em 0 0; position: relative; }
.cart-item .fee-type > label, .cart-item .fee-type > div { display: table-cell; }
.cart-item .fee-type > div { width: 80%; position: relative; }
.cart-item .item-details { margin-bottom: 0.125em; }
.cart-item .item-details .desc { display: table-cell; width: 100%; font-size: 0.9em; }
.cart-item .item-price { display: table-cell; font-weight: bold; text-align: right; font-size: 0.9em; }
.cart-item .item-actions a, .cart-item .item-actions-remove a { 
    display: block; 
    width: 16px; 
    height: 16px; 
    background: transparent url("/assets/images/sprite-icons-shopping.png") no-repeat; 
    text-indent: -9999px;
}
.cart-item .item-actions-remove { display: table-cell; width: 16px; padding-right: 5px; vertical-align: middle; }
.cart-item .item-actions-remove > a { background-position: -16px -79px; }
.cart-item .item-actions-remove:hover, .cart-item .item-actions-remove > a:hover { background-position: -16px -16px; }
.cart-item .item-actions-remove:hover + .desc { color: #000; }

.add-promo-link { margin-bottom: 0.25em; }
.cart-promos { overflow: visible; font-family: Arial, Helvetica, sans-serif; }
.applied-promos > div { font-weight: bold; text-align: right; }
.applied-promos > div > span { display: inline-block; position: relative; left: 0.375em; width: 84px; }
.add-promo-panel { display: block; padding: 0.25em; position: relative; overflow: visible; padding-bottom: 0; }
.add-promo-panel .button,
.fitness-club-member-number .button {
font-family: "Open Sans", sans-serif;
display: block;
float: none;
clear: both;
display: inline-block;
font-size: 13px !important;
margin-left: 10px;
position: absolute;
top: 4px;
right: 0;
}
.add-promo-link a { margin-bottom: 0.25em; }
.add-promo-link input.textbox{
	width: 250px;
	display: block;
	margin-top: 10px;

}
.add-promo-panel label,
.fitness-club-member-number label{ display: none; }
.add-promo-panel input[type=text] { margin-bottom: 0px;}
.add-promo-panel .error,
.errortext,
.fitness-club-member-number .error{
	color: red;
	font-weight: bold;
	/* position: absolute; */
	/* top: 56px; */
	font-size: .9em;
	left: 0;
	clear: right;
	display: block;
	overflow: hidden;
	text-align: left;
	margin-top: 10px;
}
.errortext {
	font-size:13px
}
header .errortext {
	text-transform:none
}
.add-promo-panel input[type="submit"]{
	display: block;
	float: none;
}

.add-promo-panel .eight{margin-left: 0 !important;}

.cart-actions .cart-buttons {}
/*.cart-actions .cart-promos {position: relative; top: -2em;}*/

.cart-actions .add-promo-panel input[type="submit"]{display: inline-block; position: relative; margin-left: 1em;}
/*.add-promo-panel .error:before { content: ""; width: 16px; height: 16px; padding-right: 4px; background: transparent url('/assets/images/icon-error.png') no-repeat; vertical-align: middle; display: inline-block; }
*/
.cart-contents { padding-right: 0.375em !important; }
.cart-total h5, .cart-subtotal h5 { text-align: right; font-family: Arial, Helvetica, sans-serif; font-weight: bold; margin-top: 0.75em; }
.cart-total h5 { font-size: 1.0em; }
.cart-subtotal h5 { font-size: 1.0em; }
.cart-summary p { margin-top: 12px; font-weight: bold; }
.cart-actions { display: table; width: 98%; padding: 10px; margin-bottom: 10px; border-top: 1px solid #D4D4D4; }
.module-ce-session-shoppingcart-summary .cart-actions { border: none; }
.top .cart-actions { border: 1px solid #D4D4D4; border-radius: 3px; padding: 10px; position: relative;}
.top .cart-buttons { min-height: 65px; }
.top .cart-contents .cart-total { border-top: 1px solid #D4D4D4; }
.reg-callout .cart-actions { display: table; width: 95%; padding: 10px 0; border: none; margin: 0; }
.cart-actions:after { content: ""; display: table; clear: both;  }
.cart-actions .cart-empty a:before, .cart-header-wrap .cart-empty a:before { display: inline-block; content: ""; width: 16px; height: 16px; background: transparent url("/assets/images/sprite-icons-shopping.png") no-repeat; }
.cart-header-wrap .cart-empty { text-align: right; padding-top: 1.0em; }
.cart-actions .cart-checkout, .cart-actions .cart-empty, .cart-actions .cart-edit { display: table-cell; text-align: center; }
.cart-actions .cart-checkout > a, .cart-actions .cart-edit > a, .cart-actions .cart-edit > a, .cart-actions .cart-register > a { text-decoration: none; }
.cart-actions .cart-register { padding: 0.5em 0; text-align: right; }
.cart-actions .cart-checkout > a:before, .cart-actions .cart-edit > a:before, .cart-actions .cart-register > a:before { background-position: -48px -48px; position: relative; top: 3px; margin-right: 0.35em; }
.cart-actions .cart-checkout > a:hover, .cart-actions .cart-edit > a:hover, .cart-actions .cart-register > a:hover { background-position: 0 center; text-decoration: none; }
.cart-register .button:hover {
background-color: #D93C99;
}
.cart-actions .cart-empty { padding: 0.35em 0; text-align: right; }
.cart-actions .cart-empty > a, .cart-header-wrap .cart-empty a { color: #696969; font-size: 0.8em; text-decoration: none; }
.cart-actions .cart-empty > a:hover, .cart-header-wrap .cart-empty a:hover { color: #000; text-decoration: none; }
.cart-actions .cart-empty > a:before, .cart-header-wrap .cart-empty a:before { background-position: -16px -79px; position: relative; top: 3px; }
.cart-actions .cart-empty > a:hover:before, .cart-header-wrap .cart-empty a:hover:before { background-position: -16px -16px; }
.cart-actions.grid, .cart-actions .grid { overflow: visible; }
.three.columns .module-ce-session-shoppingcart .cart-actions.grid .six.columns{
	width: auto;
}

.add-promo-panel {padding-bottom: 1em}
.module-ce-topic-profile .system-message {
	text-align: center; 
	margin-top: 0.75em; 
	margin-bottom: 0.75em;
	font-weight: bold;
	padding: 0.5em;
}
.module-ce-topic-profile .system-message.success { color: rgb(0,128,1); background: rgb(143,238,144); border: 2px solid rgb(0,128,1); border-radius: 5px; box-shadow: 0 0 3px rgba(0,0,0,.5); display: none;}
.module-ce-topic-profile .system-message.error { color: rgb(255,2,1); background: rgb(255,182,193); border: 2px solid rgb(255,2,1); border-radius: 5px; box-shadow: 0 0 3px rgba(0,0,0,.5);}
.module-ce-topic-profile h1:before { content: ""; display: table; clear: both; }

@media only screen and (max-width:1040px){
	.module-ce-session-shoppingcart .cart-buttons { float:left; position:relative; display:block}
}

/* 3 Col Mobile */
@media only screen and (max-width: 48em) {
	.module-thumbnail.two.columns { width: 15.03906%; margin-right: 0; float: left; }
	.teaser-copy.ten.columns { width: 83.00781%; margin-left: 1.95313%; float: left; }
	.add-promo-panel input[type=submit] { margin-top: 1.0em; }
	.module-ce-session-shoppingcart .cart-buttons .six.columns { width: 49.02344%; text-align: center; float: left; margin-top: 1.5em; }

	.add-promo-panel input.su .module-ce-session-shoppingcart .cart-buttons .six.columns { width: 49.02344%; text-align: center; float: left; margin-top: 1.5em;}
}

@media only screen and (max-width:768px){
	.module-ce-search .grid > .columns:nth-child(odd), .module-ce-search .grid > .columns .grid > .columns:nth-child(even) { margin-left: 0 !important }
}

/* 2 Col Wide Left Mobile */
@media only screen and (max-width: 44.0625em) {
	/* Cart Summary Callout */
	section.nine.columns + aside.three.columns .cart-summary p { text-align: center; }
	section.nine.columns + aside.three.columns .cart-actions .six.columns { width: 49.02344%; }
	section.nine.columns + aside.three.columns .cart-edit { text-align: right; }
	section.nine.columns + aside.three.columns .cart-checkout { text-align: left; padding-left: 1.95313%; }
	
}

/* WFFM Default Style Overrides for Calendar Checkout */
.scfForm .columns label { margin-bottom: 0; padding-left: .7em;}
.scfForm .scfSectionContent > .columns { margin-bottom: 12px !important; padding-top: 0 !important; padding-left: 0; padding-bottom: 0;}
.scfForm .scfSectionContent .columns .columns{ margin-bottom: 0px !important; padding-bottom: 0px; }
.nine .scfForm .scfSectionContent > .columns, .nine .scfCreditCardBorder.columns  {margin-bottom: 1.5em !important;}
/*.nine  .scfForm .scfSectionContent .columns .columns {padding-bottom: .4em !important;}*/
.scfForm .scfDropListGeneralPanel select { width: 100% !important; }
.scfDropListBorder { margin-bottom: 17px; }
.CartTotalBorder { margin-left: 12px; }
.CartTotalBorder .CartTotalTitleLabel, .CartTotalBorder .CartTotalLabel { width: auto !important; margin-right: 1.0em !important;  }
.scfShortDate, .scfShortText {
	clear: left;
	display: block;
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
	padding-left: 12px;
	padding-right: 6px;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 100%;
}
/****************************** PHYSICIAN DIRECTORY MODULE CSS *****************************************/
.module-pd-profile-top h1{
	color: #464646;
}

.module-pd-search {margin: 22px 0;}

.new-patients{
	border: 1px solid #ec2b8c;
	background-color: #fce5f1;
	background-image: url("/assets/images/layout/new-patients.png");
	background-repeat: no-repeat;
	background-position: 15px 7px;
	border-radius: 5px;
	padding: 15px 10px 15px 70px;
	margin-bottom: 2em;
}

.new-patients p{
	color: #ec2b8c;
	margin: 0px;
	font-weight: 700;
}

.physician-profile-pic img{
	border: 5px solid #ec2b8c;
	margin-bottom: 2em;	
}

.physician-profile-vid{
	margin-bottom: 2em;
}


.widget .physician-profile-vid, .widget .physician-profile-vidl {min-height: 14em; margin-bottom: 1em;}

.physician-profile-vid {
    position: relative;
    padding-bottom: 56.25%; /* 16/9 ratio */
    padding-top: 30px; /* IE6 workaround*/
    height: 0;
    overflow: hidden;
	-webkit-overflow-scrolling:touch; 
}

.physician-profile-vid iframe,
.physician-profile-vid object,
.physician-profile-vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.address-callout{
	background-color: #ec2b8c;
	text-align: center;
	color: white;
	font-size: 1.1em;
	padding: 20px;
}

.address-callout a,
.address-callout p{
	color: white;
}

.address-callout address{
	margin-bottom: 0;
}

.address-callout .button {
	display: block;
	max-width: 138px;
	margin: 0 auto;
	margin-top: 15px;
}

.address-callout p{
	margin-bottom: 0.2em;
}

.core-search .columns, .module-pd-search .columns, .module-pd-search-again .columns, .pd-profile .columns, .module-nw-search .columns, .scfSectionContent .columns {margin-bottom: 1em}
.module-pd-search .columns .columns{margin-bottom: 0}

.module-pd-quick-search {position: relative;}
.module-pd-profile {height: 1%; overflow: hidden; position: relative;}
.module-pd-degrees {display: inline;margin-left: -5px;}
.module-pd-info {line-height: 24px; font-weight: bold;padding-bottom: 16px;}
.module-pd-office-listing {padding: 1em 0 0;}
.module-pd-profile .module-pd-office-listing {padding: 0 0 22px;}


.module-pd-office-item div {padding-bottom: 6px;}
.module-pd-office-item h5 {font-weight: bold; margin-bottom: 0; display: inline;}
.module-pd-tab-label {font-weight: bold;}
.module-pd-attribute {padding-bottom: 15px;}
.module-pd-az {margin: 22px 0 12px;}
.nine .module-pd-az .one {
width: 2.845% !important;
}

.module-pd-specialty-list {}
.module-pd-specialty-list h2 {font-size: 14px; font-family: Arial, Helvetica, sans-Serif; margin-bottom: 0; line-height: 20px;}

.module-pd-services {float: left; line-height: 20px;}
.module-pd-specialty-list ul {margin-left: 0; margin-top: 0;}
.module-pd-specialty-list li {background: none; padding: 0;}

.module-pd-view-all { padding-top: 5px;overflow: hidden; }
.module-pd-view-all a { float: right; }

.module-pd-offices .six.columns  {margin-bottom:1em}
.module-pd-offices .six.columns:nth-child(3n)  {margin-left:0}
.module-pd-related .list-item-copy h5 {font-size: 15px; font-weight: 600}
.module-pd-related .core-list li ul { margin-bottom:0.25em !important}
.module-pd-related .listing-item-more-link { font-size: 13px; margin-top: 0}
.module-pd-related .module-pd-view-all { margin-bottom:1.8em }
aside.three div[class*=module-pd-] .core-list .core-li { border-top: 1px solid #d8d8d8; margin-top: 15px; padding-top: 15px}
aside.three div[class*=module-pd-] .core-list .core-li:first-child { border-top: none; margin-top: 0; padding-top: 0}

/****************************** FAQ MODULE CSS *****************************************/
.module-faq-search {position: relative;}

/****************************** NEWS MODULE CSS *****************************************/
.module-nw-search {position: relative;}
.module-nw-filters-list li {padding-bottom: 3px;}
.module-nw-detail .date {margin-bottom: 12px; display: block;}
.module-nw-search .columns + .columns + .columns{
	margin-left: 0px;
}
div[class*=module-nw-] .listing-item-more-link {font-size: 13px; margin-top: 5px}
div[class*=module-nw-] .core-list h5 {font-size: 15px; font-weight:600}
aside.three div[class*=module-nw-] .core-list li { border-top: 1px solid #d8d8d8; margin-top: 15px; padding-top: 15px}
aside.three div[class*=module-nw-] .core-list li:first-child { border-top: none; margin-top: 0; padding-top: 0}
aside.three div[class*=module-nw-categories] .core-list li { border-top: none; margin-top: 0; padding:.3em 0}

/****************************** LOCATION DIRECTORY MODULE CSS *****************************************/
.module-lc-info {float: left; padding-right: 12px; width: 40%;}
.module-lc-services {float: left; line-height: 20px;}
.module-lc-address, .module-lc-hours { margin: 18px 0;}
.module-lc-image {margin-bottom: 6px}
.module-lc-profile {height: 1%; overflow: hidden; padding: 20px 20px 20px 12px; position: relative;}

@media only screen and (max-width: 31.25em) {
	.module-lc-info, .module-lc-services { text-align: center; }
}

/****************************** GREETING CARDS MODULE CSS *****************************************/
.thumb-greeting {float: left; margin: 12px; padding-bottom: 12px; text-align: center;}
.thumb-greeting span {display: block; padding-left: 12px; padding-top: 3px;}
.module-gc-greetingcardpreview input { margin-left: 12px;}
.module-gc-greetingcardpreview li {background: none; padding: 6px 0}
.module-gc-greetingcardpreview li span {font-weight: bold;}

/****************************** CLINICAL TRIALS MODULE CSS *****************************************/
.module-ct-results label {font-weight: bold;}
.module-ct-profile label {font-weight: bold;}
.module-ct-profile .single-line-listing {padding-bottom: 10px;}
.module-ct-profile .paragraph-listing {padding-bottom: 10px;}
.paragraph-listing .label { display: block;}
.module-ct-view-all { padding-top: 5px;overflow: hidden; }
.module-ct-view-all a { float: right; }

/****************************** PHOTO GALLERY MODULE CSS *****************************************/
.module-pg-simplegallery #thumbs li { background:none; }

/****************************** SERVICES MODULE CSS *****************************************/
.module-sv-alpha {
    margin-bottom: 12px;
    overflow: hidden;
}
.module-sv-search-custom { margin-top:1em; padding-top:1.6em;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li { border: none !important; border-top:1px solid #ededed !important; margin:0; border-top: 1px solid transparent !important; background-color: transparent; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav { background:#fdfdfd;  padding: 20px 10px;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li a, .module-sv-alpha-custom .ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a { padding: 4px 8px; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li.ui-tabs-selected { background-color:#fff !important; border: 1px solid #ededed !important; -webkit-border-radius: 6px !important; -moz-border-radius: 6px !important; border-radius: 6px !important; padding-bottom:0;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li.ui-tabs-selected a { color: #7ab800;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-panel .listing-item:last-child { border-bottom:none; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-panel .listing-item.half:last-child { border-bottom: 1px solid #CCCCCC; }
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li{ width: auto !important; }
.module-sv-alpha-custom .module-alphabet-list li:first-child { padding-left:0 !important}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li .aspNetDisabled { color: #505050; text-decoration: none!important; color: #a5a4a4; pointer-events: none; cursor: default;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-nav li.ui-tabs-selected .aspNetDisabled { color: #505050; text-decoration: none!important; color: #a5a4a4; pointer-events: none; cursor: default;}
.module-sv-alpha-custom .ui-tabs .ui-tabs-panel { padding-left:21px;}
.module-sv-search-custom .search-option { width:87.5%; margin-right:1%; height:auto }
.module-sv-search-custom .search-option input[type='text'] { font-size:1em; height: 31px; background:url('/assets/default/images/mobile-search.png') no-repeat 99% 50%;  }
.module-sv-search-custom .search-option-submit { width:11.5%; margin-top: 2px;height:2.5em; float:right; padding-bottom:0; }
.module-sv-search-custom .search-option-submit .search-submit{ right:0; left:auto; top:0; }
.module-sv-search-custom .search-option-submit .search-submit input[type="submit"] { margin-top:0; height:26px;}
.col-8 .module-sv-alpha-custom .listing-item { font-size:1.2em; margin-left:0.45em; margin-right:0.45em;}
.col-8 .module-sv-alpha-custom .listing-item.half { width:45%; margin-right:2.5%; position:relative; display:inline-block;}
.module-sv-featured h2{margin-top: 0px; line-height: 16px;}
.content .module-sv-featured .two-col li{border-bottom: 0px; padding-bottom: 2px;font-size: 1.2em;}

.module-ss-search-again .twelve.columns{
	margin-left: 0px;
}

.module-core-results .twelve.columns{
	margin-bottom: 15px;
}

.module-core-results .twelve.columns .teaser-copy{
	width: 100%;
}


/****************************** PUBLICATIONS MODULE CSS *****************************************/
.module-pb-view-all { padding-top: 5px; overflow: hidden; }
.module-pb-view-all a { float: right; }
.reg-callout .module-pb-view-all, .reg-callout .module-view-all { padding-bottom:1.8em; margin-bottom:0 }
div[class*=module-pb-] h5 { font-size: 15px; font-weight: 600 }
div[class*=module-pb-] .listing-item-more-link {font-size: 13px;margin-top: 5px}
aside.three div[class*=module-pb-] .core-list .core-li { border-top: 1px solid #d8d8d8; margin-top: 15px; padding-top: 15px}
aside.three div[class*=module-pb-] .core-list .core-li:first-child { border-top: none; margin-top: 0; padding-top: 0}
section.nine .module-pb-latest .eight {width:83.00781%}
section.nine .module-pb-latest .four {width:15.03906%}
section.nine .module-pb-feature .eight {width:83.00781%}
section.nine .module-pb-feature .four {width:15.03906%}

/****************************** STAYWELL MODULE CSS *****************************************/
.module-sw-listbyalphaform .module-alphabet-list {
	overflow: hidden; 
	margin-bottom: 22px;
}
.Question {padding-bottom: 15px;}
.module-sw-contentbyid table {
	width: 100%;
	margin: 15px 0 30px;
}
.module-sw-contentbyid table th {
	padding: 5px 10px 7px;
	border: 1px solid #dedede;
	font-weight: bold;
	text-align: left;
	color: #fff;
	background: #0073CF;
}
.module-sw-contentbyid table td {
	padding: 10px 11px 12px;
	font-size: .917em;
	line-height: 1.273em;
	border: 1px solid #dedede;
	vertical-align: top;
}


/****************************** POLICY PROCEDURE MODULE CSS *****************************************/
.module-pp-sitemap {clear: left;}
.module-pp-sitemap ul {list-style-type: none; margin-top: .6em}
.module-pp-sitemap li {padding: 0 0 0.4em 1.1em;}
.tree {margin-top: 1.5em !important}
.tree .expand {background: none; position: relative;}
.expand li {margin-left: 1em;}
.static {color: #00697e}
.jtree-arrow {
	font-weight: bold;
	font-size: 14px;
	color: #f69d5b;
	padding-right: 4px;
	position: absolute;
	width: 60%;
	left: 0;
	background: url('/assets/default/images/spacer.png') repeat;
}
.module-pp-profile {}
.module-pp-profile .columns { margin-bottom: 1em}
.policy-content div {padding-bottom: .8em}


/****************************** GALLERY MODULE CSS *****************************************/
.module-photo-gallery .stage { margin-bottom: 1.5em; }
.module-photo-gallery .image-wrap {
	width: auto;
	width: 100%;
	min-height: 500px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	background: #fff;
}
.module-photo-gallery .image-wrap:after {
	content: "";
	display: table;
	clear: both;
}
.module-photo-gallery .image-wrap > img {
	z-index: 999997;
	position: relative;
	margin: 0 auto;
}

.module-photo-gallery .mt-item-wrap { width: 100%; }
.module-photo-gallery .mt-item-wrap > div { margin: 0 auto; }

.module-photo-gallery .image-overlay {
	color: #fff;
	position: absolute;
	padding: 0.75em;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,.8);	
	width: 100%;
	z-index: 9999999;
}
.module-photo-gallery .stage .image-count { 
	display: table-cell; 
	vertical-align: middle; 
	padding-right: 1.0em; 
	width: 80px; 
	min-height: 50px; 
}
.module-photo-gallery .stage .image-details { display: table-cell; }
.module-photo-gallery .stage .image-title { font-size: 1.0em; margin-bottom: 0.25em;}
.module-photo-gallery .stage .image-desc { font-size: 0.9em; }

.module-photo-gallery .thumbs > div { margin: 0 auto;}
.module-photo-gallery .thumbs > div:after { 
	content: ""; 
	display: table; 
	clear: both; 
}

/*.module-photo-gallery .thumbs .module-photo-item {
	float: left;
	width: 100px; 
	height: 100px;
	margin: 0 7.5px 15px;
}*/
.module-photo-gallery .thumbs img { 
	/*width: 100px;*/
	height: 100px;
	margin: 0 7.5px 15px;
	opacity: 0.8;
	cursor: pointer;

}
.module-photo-gallery .thumbs img.active { opacity: 1.0; }
/*.module-photo-gallery .thumbs > img.active { opacity: 0; }

.module-photo-gallery .thumbs > img { max-width: 100px;max-height: 100px;position: absolute;z-index: 9999;opacity: 0; }*/

.mt-gallery-paging { margin: 0.75em auto; text-align: center; } 
.mt-gallery-paging a.mt-prev { margin-right: 0.5em; cursor: pointer; }
.mt-gallery-paging a.mt-prev:before { content: "\00ab  "; position: relative; top: -1px; }
.mt-gallery-paging a.mt-next { margin-left: 0.5em; cursor: pointer; }
.mt-gallery-paging a.mt-next:after { content: " \00bb"; position: relative; top: -1px; }


/****************************** BLOG MODULE CSS *****************************************/
.post {margin: 1em 0 1.5em;}
.module-nw-search .columns {margin-bottom: 1em;}
.module-nw-search > .columns .columns {
margin-bottom: 0;
}

/****************************** CUSTOM FORM CSS *****************************************/
.core-customform  .scfForm input {
border: 1px solid #CCC !important;
border-radius: 3px !important;
/* width: 100%; */
}
.core-customform .scfSubmitButtonBorder {margin-left: 2.4em;}
.core-customform .scfSubmitButtonBorder input {
background-color: #C50063;
color: #FFF;
font-size: 14px;
font-weight: 400;
height: auto;
padding: 4px 11px;
border: 1px solid #C50063;
cursor: pointer;
text-transform: uppercase;
}

.core-customform .scfSubmitButtonBorder input:hover{background-color: #D93C99;}

/****************************** HEALTH LIBRARY MODULE CSS *****************************************/
.health-library {text-align: center}
.health-library img {margin-bottom: .4em}
.health-library .columns {margin-bottom: 1.2em; font-size: .9em;}
.health-library-results a {font-weight: bold}
.health-library-results .listing-item {padding-top: 0;}
.module-sw-contentbyid li {margin-left: 1em}

/*.reg-callout.grid .twelve.columns{
	font-size: 18px;
}*/

.module-pd-listing-info .new-patients{
    margin-top: 20px;
}
.reg-callout .core-list .grid .three.columns{
	width: 40%;
}
.reg-callout .core-list .grid .three + .nine.columns{
	width: 55%;
}
.reg-callout .core-list .grid .nine.columns{
	width: 100%;
}
.reg-callout.grid .core-list .twelve.columns{
	font-size: 15px;
}
.reg-callout .core-list .grid h5{
	margin-bottom: 5px;
}

.module-ce-daypicker{
	margin-bottom: 20px;
}
aside.three div[class*=module-ce-featured] .core-list .core-li { border-top: 1px solid #d8d8d8; margin-top: 15px; padding-top: 15px}
aside.three div[class*=module-ce-featured] .core-list .core-li:first-child { border-top: none; margin-top: 0; padding-top: 0}
aside.three div[class*=module-ce-related] .core-list .core-li { border-top: 1px solid #d8d8d8; margin-top: 15px; padding-top: 15px}
aside.three div[class*=module-ce-related] .core-list .core-li:first-child { border-top: none; margin-top: 0; padding-top: 0}
.reg-callout .module-ce-daypicker {padding: 0;}

/*.selectbox{padding-left: 10px !important;}*/

.module-ce-session-shoppingcart-summary .cart-checkout{
	margin-left: 10px;
}

 .nine .scfCreditCardBorder.columns {margin-top: 1em;}
 .nine .scfCreditCardBorder.columns:first-child {margin-top: 0; padding-left: 0;}

.nine .scfShortDate .scfDateSelectorMonth, .scfShortDate .scfDateSelectorYear {
	width: 100% !important;
	padding: 11px 0px !important;
}

.nine .out.columns.twelve {
padding-top: 11px !important;
padding-left: 8px !important;
padding-bottom: 11px !important;
width: 100% !important;
margin-bottom: 0;
}

.nine .scfDateSelectorMonthWrap .selectboxdiv, 
.nine .scfDateSelectorYearWrap .selectboxdiv{
	top: -5px !important;
}

.on:hover {
text-decoration: none;
}

.listing .module-pd-listing-info{
	margin-bottom: 0px;
}

.fitness-club-member-number{
	margin-top: 15px;
	position: relative;
}

.add-promo-panel{
	position: relative;
}

.scfCreditCard > .columns.twelve:first-child {
	margin-bottom: 20px !important;
}

.scfCreditCard > .columns.twelve:first-child .selectbox{
	width: 100% !important;
}

.core-search div div.six.columns.grid {
	margin-bottom: 0;
}

@-moz-document url-prefix() { 
	.module-ce-search .columns .textbox,
	.module-ce-search .columns .dropdown{
		height: 43px;
	}

}

.module-pb-search .reg-callout{
	overflow: hidden;
}

@media only screen and (max-width: 705px) {
	.nine.columns .module-nw-quick-search, .nine.columns .module-nw-year, .nine.columns .module-nw-categories{
		display: block;
	}

	.three.columns .module-nw-quick-search, .three.columns .module-nw-year, .three.columns .module-nw-categories{
		display: none;
	}

	.module-pb-latest .two.columns{
		margin-top: 0px;
		margin-bottom: 0px;
	}


}

.module-pb-detail .grid .two.columns{
	width: 21%;
}
.module-pb-detail .grid .ten.columns{
	width: 73%;
}

.module-pb-search,
.module-pb-categories,
.module-pb-archive{
	margin-bottom: 0px !important;
}

.module-ce-instructors-listing .selected{
	font-weight: normal !important;
}

.module-ce-instructors-listing .selected.open{
	font-weight: 700 !important;
}


.module-ce-search .six.columns{
	min-height: 42px;
}

.grid .six.columns .hasDatepicker, .grid .six.columns .dp_input{
	padding-left: 8px;
	padding-right: 30px;
	width: 49.02344% !important;
}

.fixed-fee{
	/*display: none;*/
}

.module-ce-register{
	margin-bottom: 12px;
}

.module-ce-addthisevent{
	display: none;
}

.add-promo-link .selected{
	font-weight: normal;
}

.scfForm input[type="image"]{
	width: auto;
	padding: 5px;
}

.scfCaptcha table{
	width: auto;
}

.scfCaptcha input[type="text"]{
	width: 200px;
}

/*.three.columns .hasDatepicker {
	font-size: 18px !important;
}

.three.columns .textbox,
.three.columns .selectboxdiv option{
	font-size: 18px !important;
}*/

.location-map{
	position: relative;
}

.location-map > .button{
	position: absolute;
	bottom: 3%;
	left: 50%;
	margin-left: -58px;
}

.profile-pic{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	display: inherit;
}

.reg-callout > ul{
	margin-bottom: 20px;
}

.unit .singleField + .singleField .selectbox {
	width: 150px;
}

.singleField {margin-top: 1em;}

#main_0_contentpanel_1_pnlResultPregnancyCalculation {margin-top: 1em;}
#main_0_contentpanel_1_pnlResultPregnancyCalculation .singleField {}

.module-nw-related a:hover,
.module-ce-topic-related a:hover{
	text-decoration: underline;
}
