/****************************** SITE SEARCH MODULE CSS *****************************************/
.module-ss-search-box .search-option {color: #737373; font-size: 11px; position: relative; top: 3px; height: auto !important; width: auto !important;}
.module-ss-search-box .search-option input[type="text"] {padding: 4px 40px 6px 6px; border: 1px solid #dad3b8; color: #737373;}
.module-ss-search-box .search-option button, 
.module-ss-search-box .search-option input[type="button"], 
.module-ss-search-box .search-option input[type="reset"], 
.module-ss-search-box .search-option input[type="submit"] {
	border: none;
	height: 28px;
	display: block;
    cursor: pointer;
    margin-top: 0px;
	width: 17px;
	line-height: 0;
	text-indent: -999px;
	position: absolute;
	right: 2px;
    top: 0;
	border-radius: 0;
	padding: 0;
}
.module-ss-search-box .search-option button:hover  {background-position: left 7px; }
.module-ss-search-box .search-option .errortext { text-align: right; }
