 .logo:after, nav, .header-utility, .spread, nav.main-nav > .grid > ul > li > a, .donate, .latest-tweet,  .mobile-nav, .landing-jump-wrapper, .main-quote, .all-services-toggle, button, .dropdown-content > .three.columns, .interior-page > .four.columns, .breadcrumb, .responsive-tabs__list, .wide-left > .three.columns, iframe, .hero, .home-callout .callout-event > a img, .text-resizer, .homepage-services-slider-full-width, .landing-page > img, .grid > .quote, .home-content .slider-caption, .home-content .owl-item + .owl-item, .wide-right > aside.three.columns, .listing-item-more-link, .pdf-link, .new-patients, .module-pg-nav, .homepage-callout-slider-wrapper, .read-more, .module-nw-view-all, .input[type="button"], .accordion-content img{
	display: none;
}


.responsive-tabs__panel{
	padding-top: 0;
}


@-moz-document url-prefix() { 
  .wide-right .nine.columns{
  	float: none;
  }

  .module-pd-results .wide-right .nine.columns{
  	float: none;
  }
  
  header, 
  body > div.grid:not(.main-content) { 
  	display: none !important; 
  } 
  body > .main-content:before {
	content: url("/assets/images/logo.jpg");
	display: block;
	margin-bottom: 1.0em;
	width: 300px;
	height: 80px;
	}
}


.landing-page .landing-jumps{
	float: left;
	padding-top: 30px;
}

.home + .main-content{
	margin-top: 140px;
}

.home-callout .callout-event > a{
	padding: 0px;
	margin-bottom: 40px;
}

.logo{
	left: 0;
}

.headline-main-heading{
	width: 100%;
}

.dropdown-content > .nine.columns,
.interior-page > .six.columns,
.wide-left > .nine.columns{
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-right: 0px;
}

header{
	border-top: 0;
}

a,
a:link,
a:hover{
	text-decoration: none;
	color: #464646;
}

li{
	padding: 0;
}

.dropdown-content,
.footer-utility-links > ul + ul li:first-child,
.ui-accordion-content,
.responsive-tabs__panel{
	display: block !important;
	border-top: 0px;
}

.footer-utility-links li:after{
	content: none;
}

.footer-utility-links > ul + br + ul li:first-child + li,
.footer-utility-links > ul + br + ul li:first-child + li + li,
.footer-utility-links > ul + br + ul li:first-child + li + li + li{
	display: none;
}


.accordion .ui-state-default,
.ui-accordion-content{
	padding: 0;
}

.accordion .ui-state-active{
	border-bottom: 0px;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited,
.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited,
.ui-accordion-header *,
.ui-state-active{
	color: #464646 !important;
}

.callout h4,
.feature-content h4{
	border-bottom: 0px;
	text-align: left;
}

.new-patients {
	border: 0px solid #ec2b8c;
	background: none;
	border-radius: 5px;
	border: 0px;
	margin-bottom: 2em;
	padding: 0px;
}

article ul {
	list-style: disc;
	padding: 0;
	margin-left: 20px;
}

.print-only{
	display: block;
	text-transform: uppercase;
	color: #464646 !important;
	font-size: 17px;
	font-weight: 700;
}

h1{
	font-size: 26px;
}

.home-content .four.columns{
	width: 100%;
	margin-left: 0px;
	padding-left: 0px;
}

.event-header .event-date{
	text-align: left;
	display: block;
	position: static;
	top: auto;
	padding: 0;
	height: auto;
	margin-bottom: 5px;
}

.event-header {
position: static;
padding: 0; 
margin-bottom: 5px;
height: auto;
}

.home-content .callout-event{
	padding: 0px;
}

.home-content .owl-wrapper{
	width: 374px;
}

/*body , html{
 overflow-x: visible;
 overflow-y: visible;
}*/

.footer-blog-links li a{
	padding-left: 0 !important;
}

.footer-blog-links li > span{
	display: none;
}

footer .footer-blog-links {
	margin-left: 30px;
}

.footer-header{
	display: none;
}

/*.breadcrumb-wrapper,
.breadcrumb{
	display: block;
	margin-top: 10px;
	font-size: 12px;
	padding-left: 5px;
}

.breadcrumb .home,
.breadcrumb .home + .separator{
	display: none !important;
}

.breadcrumb .separator{
	position: relative;
}

.breadcrumb .separator:after{
	content: ">";
	background: url("/assets/images/layout/breadcrumb-carrot.png") !important;
	position: absolute;
	top: -1px;
	right: 4px;
	width: 10px;
	height: 25px;
	color: black;
}

*/


  .its.visible-mobile{display: none !important;}
	* { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; border:none !important; } /* Black prints faster: h5bp.com/s */
	a, a:visited { text-decoration: underline; }
	a:link:after, a:visited:after { content: ""; }
	.ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	header .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
	pre, blockquote {page-break-inside: avoid; }
	thead { display: table-header-group; } /* h5bp.com/t */
	tr, img { page-break-inside: avoid; }
	img { max-width: 100% !important; border: 0;}
	p, h2, h3 { orphans: 3; widows: 3; }
	h2, h3 { page-break-after: avoid; }
	tr { width:100% }
	td { max-width:30%; width: auto }
	header { position:relative }
	
	body {overflow-x: visible !important; overflow-y: visible !important;}
	.accordion>*{display:block !important;float:none !important;overflow-y:visible !important}
	.ui-accordion .ui-accordion-content{display:block !important;float:none !important;overflow-y:visible !important}
	.nav-core, .tools, .main-content .widget-tools, footer .social, .foot-inner, .foot-note .columns, .hero, .case .video, .case, .collapse-for-mobile, .mobile-filter  {display: none !important;}
	.logo img {display: none}

	.foot-note .disclaimer, .ie-print {display: block !important;}
	.mt-wrapper {width:100%}
	/* Responsive tabs */
	.main-content .responsive-tabs { margin: 0 !important; }
	.main-content .responsive-tabs-wrapper  .responsive-tabs__panel { display: block !important; position:relative !important; float:none !important; opacity:1; left:auto; top:auto; clear:both; height:auto; overflow:hidden;}
	.main-content .responsive-tabs__panel > .mtslider { 
		display: block !important;
		position: relative !important; width:100%;
		float: left !important; 
	}
	.responsive-tabs__list, .responsive-tabs__heading, .responsive-tabs__heading a { display: none !important; height: 0 !important; width: 0 !important; }
	.responsive-tabs__panel { display: block !important; visibility: visible !important; }
	.responsive-tabs .row { margin-bottom: 0 !important; }	

