<cfif IsDefined("URL.id") And IsDefined("URL.stid")><!--- classID & Student ID--->
  <cflocation url="#Application.siteURLRoot#/index.cfm?md=class&tmp=submit_review&type=course&id=#URL.id#&stid=#URL.stid#">
</cfif>