html{
	color:#000;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
blockquote,
th,
td {
	margin:0;
	padding:0;
}

// p removed from above



table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,
img {border:0;}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
	font-style:normal;
	font-weight:normal;
}
li {}
caption,
th {text-align:left;}

/*
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size:100%;
	font-weight:normal;
}
*/

q:before,
q:after {content:'';}
abbr,
acronym {
	border:0;
	font-variant:normal;
}
sup {vertical-align:text-top;}
sub {vertical-align:text-bottom;}
input,
textarea,
select {
	font-family:inherit;
	font-size:inherit;
	font-weight:inherit;
}
input,
textarea,
select {*font-size:100%;}
legend {color:#000;}
html {min-width:966px;}

body {
	color:#333132;
	font:12px "Trebuchet MS",Arial,Helvetica,sans-serif !important;
	background-color:#d8dfde;
	background:#d8dfde url(../../assets/imagesNew/bg-body.gif) repeat-x;
	min-width:966px;
}
a {
	color:#004c72;
	text-decoration:none;
}

a:hover {text-decoration:underline;}
input,
textarea,
select{
	font:12px Arial, Helvetica, sans-serif;
	vertical-align:middle;
}
.page {
	overflow:hidden;
	width:100%;
	position:relative;
}

#wrapper {
    margin: 0 auto 11px;
    padding: 10px 0 0;
    width: 100%;
}
#header {
	width:944px;
	margin:0 auto 11px;
	padding:0 11px;
	overflow:hidden;
}
.image-logo {display:none;}
.block {
	background: url(../../assets/imagesNew/bg-block-t.png) no-repeat;
	width: 731px;
	padding:13px 0 0;
}
.block-holder {
	background: url(../../assets/imagesNew/bg-block-b.png) no-repeat 0 100%;
	width: 731px;
	padding:0 0 13px;
}
.block-frame {
	background: url(../../assets/imagesNew/bg-block-c.gif) repeat-y;
	width:707px;
	padding:0 12px;
}
.block-frame:after {
	clear:both;
	display:block;
	content:"";
}
.block-inner {
	background: url(../../assets/imagesNew/bg-block-inner.gif) repeat-y;
	width:707px;
	padding:2px 0 0;
	float:left;
	margin:0 0 -4px;
}
.block-inner:after {
	clear:both;
	display:block;
	content:"";
}
.block2 .block-holder {background: url(../../assets/imagesNew/bg-block2-b.gif) no-repeat 0 100%;}
.block3 .block-holder {background: url(../../assets/imagesNew/bg-block3-b.png) no-repeat 0 100%;}
#main .block {margin:0 0 11px;}
#header .block {float:right;}
#nav {
	margin:-2px -100% -1px 2px;
	float:left;
	list-style-type:none;
	font:11px/14px "Trebuchet MS", Helvetica, sans-serif;
}
#nav li {
	float:left;
	margin:0 12px 0 0;
}
#nav li a {color:#333132;}
#nav a:hover,
#nav .active a {
	text-decoration:none;
	color:#d93c99;
}
.tools {
	float:right;
	margin:-3px 0 -12px;
	list-style-type:none;
}
.tools li {
	float:left;
	margin:0 2px 0 8px;
}
.tools a {
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background: url(../../assets/imagesNew/bg-tools.gif) no-repeat;
	height:26px;
}
.tools .question a {width:15px;}
.tools .print a {
	background-position:-24px 0;
	width:17px;
}
.tools .mail a {
	background-position:-51px 0;
	width:19px;
}
.logo {
	position:absolute;
	top:18px;
	left:48px;
	background: url(../../assets/imagesNew/logo.gif) no-repeat;
	width: 128px;
	height: 110px;
	overflow:hidden;
	text-indent:-9999px;
}
.logo a {
	display:block;
	height:100%;
}
#main {
	width:966px;
	position:relative;
	margin:0 auto;
}
#main:after {
	clear:both;
	display:block;
	content:"";
}
#sidebar {
	float:left;
	width:224px;
	padding:173px 0 0;
}
#content {
	float:right;
	width:731px;
	padding:0 11px 0 0;
	position:relative;
}
.menu {
	background:#ec008c url(../../assets/imagesNew/bg-menu-t.gif) no-repeat;
	width:224px;
	margin:0 0 21px;
	position:relative;
	z-index:2;
}
.menu-holder {
	background: url(../../assets/imagesNew/bg-menu-b.gif) no-repeat 0 100%;
	width:224px;
	padding:11px 0 22px;
}
.accordeon {
	padding:0 0 10px;
	width:205px;
	list-style-type:none;
	font:16px/20px "Trebuchet MS", Helvetica, sans-serif;
}
.accordeon li {
	width:100%;
	position:relative;
}
.accordeon a {
	color:#fff;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
	background: url(../../assets/imagesNew/bg-accordeon-menu.gif) no-repeat;
	width:205px;
	height:36px;
}
.accordeon .one {background-position:0 0;}
.accordeon .two {background-position:0 -36px;}
.accordeon .three {background-position:0 -72px;}
.accordeon .four {
	background-position:0 -108px;
	height:35px;
}
.accordeon .active .one,
.accordeon li.hover .one {background-position:-224px 0;}
.accordeon .active .two,
.accordeon li.hover .two {background-position:-224px -36px;}
.accordeon .active .three,
.accordeon li.hover .three {background-position:-224px -72px;}
.accordeon .active .four,
.accordeon li.hover .four,
.accordeon li:hover .four {background-position:-224px -108px;}
.accordeon .has-drop-down span {
	display:block;
	background: url(../../assets/imagesNew/bg-accordeon-open.gif) no-repeat 100% 12px;
}
.accordeon .active {z-index:10;}
.accordeon .active span,
.accordeon li:hover span {background: url(../../assets/imagesNew/bg-accordeon-close.gif) no-repeat 100% 12px;} 
.accordeon ul {
	padding:5px 10px 18px 32px;
	margin:-2px 0 0;
	left:-9999px;
	width:182px;
	z-index:20;
	list-style-type:none;
	background:#ec008c url(../../assets/imagesNew/bg-menu-b.gif) no-repeat 0 100%;
	font:bold 12px/16px Arial, Helvetica, sans-serif;
	position:absolute;
	top:35px;
}
.accordeon .active ul {left:0 !important;}
.accordeon ul li {margin:0 0 2px;}
.accordeon ul a {
	color:#fff;
	background:none;
	display:inline;
	height:auto;
	width:auto;
	text-indent:0;
}
.accordeon ul a:hover {
	color:#000;
	text-decoration:none;
}
.search {
	height:1%;
	overflow:hidden;
	padding:0 0 0 24px;
}
.search input {
	float:left;
	background:#fff;
	border:1px solid #999;
	color:#666;
	font-size:11px;
	margin:0 -1px 0 0;
	padding:1px 0;
	width:151px;
}
.search .submit {
	border:none;
	padding:0;
	margin:0;
	background: url(../../assets/imagesNew/btn-submit.gif) no-repeat;
	width: 22px;
	height: 18px;
	overflow:hidden;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	cursor:pointer;
}
#sidebar .box {
	width:224px;
	position:relative;
	overflow:hidden;
	font-size:11px;
	line-height:13px;
}
#sidebar .box-frame {
	overflow:hidden;
	width:100%;
	margin:0 0 -1px;
}
#sidebar .box a {outline:none;}
#sidebar .box h2 {
	margin:0 0 3px;
	font-size:16px;
	line-height:20px;
	color:#000;
}
#sidebar .box h2.donate a {
	background: url(../../assets/imagesNew/bg-sidebar-heading.gif) no-repeat;
	width: 224px;
	height: 30px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

.box-holder {
    background: url("../../assets/imagesNew/bg-box-holder.gif") no-repeat scroll 0 100% transparent;
    margin: 0 0 0 20px;
    overflow: hidden;
    padding: 16px 0 19px;
    width: 192px;
}
h2.donate a {
	background: url(../../assets/imagesNew/bg-sidebar-heading.gif) no-repeat;
	width: 224px;
	height: 30px;
	display:block;
	overflow:hidden;
	text-indent:-9999px;
}

#sidebar .box h2.donate a:hover {background-position:0 -50px;}
#sidebar .box-holder {
	width:192px;
	margin:0 0 0 20px;
	overflow:hidden;
	padding:16px 0 19px;
	background: url(../../assets/imagesNew/bg-box-holder.gif) no-repeat 0 100%;
}
#sidebar .box h3 {
	margin:0 0 3px;
	font:italic 13px/16px "Trebuchet MS", Helvetica, sans-serif;
	color:#f57fc5;
}
#sidebar .box-holder p {margin:0;}
#sidebar .box-holder p a {color:#333132;}
#sidebar .box-holder p a:hover {
	text-decoration:none;
	color:#f24cae;
}
#sidebar .box ul {
	padding:1px 0 0;
	width:185px;
}
#sidebar .box li {margin:0 0 5px;}
#sidebar .box ul a {
	display:block;
	color:#333132;
	cursor:pointer;
}
#sidebar .box ul a span {
	display:block;
	padding:0 20px 1px 0;
}
#sidebar .box ul a:hover {
	background: url(../../assets/imagesNew/bg-box-ul.gif) no-repeat 100% 0;
	text-decoration:none;
}
#sidebar .box ul a:hover span {background: url(../../assets/imagesNew/bg-box-ul.gif) no-repeat 100% 13px;}
.gallery {
	width:707px;
	margin:-3px -23px 12px;
	padding:0 23px;
	overflow:hidden;
	position:relative;
}
.gallery-holder {
	width:707px;
	height:245px;
	overflow:hidden;
	position:relative;
}
.gallery-holder ul {
	width:99999px;
	overflow:hidden;
}
.gallery-holder li {
	float:left;
	width:707px;
	height:245px;
	overflow:hidden;
	position:relative;
}
.gallery-holder a,
.gallery-holder img {display:block;}
.gallery .prev {
	position:absolute;
	top:100px;
	left:0;
	background: url(../../assets/imagesNew/bg-gallery-nav.png) no-repeat;
	width:35px;
	height:35px;
	overflow:hidden;
	text-indent:-9999px;
}
.gallery .next {
	position:absolute;
	top:100px;
	right:0;
	background: url(../../assets/imagesNew/bg-gallery-nav.png) no-repeat -55px 0;
	width:35px;
	height:35px;
	overflow:hidden;
	text-indent:-9999px;
}
.boxes {
	overflow:hidden;
	width:707px;
	font-size:11px;
	line-height:13px;
	background: url(../../assets/imagesNew/bg-boxes.gif) repeat-y;
}
.boxes-blocks {
	margin:0 -19px 26px 0;
	padding:0;
	list-style:none;
	width:726px;
	overflow:hidden;
}
.boxes-blocks li {
	float:left;
	margin:0 19px 0 0;
	width:223px;
}
.boxes-blocks img,
.boxes-blocks span,
.boxes-blocks a {display:block;}
.boxes-blocks span {display:none;}
.boxes-blocks a:hover img {display:none;}
.boxes-blocks a:hover span img {display:block;}
.boxes-blocks a:hover span {display:block;}
.boxes-holder {
	margin:0 -19px 0 0;
	width:726px;
	padding:0 0 13px;
	overflow:hidden;
}
.boxes-holder .box {
	float:left;
	width:208px;
	margin:0 19px 0 15px;
}
.boxes-holder .title-block {
	width:100%;
	overflow:hidden;
	padding:0 0 5px;
	margin:0 0 26px;
	min-height:73px;
	background: url(../../assets/imagesNew/bg-boxes-title.gif) no-repeat 2px 100%;
}
.boxes-holder .date {
	float:left;
	background: url(../../assets/imagesNew/bg-date.gif) no-repeat;
	width: 52px;
	height:42px;
	text-align:center;
	margin:0 10px 0 0;
	padding:9px 0 0;
	color:#333132;
	font-size:10px;
	line-height:14px;
}
.boxes-holder .date p {margin:0 0 -3px;}
.boxes-holder .date span {
	display:block;
	font-size:19px;
	line-height:20px;
}
.boxes-holder .title-block-holder {
	width:140px;
	float:left;
	font-size:11px;
	line-height:14px;
	color:#333132;
}
.boxes-holder h2 {
	font-size:11px;
	line-height:11px;
	font-weight:bold;
	color:#333132;
}
.boxes-holder h2 a {color:#333132;}
.boxes-holder h2 a:hover {
	text-decoration:none;
	color:#d93c99;
}
.boxes-holder .title-block-holder p {margin:0;}
.boxes-holder .title-block-holder .view {
	overflow:hidden;
	width:100%;
}
.boxes-holder .title-block-holder .view a {
	float:left;
	color:#d93c99;
	font-style:italic;
	background: url(../../assets/imagesNew/bg-view.gif) no-repeat 100% 7px;
	padding:0 9px 1px 0;
}
.boxes-holder .title-block-holder .view a:hover {
	text-decoration:none;
	border-bottom:1px dotted #d93c99;
	padding-bottom:0;
}
.boxes h3 {
	margin:0 0 5px;
	font:bold 12px/13px Arial, Helvetica, sans-serif;
	color:#333132;
}
.boxes h3 a {color:#333132;}
.boxes h3 a:hover {
	text-decoration:none;
	color:#d93c99;
}
.letter-box {
	float:left;
	width:404px;
	padding:0 0 0 14px;
	font-size:11px;
	line-height:17px;
}
.letter-box-holder {
	width:100%;
	overflow:hidden;
}
.letter-box .section {
	float:left;
	width:180px;
	padding:0 0 0 1px;
}
.social h3,
.letter-box h3 {
	margin:0 0 7px;
	font-size:16px;
	line-height:20px;
	font-weight:bold;
	color:#f24cae;
}
.social h3 {margin:0 0 14px;}
.letter-box-frame {
	float:right;
	width:160px;
	padding:5px 0 0;
}
.letter-box-frame .input {
	overflow:hidden;
	width:100%;
	margin:0 0 4px;
}
.letter-box-frame .input input {
	float:left;
	width:158px;
	border:1px solid #ccc;
	background:#fff;
	margin:0;
	padding:0;
	font-size:10px;
	color:#666;
}
.letter-box-frame .submit {
	overflow:hidden;
	width:100%;
	padding:7px 0 0;
}
.letter-box-frame .submit input {
	float:right;
	background: url(../../assets/imagesNew/btn-submit2.gif) no-repeat;
	width: 61px;
	height: 18px;
	overflow:hidden;
	text-indent:-9999px;
	font-size:0;
	line-height:0;
	margin:0 1px 0 0;
	padding:0;
	cursor:pointer;
	border:none;
}
.social {
	float:right;
	width:209px;
	font-size:11px;
	line-height:13px;
}
.social ul {
	margin:0 -5px 0 2px;
	width:212px;
}
.social li {
	display:inline-block;
	width:101px;
	overflow:hidden;
	margin:0 5px 8px 0;
	vertical-align:top;
}
#footer .social {
	width:213px;
	float:left;
	padding:0 0 0 1px;
	margin-right:-7px;
}
#footer .social ul {width:216px;}
#footer .social li {margin-right:7px;}
#footer .social li a {background: url(../../assets/imagesNew/bg-footer-social.gif) no-repeat;}
*+html .social li {display:inline;}
.social .facebook a,
#footer .social .facebook a {background-position:0 0;}
.social .wordpress a,
#footer .social .wordpress a {background-position:0 -34px;}
.social .twitter a,
#footer .social .twitter a {background-position:0 -68px;}
.social .mywomanschannel a,
#footer .social .mywomanschannel a {background-position:0 -102px;}
.social .youtube a,
#footer .social .youtube a {background-position:0 -136px;}
.social div {
	height:24px;
	display:table;
	width:101px;
}
.social a {
	color:#333132;
	padding:0 0 0 33px;
	display:table-cell;
	vertical-align:middle;
	background: url(../../assets/imagesNew/bg-social.png) no-repeat;
}
#footer .social a {
	color:#777a7a;
	font-weight:bold;
}
#footer .social a:hover {color:#000;}
*+html .social div {height:auto;}
*+html .social a {
	display:block;
	min-height:24px;
}
*+html .social a span {display:block;}
.social a:hover {
	text-decoration:none;
	color:#d93c99;
}
#footer .social .facebook a:hover {background: url(../../assets/imagesNew/bg-social.png) no-repeat;}
#footer .social .wordpress a:hover {background: url(../../assets/imagesNew/bg-social.png) no-repeat 0 -34px;}
#footer .social .twitter a:hover {background: url(../../assets/imagesNew/bg-social.png) no-repeat 0 -68px;}
#footer .social .mywomanschannel a:hover {background: url(../../assets/imagesNew/bg-social.png) no-repeat 0 -102px;}
#footer .social .youtube a:hover {background: url(../../assets/imagesNew/bg-social.png) no-repeat 0 -136px;}
#footer {
	width:100%;
	padding:0 0 31px;
	overflow:hidden;
}
.footer-holder {
	width:966px;
	margin:0 auto;
	font-size:11px;
	line-height:17px;
	color:#777a7a;
	overflow:hidden;
}
.footer-frame {
	overflow:hidden;
	position:relative;
	float:right;
	margin:0 -27px 0 0;
}
#footer .box {
	float:left;
	background: url(../../assets/imagesNew/bg-footer-box.gif) repeat-y;
	padding:0 27px 9999px 14px;
	margin:0 0 -9999px -2px;
	text-align:left;
	list-style-type:none;
}
#footer h3 {
	color:#777a7a;
	font:italic 13px/16px "Trebuchet MS", Helvetica, sans-serif;
	margin:0 0 10px;
}
#footer .social h3 {margin:0 0 14px;}
.sub-nav {
	margin:-1px 0 0;
	font-weight:bold;
	list-style-type:none;
}
.sub-nav a {color:#777a7a;}
.sub-nav a:hover {
	text-decoration:none;
	color:#000;
}
#footer .logo {
	background:none;
	width:auto;
	height:auto;
	margin:1px 13px 0 0;
	float:left;
	position:static;
	text-indent:0;
}
#footer .logo a,
#footer .logo img {float:left;}
#footer .address {
	float:left;
	width:233px;
}
#footer address {
	display:block;
	font-style:normal;
	margin:-3px 0 12px;
}
#footer address span {display:block;}
#footer .address dl {
	margin:0 0 12px;
	overflow:hidden;
	width:100%;
}
#footer .address dt {
	float:left;
	padding:0 3px 0 0;
}
#footer .address dd {
	overflow:hidden;
	height:1%;
}
.add-nav {
	overflow:hidden;
	width:100%;
	font-size:11px;
	line-height:14px;
	list-style-type:none;
	font-weight:bold;
}
.add-nav li {
	float:left;
	background: url(../../assets/imagesNew/bg-add-nav-li.gif) no-repeat 0 2px;
	padding:0 12px 0 8px;
	margin:0 0 0 -8px;
}
.add-nav a {color:#777a7a;}
.add-nav a:hover {
	text-decoration:none;
	color:#000;
}
legend {display:none;}
.hidden{
	position:absolute;
	left:-9999px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
}