﻿/* MASTER DEFAULTS ••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */
body {
	margin: 0px;
	padding:0px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#333132;
	line-height: 155%;
	background: url(../../images/bkgPage.gif) repeat-x #D8DFDE;
}
a {color:#333132; text-decoration: none;}
a:hover {color:#333132; text-decoration:underline;}


form {padding:0px; margin:0px;}
input,textarea {font-family: Arial, Helvetica, sans-serif;font-size: 10px;color: #999999;}
p { margin-top:0px; padding-top:0px; }


/* •••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••••• */



/* ----- SITE TEMPLATE STYLES -------------------------------------------------------------------------------------------------------------- */
#wrapper {width:955px; margin:0px auto;}

#wrapperSimplified {width:955px; margin:20px auto 0px auto;}
	#wrapperSimplified .bar {background-color:#EC008C; padding:8px; margin:20px 0px 30px 0px;}

/*top horizontal navigation*/
#horizNavWrapper { float:left; width:955px; height:60px;}
  #horizNavWrapper #horizNav {margin:14px 0px 0px 0px; float:right;}
  #horizNavWrapper #horizNav img {padding:0px 0px 0px 16px;}
  #horizNavWrapper .tools img { padding:0px 0px 0px 10px; }
  

#leftCol {width:224px;/*_width:234px;*/ float:left;}
	#leftCol #search {background:url(../../images/bkgSearch.gif) no-repeat; height:42px;}
	#leftCol #search #searchInput {font-family: Arial, Helvetica, sans-serif;Color: #666666;font-size: 11px;line-height: 105%;background-color: transparent;width: 149px;height:14px;border: 0;margin:14px 0px 0px 20px;}
	#leftCol #search #searchButton {background:url(../../images/imgSpacer.gif);width:20px;height:18px;margin:0px 0px 0px 0px;border:0px;right: 0px;}
	#donate {padding-top:20px;}
	#donate .title, #leftCol #womansForYou .title {font-size:13px; color:#f57fc5; line-height:105%; font-style:italic; display:block; margin-bottom:5px;}
	#donate .content { text-align:left; line-height:120%; width:192px; padding:20px 0px 0px 20px; }
	#donate .content a { color:#333132; text-decoration:none;}
	#donate .content a:hover { color:#f24cae; text-decoration:none;}
	#womansForYou {}
	#womansForYou .content {text-align:left; line-height:120%; width:185px; padding:0px 0px 0px 20px; margin:0px;}
	#womansForYou a {color:#333132; display:block; margin-bottom:3px; border-bottom:1px solid #FFF; border-top:1px solid #FFF; text-decoration:none;}
	#womansForYou a:hover {color:#333132; background:url(../../images/imgBulletArrowSmPink.gif) no-repeat right; border-bottom:1px dotted #f57fc5; border-top:1px dotted #f57fc5; text-decoration:none;}
	#leftCol img.dottedDivider { padding:17px 0px 17px 20px; }


#mainCol {text-align:left; float:left; width:731px;}
	/*#mainCol .bkg {background:url(../../images/bkgMain.gif) repeat-y; float:left; width:731px;}*/


#footer {font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:135%; text-align:right; color:#777A7A; padding:20px 0px 0px 0px; float:left; width:731px;}
	#footer p, #footerSimple p { margin:0px; padding:0px;}
	#footer a, #footerSimple a {color:#777A7A; text-decoration:none;}
	#footer a:hover, #footerSimple a:hover {color:#000; text-decoration:none;}
	#footer img, #footerSimple img {padding:15px 0px 15px 0px;}

/*Feedback Tab*/
#fdbkTab { width:32px; height:112px; position:absolute; right:0px; top:202px; }



/* ----- HOMEPAGE CONTENT STYLES -------------------------------------------------------------------------------------------------------------- */
#mainCol .bkgHm {background:url(../../images/bkgMainHm.gif) repeat-y; float:left; width:731px;}
	#mainCol .podHdr { float:left; width:731px;}
	#mainCol .podFtr {padding-top:10px; float:left; width:731px;}
	#mainCol .threeColContainer {float:left; width:731px;}
/*fades*/	
	.fadeThis * {display: none;}
	.threeColContainer a.featPreg {display:block; width:223px; height:283px; background:url(/assets/images/navigation/btnHmPregnancy.jpg) 0 0 no-repeat;}
	.threeColContainer a.featPreg span.hover {display:block; width:223px; height:283px; background:url(/assets/images/navigation/btnHmPregnancyo.jpg) 0 0 no-repeat;}
	
	.threeColContainer a.featWell {display:block; width:223px; height:283px; background:url(/assets/images/navigation/btnHmWellness.jpg) 0 0 no-repeat;}
	.threeColContainer a.featWell span.hover {display:block; width:223px; height:283px; background:url(/assets/images/navigation/btnHmWellnesso.jpg) 0 0 no-repeat;}
	
	.threeColContainer a.featTreat {display:block; width:223px; height:283px; background:url(/assets/images/navigation/btnHmTreatment.jpg) 0 0 no-repeat;}
	.threeColContainer a.featTreat span.hover {display:block; width:223px; height:283px; background:url(/assets/images/navigation/btnHmTreatmento.jpg) 0 0 no-repeat;}
	
	.nestedLftCol {float:left; width:223px; padding-left:12px;}
	.nestedCntrCol {float:left; width:223px; padding-left:19px;}
	.nestedRtCol {float:left; width:223px; padding-left:19px;}
/*events*/
#mainCol .bkgHm .eventsHm { line-height:120%; text-align:left; padding:20px 0px 0px 15px; float:left; width:208px; }
	#mainCol .bkgHm .eventsHm .eventDate { text-align:center; padding:10px 0px 0px 0px; height:41px; background:url(../../images/bkgEventDate.gif) no-repeat; float:left; width:52px; }
	#mainCol .bkgHm .eventsHm .eventDate .monthAbbr {font-size:10px; text-transform:uppercase;}
	#mainCol .bkgHm .eventsHm .eventDate .dayNumber {font-size:19px; text-transform:uppercase;}
	#mainCol .bkgHm .eventsHm .eventDescrip { text-align:left; padding:0px 0px 0px 10px; float:left; width: 142px; }
	#mainCol .bkgHm .eventsHm a.lnkEventName {font-size:11px; color:#333132; font-weight:bold; display:block; text-decoration:none;}
	#mainCol .bkgHm .eventsHm a.lnkEventName:hover {font-size:11px; color:#d93c99; text-decoration:none;}
	#mainCol .bkgHm .eventsHm a.lnkViewAll {color:#d93c99; font-style:italic; border-bottom:1px solid #FFF; text-decoration:none;}
	#mainCol .bkgHm .eventsHm a.lnkViewAll:hover {color:#d93c99; font-style:italic; border-bottom:1px dotted #d93c99; text-decoration:none;}
/*news*/
#mainCol .bkgHm .newsHm {line-height:120%; text-align:left; padding:0px 0px 0px 15px; float:left; width:208px;}
	#mainCol .bkgHm .newsHm a {font-size:12px; color:#333132; font-weight:bold; display:block; margin-bottom:5px; text-decoration:none;}
	#mainCol .bkgHm .newsHm a:hover {font-size:12px; color:#d93c99; font-weight:bold; text-decoration:none;}
/*ads*/
#mainCol .adHm {width:189px; margin:0px auto;}
#mainCol .adHm img {border:1px solid #999;}

/*myWoman's horiz*/
#myWomansHoriz { line-height:120%; margin-top:10px; background:url(../../images/bkgMain.gif) repeat-y; float:left; width:731px;}
	#myWomansHoriz .content {padding:15px 0px; float:left; width:731px;}
	#myWomansHoriz form { padding:0px; margin:0px;}
	#myWomansHoriz .intro {text-align:left; padding-left:30px; float:left; width:170px;}
	#myWomansHoriz .title {font-size:16px; color:#f24cae; display:block; padding-bottom:9px;}
	#myWomansHoriz .options {font-size:10px; color:#f033a3; padding:9px 0px 0px 30px; float:left; width:200px;}
	#myWomansHoriz label {font-size:10px; color:#f033a3;}
	#myWomansHoriz .info {padding:5px 0px 0px 0px; float:left; width:190px;}
	#myWomansHoriz .info input{font-size:10px; color: #666; height:11px; background:#FFF; border:1px solid #CCC; display:block; margin-bottom:4px; width:158px;}
	#myWomansHoriz .submit {padding:22px 0px 0px 0px; float:left; width:67px;}

/*myWoman's vert*/
#myWomansVert { text-align:left; line-height:110%; padding:25px 20px 20px 25px; font-size:11px;}
	#myWomansVert .title {font-size:16px; color:#f24cae; display:block; padding-bottom:9px;}
	#myWomansVert .options {font-size:10px; color:#f24cae; line-height:100%; padding:14px 0px;}
	#myWomansVert label {font-size:10px; color:#f033a3;}
	#myWomansVert .info {padding:5px 0px 0px 0px;}
	#myWomansVert .info input{font-size:10px; color: #666; height:11px; background:#FFF; border:1px solid #CCC; display:block; margin-bottom:4px; width:130px;}
	#myWomansVert .submit {padding:12px 0px 0px 0px;}





/* ----- INTERIOR CONTENT STYLES -------------------------------------------------------------------------------------------------------------- */
#mainCol .bkgInt {background:url(../../images/bkgMainInt.gif) repeat-y; float:left; width:731px;}
	#mainCol .podFtrInt { float:left; width:731px;}
/*left content column*/
#mainCol .bkgInt .contentLft {float:left; width:202px;}
	#mainCol .bkgInt .contentLft .vertNavWrapper { padding:0px 1px 10px 1px;}
	#mainCol .bkgInt .contentLft ul { list-style-type:none; background:#edf1f0; padding:0px; margin:0px; height:1%; /*IE workaround for extra gry on bottom*/}
	#mainCol .bkgInt .contentLft ul.firstLevel li {border-bottom:1px solid #bec7c6; padding:12px 8px 11px 23px; }
	#mainCol .bkgInt .contentLft ul.firstLevel li:hover { background:#dfe4e3;}
	#mainCol .bkgInt .contentLft ul.firstLevel li a {font-size:14px; color:#ec48aa; line-height:105%; text-decoration:none;}
	#mainCol .bkgInt .contentLft ul.firstLevel li a:hover {text-decoration:none;}
	#mainCol .bkgInt .contentLft ul.firstLevel li.expanded:hover {background: none;}
	#mainCol .bkgInt .contentLft ul.firstLevel li img { padding:0px 0px 0px 6px;/* margin-bottom:-3px;*/}
	
	#mainCol .bkgInt .contentLft ul.secondLevel {padding:0px 0px 0px 10px;}
	#mainCol .bkgInt .contentLft ul.secondLevel li {background: url(../../images/imgBulletSmArrow.gif) no-repeat 0px 10px; padding:5px 0px 0px 10px; border:none;}
	#mainCol .bkgInt .contentLft ul.secondLevel li:hover {background: url(../../images/imgBulletSmArrow.gif) no-repeat 0px 10px;}
	#mainCol .bkgInt .contentLft ul.secondLevel li a {font-size:10px; color:#474848; line-height:100%; text-decoration:none;}
	#mainCol .bkgInt .contentLft ul.secondLevel li a:hover { color:#EC48AA; text-decoration:none;}
	
	#mainCol .bkgInt .contentLft .gryWrapper { background:#edf1f0; padding:28px 8px 15px 28px; margin:0px 1px; border-bottom:1px solid #BFC7C6;}
	#mainCol .bkgInt .contentLft .gryWrapper .intro {text-align:left; line-height:120%; font-size:11px;}
	#mainCol .bkgInt .contentLft .gryWrapper .intro .title {font-size:16px;color:#f24cae;display:block;padding-bottom:9px;}
	#mainCol .bkgInt .contentLft .gryWrapper .intro img {padding-bottom:6px;}
	#frmClassSearch  input{font-size:10px; }
	#mainCol .bkgInt .contentLft #locDirectSrch { padding-right:15px;}
	#mainCol .bkgInt .contentLft #locDirectSrch form {padding:5px 0px;}
	#mainCol .bkgInt .contentLft #locDirectSrch input{font-size:10px; color: #666; height:13px; background:#FFF; border:1px solid #CCC; display:block; margin-bottom:4px; width:130px;}
	#mainCol .bkgInt .contentLft #locDirectSrch .submit {padding:2px 0px 0px 0px;}
	#mainCol .bkgInt .contentLft #locDirectSrch ul {padding:20px 0px 0px 0px; margin:0px 0px 1px 0px; list-style-type:none; border-bottom:1px solid #edf1f0;}
		*+html body #mainCol .bkgInt .contentLft #locDirectSrch ul {border-bottom:1px solid #edf1f0;}
	#mainCol .bkgInt .contentLft #locDirectSrch ul li {font-size:10px; text-transform:uppercase; line-height:120%; padding:0px 0px 5px 15px; margin:0px; background:url(../../images/imgBulletArrowOnGry.gif) no-repeat 0px 2px;}
	#mainCol .bkgInt .contentLft #locDirectSrch ul li a {color:#333132; text-decoration: none;}
	#mainCol .bkgInt .contentLft #locDirectSrch ul li a:hover {color:#e3369c; text-decoration: none;}
	

/*main content column*/
#mainCol .bkgInt .contentMain { float:left; width:529px; padding-bottom:8px; }
	.contentMain #titleBar {font-size:17px; color:#fbcce8; line-height:105%; background:url(../../images/bkgTitleBarInt.gif) no-repeat; padding:13px 0px 0px 14px; height:27px; float:left; width:515px;}
	.contentMain #titleBarWithBtns {background:url(../../images/bkgTitleBarInt.gif) no-repeat; padding:8px 0px 0px 0px; height:32px; float:left; width:529px;}
	.contentMain #titleBarWithBtns img {padding:0px 0px 0px 8px;}
	.contentMain #titleBarWithBtnsText {background:url(../../images/bkgTitleBarInt.gif) no-repeat; padding:8px 0px 0px 0px; height:32px; float:left; width:529px;}
	.contentMain #titleBarWithBtnsText img {padding:0px 8px 0px 0px; float:right;}
	.contentMain #titleBarWithBtnsText span {font-size:17px; color:#fbcce8; line-height:105%; display:block; padding:4px 0px 0px 14px;}
	.contentMain .contentWrapper ul{margin:12px 0 20px 44px; }
	.contentMain .contentWrapper li {margin: 5px; list-style-type:disc;  }
	.contentMain .contentWrapper {padding:30px; font-family:"Trebuchet MS",Arial,Helvetica,sans-serif; float:left; width:469px; _margin-right:-3px;  /*margin-right is workaround for IE6 repeating character issue*/}
	.contentMain .contentWrapperNoPad {padding:0px; float:left; width:529px;}
	.contentMain .contentWrapper .intro { font-size:15px; color:#697A78; line-height:140%; border-bottom:1px dotted #7F7F7F; margin:15px 20px 30px 20px; padding-bottom: 25px; float:left; width:426px;}
	.contentMain .contentWrapper .introNoBottBorder { font-size:15px; color:#697A78; line-height:140%; border-bottom:0px; margin:15px 0px 30px 20px; _margin:15px 0px 30px 10px; padding-bottom: 0px; float:left; width:426px; }
	
	.contentMain .contentWrapper .subSectHd a.slctOther { font-size:11px; color:#697A78; font-style: italic; margin-top:3px; float:right; text-decoration:none;}
	.contentMain .contentWrapper .subSectHd a.slctOther:hover {color:#333132;text-decoration:none;}
	
	.contentMain .contentWrapperIndent {padding:30px 40px 30px 40px; float:left; width: 449px;}
	.contentMain .contentWrapperIndent .intro { font-size:15px; color:#697A78; line-height:140%; border-bottom:1px dotted #7F7F7F; margin:15px 0px 30px 0px; padding-bottom: 25px; float:left; width:100%;}


	.contentMain .contentWrapper .subSectHd {font-size:15px; color:#697A78; line-height:100%; border-bottom:1px dotted #7F7F7F; margin:0px 0px 30px 0px; padding: 0px 0px 5px 0px;}
	.contentMain .contentWrapper .subSectHdwthCats {font-size:15px; color:#697A78; line-height:100%; border-bottom:1px dotted #7F7F7F; margin:0px 0px 6px 0px; padding: 0px 0px 5px 0px;}
	.contentMain .contentWrapper .subSectCats { font-size:10px; color:#697A78; font-style:italic; letter-spacing:.05em;}
	.contentMain .contentWrapper .subSectCats a {color:#697A78; text-decoration:none;}
	.contentMain .contentWrapper .subSectCats a:hover {color:#697A78; text-decoration:underline;}

/*display tools*/
.displayTools {width:512px; float:left; margin-left:8px; _margin-left:5px; height:21px; padding:3px 0px 0px 0px; margin-top:8px; background:url(../../images/bkgDisplayTools.gif) no-repeat;}
	.displayTools a { font-size:10px; color:#666666; text-decoration:none;}
	.displayTools a:hover {color:#000; text-decoration:none;}
	.displayTools .leftInfo { text-align:left; float:left; width:70px; padding-left:10px; border-right:1px solid #D8DFDE;}
	.displayTools .centerInfo { text-align:center; color:#EC008C; margin:0px 90px;}
	.displayTools .rightInfo { text-align:right; float:right; width:70px; padding-right:10px; border-left:1px solid #D8DFDE;}
/*ads*/
#mainCol #ads {background:url(../../images/bkgAds.gif) repeat-y; padding:28px 0px 20px 0px; float:left; width:731px;}
.adsHdr { float:left; width:731px;}

/*subhome styles*/
.contentWrapperSbhm { float:left; width:529px; padding:30px 0px 30px 0px; _margin-right:-3px; /*margin-right is workaround for IE6 repeating character issue*/ }
	.contentWrapperSbhm .intro { font-size:15px; color:#697A78; line-height:140%; border-bottom:1px dotted #7F7F7F; margin:0px 0px 30px 50px; _margin:0px 0px 30px 25px; padding:15px 0px 25px 0px; float:left; width:415px;}
	.contentWrapperSbhm .contentNestedLft {float:left; width:250px;}
	.contentWrapperSbhm .contentNestedRt { float:left; width:177px; padding-left:69px; }
	.contentWrapperSbhm .contentNestedRt .featuredItem { font-size:12px; color:#4D615E; line-height:120%; background:#F6F7F7; border-left:1px solid #E0E5E4; border-right:1px solid #E0E5E4; padding:13px 16px;}
	.contentWrapperSbhm .upcomingItem { font-size:12px; color:#4D615E; line-height:120%; border-left:1px solid #E0E5E4; border-right:1px solid #E0E5E4; padding:13px 16px 0px 16px;}
	.contentWrapperSbhm .upcomingItem .featEvent {line-height:120%;text-align:left; }
	.contentWrapperSbhm .upcomingItem .eventDate { text-align:center; color:#F466BA; padding:0px 10px 0px 0px; margin:0px 10px 10px 0px; width:32px; float:left; border-right:1px solid #C0CBC9; }
	.contentWrapperSbhm .upcomingItem .eventDate .monthAbbr { font-size:14px; text-transform:uppercase; float:left; width:100%; padding-bottom:3px; }
	.contentWrapperSbhm .upcomingItem .eventDate .dayNumber { font-size:27px; line-height:110%; text-transform:uppercase; float:left; width:100%; }
	.contentWrapperSbhm .upcomingItem .eventDescrip {text-align:left;color:#F140A9;float:left;width: 70px;}
	.contentWrapperSbhm .upcomingItem a.lnkEventName {font-size:13px; color:#F140A9; font-weight:bold; display:block; text-decoration:none;}
	.contentWrapperSbhm .upcomingItem a.lnkEventName:hover {color:#BF137A; text-decoration:none;}
	.contentWrapperSbhm #news .content {line-height:120%;	padding:13px 0px 0px 28px; font-size:11px;}
	.contentWrapperSbhm #news a.lnkHead { font-size:12px; font-weight:bold; line-height:105%; color:#F24CAE; display:block; padding-bottom:2px; text-decoration:none;}
	.contentWrapperSbhm #news a.lnkHead:hover {color:#BF137A; text-decoration:none;}
	.contentWrapperSbhm #gallery { float:left; width:495px; padding:13px 0px 0px 28px; font-size:11px; }
	.contentWrapperSbhm #gallery .content {float:left; width:260px; padding:25px 10px 0px 30px; background:url(../../images/bkgGall.gif) repeat-x; height:113px;}
	.contentWrapperSbhm #gallery a.lnkHead {font-size:13px; line-height:105%; color:#F24CAE; display:block; padding-bottom:2px; text-decoration:none;}
	.contentWrapperSbhm #gallery a.lnkHead:hover {color:#BF137A; text-decoration:none;}

/*doctor directory pages...*/
/*doc directory index*/
	#docDirect .label {display:block; padding-bottom:3px;}
	#docDirect .accent02Lrg { display:block; padding-bottom:8px;}
	#docDirect input { font-size:18px; line-height:100%; color:#666; height:31px; width:372px; padding:7px 5px 0px 10px; border:1px solid #CCC;}
		*+html body #docDirect input {height:30px;}
	#docDirect .search { margin-top:0px; padding:0px 0px 25px 0px; float:left; width:100%;}
	#docDirect .scrollPod { float:left; width:333px;}
	#docDirect .scrollPod .content {border-left:1px solid #CCC; border-right:1px solid #CCC; padding:20px;}
	#docDirect .scrollPod .content ul {list-style-type:none; margin:0px; padding:0px;}
	#docDirect .scrollPod .content ul li {margin:0px 0px 8px 0px; padding:0px 0px 6px 0px; border-bottom:1px dotted #999;}
	#docDirect .scrollPod .content ul li a { font-size:14px; line-height:100%; color:#7F7F7F; text-decoration:none;}
	#docDirect .scrollPod .content ul li a:hover {color:#4D4A4C; text-decoration:none;}
/*doc directory search results*/
	#docDirect .introResults {font-size:15px; color:#697A78; line-height:140%; padding:0px 0px 20px 0px; border:0px; float:left; width:450px;}
	#docDirect .resultsLft { width:220px; float:left; padding-right: 8px; }
	#docDirect .resultsRt {width:220px; float:left;}
	#docDirect .resultsLft a, #docDirect .resultsRt a { font-size:14px; color:#EC008C; line-height:100%; display:block; background:url(../../images/btnDocDirectSrchRes.jpg) no-repeat; height:46px; padding:16px 10px 0px 10px; text-decoration:none;}
		*+html body #docDirect .resultsLft a, *+html body #docDirect .resultsRt a {padding-top:15px;}
	#docDirect .resultsLft a:hover, #docDirect .resultsRt a:hover {color:#000; background:url(../../images/btnDocDirectSrchReso.jpg) no-repeat; text-decoration:none;}
/*doc directory detail*/
	#docDirect .docName { font-size:18px; color:#6F7876; line-height:100%; background:url(../../images/bkgDocDetailName.gif) no-repeat; height:38px; padding:12px 0px 0px 10px; float:left; width:440px;}
	#docDirect .detailLft {width:182px; float:left; padding-top:8px;}
	#docDirect .detailLft .titleBarSm { width:130px; margin:10px 0px 5px 0px;}
	#docDirect .detailLft .content { text-align:left; line-height:140%; display:block; padding:0px 0px 0px 18px; margin:10px 0px 15px 0px;}
	#docDirect .detailLft .label { font-size:10px; color:#999; font-weight:bold; display:inline; padding-right:5px;}
	#docDirect .detailLft #cntctInfo a { color:#333132; text-decoration:none;}
	#docDirect .detailLft #cntctInfo a:hover { color:#333132; text-decoration:underline;}
	#docDirect .detailRt { font-size:12px; line-height:140%; padding: 10px 0px 0px 19px; border-left:1px dotted #7F7F7F; float:left; width:247px; }
	#docDirect .detailRt .label {color:#ea37a1; font-weight:bold; letter-spacing:.05em;}
	#docDirect .detailRt #docGroup {border-top:1px solid #CCC; padding-top:18px; margin-top:18px;}
	#docDirect .detailRt #docGroup .groupName { font-size:13px; display:block; padding-bottom:8px;}
	#docDirect .detailRt #docGroup img { float:left;}
	#docDirect .detailRt #docGroup .staff { font-size:11px; padding:16px 0px 0px 10px; float:left; width:134px; }

/*calendar*/
.weekDay { font-size:24px; color:#ea37a1; line-height:105%; padding:0px 0px 10px 0px; margin:0px; float:left; width:100%; }
table.calendar {background: #d1d8d6; width:449px; /*width:100%; _width:97%;*/}
	table.calendar td { font-size:10px; line-height:105%; background:#FFF; padding:10px 5px 10px 10px; vertical-align: top; text-align: left; height:160px; width:80px;}
	table.calendar .classCat { font-size:12px; color:#47514e; line-height:100%; text-transform:uppercase; letter-spacing:.05em; font-weight:bold; text-align:center; padding:5px 6px 4px 6px; background:#d1d8d6;}
	table.calendar .location { font-size:10px; font-style:italic; line-height:100%; text-transform:none; font-weight:normal; padding:0px; display:block;}
	table.calendar span.time { display:block; padding-bottom:3px;}
	table.calendar td a { font-size:11px; color:#EC6CB8; line-height:110%; font-weight:bold; text-align:left; text-decoration:none;}
	table.calendar td a:hover { color:#ea37a1; text-decoration:none;}
	table.calendar ul { list-style-type:none; margin:0px; padding:0px;}
	table.calendar li { border-bottom: 1px dotted #666; padding:0px 0px 10px 0px; margin-bottom:10px;}
	table.calendar .instructor { font-style:italic; color:#666; display:block; padding-top:4px;}
	.calSelect { font-size:11px; color:#47514e; float:right; text-align:right; width:315px; padding-top:5px;}
	.calSelect span { line-height:100%; float:right; padding-top:3px;}
	.calSelect input {font-size:10px; color:#999; background:#FFF; border:1px solid #BDBDBD; height:14px; float:right;}
	.calSelect select {font-size:10px; color: #666; float:right;}
	.calSelect .submit { padding:0px 0px 0px 3px; margin-bottom:0px; float:right;}
	.calPrintSched { text-align:right; padding:10px 0px 20px 0px; float:right; width:100%;}

/*location detail*/
#locDirect .twoColWrapper { display:table; position:relative; margin-bottom:25px;}
		*+html body #locDirect .twoColWrapper {height:100%}
	#locDirect .docName { font-size:18px; color:#6F7876; line-height:100%; background:url(../../images/bkgDocDetailName.gif) no-repeat; height:38px; padding:12px 0px 0px 10px;}
#locDirect .detailLft {width:155px; float:left; padding:0px;}
	#locDirect .content { text-align:left; line-height:140%; display:block; padding:0px; margin:0px;}
	#locDirect .label { font-size:10px; color:#EC6CB8; font-weight:bold; display:inline; padding-right:5px;}
	#locDirect .labelNotInline { font-size:10px; color:#EC6CB8; font-weight:bold; display:block; padding-top:0px;}
	#locDirect .detailLft #cntctInfo a.lnkEmail { color:#333132; text-decoration:none;}
	#locDirect .detailLft #cntctInfo a.lnkEmail:hover { color:#333132; text-decoration:underline;}
	#locDirect .detailRt { font-size:12px; line-height:140%; margin-left:172px; padding: 0px;}
	#locDirect .detailRt #docGroup {border-top:1px solid #CCC; padding-top:18px; margin-top:18px;}
	#locDirect .detailRt #docGroup .groupName { font-size:13px; display:block; padding-bottom:8px;}
	#locDirect .detailRt #docGroup img { float:left;}
	#locDirect .detailRt #docGroup .staff { font-size:11px; margin:19px 0px 0px 115px;}
	#locDirect .titleBarSm { width:132px;}
	#locDirect .empName { font-size:13px; font-weight:bold; color:#333; line-height:104%; display:block; padding-bottom:5px;}
	#locDirect .empTitle { font-size:11px; font-weight:bold; font-style:italic; color:#858585; line-height:104%; display:block; padding-top:3px;}
	#locDirect p.empInfo {padding-bottom:8px; margin-bottom:14px; border-bottom:1px dotted #e3369c; }
	#locDirect .moreInfo {margin-bottom:25px; }

/*search results*/
#searchResults .introResults {font-size:15px; color:#697A78; line-height:140%; margin:0px 0px 20px 0px; padding: 0px; border:0px; float:left; width:100%;}
	#searchResults .label {display:block; padding-bottom:3px;}
	#searchResults ul { list-style-type:none; float:left; width:430px; margin:0px; padding:0px 0px 0px 15px;}
	#searchResults ul li { line-height:120%; font-size:11px; padding:0px 0px 15px 15px; background:url(../../images/imgBulletArrowSmGry.gif) no-repeat 0px 0px;}
	*+html body #searchResults ul li { line-height:120%; font-size:11px; padding:0px 0px 15px 15px; background:url(../../images/imgBulletArrowSmGry.gif) no-repeat 0px 1px;}
	#searchResults ul li a {color:#333132; text-decoration:none;}
	#searchResults ul li a:hover {color:#747273; text-decoration:none;}
	#searchResults .category { font-size:10px; line-height:100%; text-transform:uppercase; color:#f24cae; padding:0px 0px 2px 0px;}
	/*#searchResults .category { font-size:14px; line-height:100%; color:#6f7876; background:#e8eceb; padding:6px; margin:20px 0px 15px 0px; float:left; width:456px; }*/

/*class pages...*/
/*class landing*/
#classes .intro { font-size:12px; border-bottom: none; margin:0px; padding:15px 20px 20px 20px; float:left; width:415px; }
	#classes .intro .accent02 { font-size:13px; color:#EC008C; line-height:130%; border-bottom:1px dotted #7F7F7F; padding-bottom:8px;}
	#classes .twoColWrapper {float:left; width:456px;}
	
	#classes #upcoming {margin-bottom:30px; background:url(../../images/bkgClassUpcoming.gif) repeat-y;}
	#classes #upcoming .halfLeft { float:left; width:228px;}
	#classes #upcoming .halfRt { float:left; width:228px; }
	#classes #upcoming .classPht { clear:left; padding-top:10px; }
	#classes #upcoming .content { line-height:120%; text-align:left; padding:15px 0px 0px 20px; float:left; width:200px; }
	#classes #upcoming .content .eventDate {text-align:center; color:#F466BA; padding:0px 10px 0px 0px; /*margin:0px 10px 15px 0px; */width:32px; float:left; border-right:1px solid #C0CBC9;}
	#classes #upcoming .content .eventDate .monthAbbr {font-size:14px; display:block; padding-bottom:3px; text-transform:uppercase;}
	#classes #upcoming .content .eventDate .dayNumber {font-size:27px; line-height:110%; text-transform:uppercase;}
	#classes #upcoming .content .eventDescrip {text-align:left; color:#F140A9; padding-left:10px; float:left; width:138px;}
	#classes #upcoming .content a.lnkEventName {font-size:13px; color:#F140A9; font-weight:bold; display:block; text-decoration:none;}
	#classes #upcoming .content a.lnkEventName:hover {color:#BF137A; text-decoration:none;}
	#classes #upcoming .content a.lnkAccent01 {color:#EC6CB8; text-transform:uppercase; display:block; padding-top:15px; text-decoration:none;}
	#classes #upcoming .content a.lnkAccent01:hover {color:#ea37a1; text-decoration:none;}
	#classes table.categories {line-height:105%; border-top:1px solid #CCC;}
	#classes table.categories td {border-bottom:1px solid #CCC; padding:6px 18px;}
	#classes table.categories td.lftCol {width:193px;}
	#classes table.categories td.rtCol {border-left:1px solid #CCC;}
	#classes table.categories a {color:#333132; text-decoration:none;}
	#classes table.categories a:hover {color:#EC6CB8; text-decoration:none;}
	#classes .subHead {color:#e3369c; padding-bottom:4px; float:left; width:100%;}
	#classes #featured { padding-top:40px; float:left; width:100%; }
	#classes #featured .content { float:left; width:330px; }
	#classes #featured a.lnkHead { font-size:17px; line-height:105%; color:#F24CAE; display:block; padding-bottom:8px; text-decoration:none;}
	#classes #featured a.lnkHead:hover {color:#BF137A; text-decoration:none;}
/*class detail*/
#classes .head { margin:30px 0px 10px 0px;}
	#classes .detailLft { padding-right:15px; border-right:1px solid #F9B2DC; float:left; width:312px; }
	#classes .detailLft .thmbnail {float:left; width:150px; margin:4px 15px 8px 0px;}
	#classes .detailLft .thmbnail .caption {font-size:10px; text-align:center; font-style:italic; line-height:105%; color: #999; padding:4px 0px 0px 0px; /*clear:left;*/ float:left; width:150px;}
	#classes .detailRt { line-height:145%; padding-left:5px; float:left; width:130px; }
	#classes .detailRt .content { padding-left:4px; float:left;}
	#classes .detailRt .content .labelAccent02 { display:block; padding-bottom:3px;}
	
	#classes .detailRt .content .addtoCalItem { float:left; width:100%; padding-bottom:8px; }
	.calIcon { float:right; padding-top:2px; width:15px;}
	#classes .detailRt .cost {line-height:100%; background:#E1E6E5; padding:15px 10px 1px 10px; margin-bottom:15px;}
	#classes .detailRt .cost p { margin-bottom:20px; padding-bottom:0px;}
	#classes .detailRt .cost .price { font-size:23px; }
	#classes .detailRt .cost .descrip {font-size:10px; font-style:italic; display:block; padding-top:7px;}
	#classes .testimonialWrapper {padding-top:20px; float:left; width:100%;}
	#classes .testimonial {font-size:17px; color:#e3369c; font-style:italic; line-height:110%; text-align:center; background:url(../../images/bkgClassQuote.gif) center repeat-y; width:420px; margin:0px auto;}
	#classes .testimonial .content { background:url(../../images/bkgClassQuoteMarks.gif) no-repeat top; padding:20px 35px 10px 35px; width:350px; margin:0px auto; }
	#classes .testimonial .content a.lnkAccent03Sm { display:block; padding-top:3px;}
	#classes .additionalInfo {padding-top:20px; float:left; clear:left; width:100%;}
	
	.availClasses { font-size:10px; font-weight:bold; letter-spacing:.05em; text-transform:uppercase; color:#9B9F9E; border-bottom:1px solid #9B9F9E; width:505px; margin:0px auto 5px auto;}
	.classInstanceLabels {padding:0px 5px 0px 5px;}
	.classInstance {background:#EDF1F0; padding:0px 5px 0px 5px; margin:3px 1px 0px 0px;}
	table.classInfo {line-height:104%;}
	table.classInfo .detailsSm11 {font-size:11px; color:#858A89; line-height:104%;}
	table.classInfo .detailsSm10 {font-size:10px; color:#858A89; line-height:104%;}
	table.classInfo .notes { padding:20px 0px; font-size:10px; font-style:italic; line-height:140%; text-align:left; width:390px;}
	table.classInfo td.pdRt { width:65px;}
	
	#classes .specialImg { padding:5px 8px 0px 0px;}
	#classes ul.classDetail {padding:7px 0px 11px 0px; margin:0px; list-style-type:none;}
	#classes ul.classDetail li {font-size:10px; font-style:italic; line-height:120%; padding:0px 0px 7px 15px; margin:0px; background:url(../../images/imgBulletArrowSmGry.gif) no-repeat 0px 2px;}
	#classes ul.classDetail li a {color:#333132; text-decoration: none;}
	#classes ul.classDetail li a:hover {color:#333132; text-decoration: underline;}
	
	/*class category*/
	#classCategory ul { list-style-type:none!important; float:left; width:430px; margin:0px; padding:0px 0px 0px 15px;}
	#classCategory ul li { line-height:120%; font-size:11px; padding:0px 0px 15px 15px; background:url(../../images/imgBulletArrowSmGry.gif) no-repeat 0px 3px; list-style-type:none!important;}
	a.className { font-size:14px; color:#f24cae; line-height:110%; display:block; padding-bottom:3px; text-decoration:none;}
	a.className:hover {color:#333132; text-decoration:none;}
	#classCategory .viewAllWrapper {float:left; width:100%; padding-bottom:20px;}
	#classCategory .viewAllWrapper .btnFinishReg {float:left; width:100px; margin-left:30px;}
	
	/*class curriculum*/
	.classHdr { float:left; width:100%; padding:8px 0px 8px 0px;}
	.classInstanceCurric { background:#EDF1F0; float:left; width:507px; padding:0px 11px 0px 10px; margin:3px 0px 0px 0px; }
	
	/*class payment*/
	.itemizedContainer {font-size:14px; line-height:100%; background:#e8eceb; padding:6px; margin-bottom:3px; float:left; width:456px;}
	.itemizedClass { color:#ec3ca5; padding-top:3px; float:left; width:325px; }
	.itemizedDelete { float:left; width:40px; }
	.itemizedCost, .itemizedLabCost { float:right; width:65px; }
	.itemizedHdr { font-size:10px; font-weight:bold; line-height:100%; color:#ec3ca5; padding:10px 6px 3px 0px; margin-bottom:5px; float:left; width:462px; }
	.itemizedLabDelete {float:left; width:46px; }
	.itemizedLabClass { float:left; width:100px;}
	.itemizedLabTotal { text-align:right; float:left; width:370px; padding: 0px; }
	.itemizedGrandTotal { font-size:14px; float:right; width:65px; }
	
	/*class reviews*/
	#reviews ul { font-size:13px; list-style-type:none; float:left; width:430px; margin:0px; padding:0px 0px 0px 15px;}
	#reviews ul li { line-height:120%; padding:0px 0px 15px 15px; background:url(../../images/imgBulletArrowSmGry.gif) no-repeat 0px 3px;}
	
	/*class schedule*/
	#classes .scheduleLft { padding-right:16px; margin-right:5px; border-right:1px solid #F9B2DC; float:left; width:288px; }
	#classes .scheduleLft .accent03 {color:#959494; font-weight:bold; line-height:110%;}
	#classes .scheduleRt { line-height:145%; float:left; width:158px; background:#e1e6e5;}
	#classes .scheduleRt .content { font-size:10px; color:#757a79; line-height:100%; background:#E1E6E5; padding:15px 10px 10px 10px;}
	#classes .scheduleRt input.check { float:left; width:25px;}
	#classes .scheduleRt #login { padding-bottom:20px;}
	#classes .scheduleRt #login label { display:block; padding-bottom:3px;}
	#classes .scheduleRt #login input { margin-bottom:8px; background-color:#f0f3f2; border:1px solid #bdbfbf;}
	#classes .scheduleRt a.createAccount {font-size:12px; line-height:110%; color:#cd80a7; text-decoration:none;}
	#classes .scheduleRt a.createAccount:hover {color:#9d3e6e; text-decoration:none;}
	
	#classes .scheduleLft .itemizedContainer {font-size:14px; line-height:100%; background:#e8eceb; padding:6px; margin-bottom:3px; float:left; width:276px;}
	#classes .scheduleLft .itemizedClass { color:#ec3ca5; padding-top:3px; float:left; width:165px; }
		#classes .scheduleLft .itemizedClass .dateRange { color:#333132; font-size:11px; }
	#classes .scheduleLft .itemizedDelete { float:left; width:42px; }
	#classes .scheduleLft .itemizedCost, .itemizedLabCost { float:right; width:65px; padding-top:3px;}
	#classes .scheduleLft .itemizedHdr { font-size:10px; font-weight:bold; line-height:100%; color:#ec3ca5; padding:10px 6px 3px 6px; margin-bottom:5px; float:left; width:276px; }
	#classes .scheduleLft .itemizedLabDelete { float:left; width:42px; }
	#classes .scheduleLft .itemizedLabClass { float:left; width:100px;}
	#classes .scheduleLft .itemizedLabTotal { text-align:left; float:left; width:205px; padding: 0px; }
	#classes .scheduleLft .itemizedGrandTotal { font-size:14px; float:right; width:65px; }
	.classInstance .scheduleLocation { float:left; width:158px; padding-top:3px; }
	.classInstance .upcomingTitle { font-size:15px; color:#ec3ca5; text-align:left; width:450px; padding:8px 0px 0px 0px;}
	
	a.btnFinishReg {font-size:10px; color:#FFF; line-height:100%; text-align:center; background:url(../../images/bkgButton.gif) no-repeat top right; display:block; width:100px; padding-top:3px; height:16px; text-decoration:none;}
a.btnFinishReg:hover {color:#FFF; background:url(../../images/bkgButtono.gif) no-repeat top right; text-decoration:none;}
	
	#classes .scheduleRt a.btnGry {font-size:10px; color:#FFF; line-height:100%; text-align:center; background:url(../../images/bkgButtonGry.gif) no-repeat top right; display:block; width:70px; padding-top:3px; height:16px; text-decoration:none;}
	#classes .scheduleRt a.btnGry:hover {color:#FFF; background:url(../../images/bkgButtonGryo.gif) no-repeat top right; text-decoration:none;}
	
	#classes ul.classSchedule {padding:0px; margin:0px; list-style-type:none;}
	#classes  ul.classSchedule li { font-size:12px; line-height:120%; padding:0px 0px 16px 15px; margin:0px; background:url(../../images/imgBulletArrowGryLrg.gif) no-repeat 0px 2px;}
	
	.titleGry { font-size:10px; color:#989c9b; line-height:105%; text-transform:uppercase; padding-bottom:2px; border-bottom:1px solid #989c9b; margin-bottom:6px;}
	.titleWrapper {padding:10px 30px 0px 30px; float:left; width:469px; _margin-right:-3px; /*margin-right is workaround for IE6 repeating character issue*/}
	#classes .feedbackThnks {font-size:10px; color:#EC6CB8; line-height:105%; text-transform:uppercase; display:block; border-top:2px dotted #CCC; width:75%; padding-top:3px; margin-top:4px;}
	
	
	
	
/*calendar*/
.calMonth {font-size:14px; line-height:100%; color:#6f7876; background:#e8eceb; padding:6px; margin-top:12px; float:left; width:100%; }
.calEvent {padding:12px 0px 10px 0px; float:left; width:100%;}
a.lnkEventName {font-size:16px; color:#F24CAE; line-height:105%; text-decoration:none;}
a.lnkEventName:hover {color: #BF137A; text-decoration:none;}
	

/*info library*/
table.infoLib td { line-height:120%; padding:10px; border-bottom:1px solid #d8dfde;}
/*table.infoLib td.hdrBar {color: #687170; font-size:10px; line-height:100%; font-weight:bold; text-transform:uppercase; letter-spacing:.05em; padding:3px 10px; background-color:#d8dfde;}*/
table.infoLib td.hdrBar {font-size:12px; color:#47514e; line-height:100%; text-transform:uppercase; letter-spacing:.05em; font-weight:bold; padding:4px 10px 3px 10px; background:#d1d8d6;}
table.infoLib a {color:#EC6CB8; font-size:12px; text-decoration:none;}
table.infoLib a:hover {color:#c81c81; text-decoration:none;}
table.infoLib td.icon { font-size:10px; color:#666;}
table.infoLib td.icon img { padding-bottom:8px;}
.newsIndexPrimary { font-size:12px; line-height:160%; background:#ebebec; border:1px solid #cbcdd0; padding:15px; margin:0px 0px 30px 0px; float:left; width:432px; }
#infoLibrary .twoColWrapper {float:left; width:462px; padding-bottom:30px;}
#infoLibrary .twoColWrapper .halfLeft { float:left; width:218px; padding-right:24px; }
#infoLibrary .twoColWrapper .halfRight { float:left; width:218px; }
.rss {text-align:right; float:left; width:462px;}

/*news*/
.date { font-size:10px; line-height:110%; color:#627d79;}
.relatedInfo { font-size:11px; width:80%; margin-top: 30px;}
	.relatedInfo .ttl {color: #627d79; line-height:105%; font-weight:bold; text-transform:uppercase; letter-spacing:.05em; display:block; padding:3px 0px; margin-bottom:20px; border-bottom:1px dotted #627d79;}
	.relatedInfo ul {margin:0px; list-style-type:none; padding: 0px;}
	.relatedInfo li{ font-size:10px; color:#e3369c; line-height:120%; padding:0px 0px 10px 0px;}
	
/*nested nav*/
.nestedNav { font-size:12px; float:right; width:160px; padding:0px 0px 15px 20px;}
	.nestedNav ul { padding:15px 15px 12px 15px; margin:0px; list-style-type:none; border:1px solid #CCC;}
	.nestedNav ul li { line-height:110%; padding-bottom:4px; margin-bottom:6px; border-bottom:1px dotted #000;}
	.nestedNav a {color:#EC6CB8; text-decoration:none;}
	.nestedNav a:hover {color:#e3369c; text-decoration:none;}

/*form pages*/
#forms .intro { font-size:12px; line-height:150%; border-bottom: none; margin:0px; padding:15px 20px 20px 20px; float:left; width:415px; }
#forms {font-size:10px; color:#80858E; line-height:110%;}
#forms .unit {float:left; width:100%; padding-bottom:16px;}
#forms .section { font-size:14px; line-height:100%; color:#6f7876; background:#e8eceb; padding:6px; margin-bottom:15px; float:left; width:456px; }
#forms label.title {font-size:12px; color: #666; font-weight:bold; line-height:110%; text-align:left; padding:0px 0px 12px 0px; float:left; width:100%;}
#forms label.descrip {font-size:10px; color:#80858E; line-height:110%; text-transform:uppercase; text-align:right; padding-right:10px; float:left; width:100px;}
#forms .singleField { float:left; width:100%; padding-bottom:15px;}
#forms .info { font-size:12px; line-height:110%; float:left; width:100%; padding:15px 0px 8px 0px;}

#forms input, #forms select {font-size:13px; line-height:100%; color:#535a66; border:1px solid #CCC; height:20px; width:200px;}
#forms textarea {font-size:13px; line-height:100%; color:#535a66; border:1px solid #CCC; width:300px;}
#forms .radio, #forms .checkbox {border: none; height:13px; width:auto;}
#forms textarea:focus, #forms input:focus { background:#ecf1fa;}
#forms .donateIncrmnt {width:100px;}
#forms .phone {width: auto;}

/*photo gallery*/
#phtGallery .gallHead { padding:5px; background:#e3e9e8; margin-bottom:10px; }
#phtGallery .gallHead span { font-size:14px; line-height:105%; color:#ea37a1; display:block; width:210px; }
#phtGallery .gallHead a {font-size:10px; line-height:100%; color: #FFF; text-align:center; padding:2px; width:100px; margin-left:7px; float:right; background:#b8bcc4; text-decoration:none;}
#phtGallery .gallHead a:hover {color: #FFF; background:#959ba8; text-decoration:none;}
	
#phtGallery .head { padding-bottom:20px;}
#phtGallery .head a.lnkGallSelect { color:#b1b5ba; font-size:10px; text-transform:uppercase; letter-spacing:.05em; font-weight:bold; display:block; padding:2px 0px 4px 0px; text-decoration:none;}
#phtGallery .head a.lnkGallSelect:hover { color:#797e83; text-decoration:none;}

#phtGallery .phtFeatured { margin-bottom:20px; float:left; width:100%; }
#phtGallery .phtFeatured img {border:1px solid #CCC;}
#phtGallery .phtFeatured .name { color:#EC6CB8; font-size:14px; }
#phtGallery .phtFeatured .caption { font-size:11px; color:#697A78; line-height:115%; text-align:left; font-style:normal; padding:0px 0px 8px 0px; margin:0px; float:left; width:100%; }
#phtGallery .phtFeatured .credit {font-size:9px; color:#ACAFB5; font-style:italic; line-height:105%; text-align:right; padding-top:4px; float:left; width:100%;}
#phtGallery .gallDescrip { font-size:11px; color:#697A78; line-height:115%; display:block; padding:5px 0px 0px 0px; }

#phtGallery .phtUnit { padding-bottom:35px; float:left; width:100%; }
#phtGallery .content {float:left; width:260px; padding:38px 10px 0px 30px; background:url(../../images/bkgGall.gif) repeat-x; height:100px;}
#phtGallery  a.lnkHead {font-size:13px; line-height:105%; color:#F24CAE; display:block; padding-bottom:2px; text-decoration:none;}
#phtGallery  a.lnkHead:hover {color:#BF137A; text-decoration:none;}

/*storeStyles*/
#mainCol .bkgIntStore {background:url(../../images/bkgMainStore.gif) repeat-y; float:left; width:731px;}
#mainCol .bkgIntStore .contentMainStore { float:left; width:731px;}
#mainCol .bkgIntStore .contentMainStore #titleBar {font-size:17px; color:#fbcce8; line-height:105%; background:url(../../images/bkgTitleBarStore.gif) no-repeat; padding:13px 0px 0px 14px; height:27px; float:left; width:717px;}
#mainCol .bkgIntStore .contentMainStore .contentWrapperStore {padding:15px; float:left; width:701px;}

/*locMaps*/
#locMaps .intro { font-size:12px; line-height:170%; border-bottom: none; margin:0px; padding:0px 0px 20px 0px; float:left; width:100%; }
	#locMaps .intro .title { font-size:15px; color:#697a78; line-height:100%; border-bottom:1px dotted #7F7F7F; padding-bottom:5px; margin-bottom:10px;}
	#locMaps .horizDivider {border-bottom:1px solid #f89fd4; margin:20px 0px 23px 0px; float:left; width:452px;}

	
	
/* ----- GENERAL STYLES -------------------------------------------------------------------------------------------------------------- */
/*floats*/
.floatLeft {float:left;}
.floatLeftFullWdth {float:left; width:100%;}
.floatRight {float:right;}
.floatRightFullWdth {float:right; width:100%;}
.clearLeft { clear:left;}
.floatWrapper {float:left; width:100%;}

/*links & buttons*/
a.lnkAccent01 {color:#EC6CB8; text-decoration:none;}
a.lnkAccent01:hover {color:#ea37a1; text-decoration:none;}

a.lnkAccent01SmCaps { font-size:10px; color:#EC6CB8; text-transform:uppercase; text-decoration:none;}
a.lnkAccent01SmCaps:hover {color:#EC6CB8;text-decoration:underline;}

a.lnkAccent01Lrg { font-size:16px; color:#EC6CB8; line-height:110%; display:block; padding-bottom:12px; text-decoration:none;}
a.lnkAccent01Lrg:hover {color:#ea37a1; text-decoration:none;}

a.lnkAccent02 {color:#e3369c; text-decoration:none;}
a.lnkAccent02:hover {color:#e3369c; text-decoration:underline;}

a.lnkAccent03Caps {color:#959494; text-transform:uppercase; text-decoration:none;}
a.lnkAccent03Caps:hover {color:#959494;text-decoration:underline;}

a.lnkAccent03Sm {color:#959494; font-size:10px; text-decoration:none;}
a.lnkAccent03Sm:hover {color:#959494;text-decoration:underline;}

a.btnMed {font-size:10px; color:#FFF; line-height:100%; text-align:center; background:url(../../images/bkgButton.gif) no-repeat top right; display:block; width:61px; padding-top:3px; height:16px; text-decoration:none;}
a.btnMed:hover {color:#FFF; background:url(../../images/bkgButtono.gif) no-repeat top right; text-decoration:none;}

a.btnMedWhtWide {font-size:10px; color:#ea3d94; line-height:100%; text-align:center; background:url(../../images/bkgButtonWhtWide.gif) no-repeat top right; display:block; width:100px; border-left:1px solid #fabbe0; padding-top:3px; height:15px; text-decoration:none;}
a.btnMedWhtWide:hover {color:#333132; background:url(../../images/bkgButtonWhtWide.gif) no-repeat top right; text-decoration:none;}

div.btnWhtCap { float:left; width:7px;}
div.btnWht { float:left; width: auto; height:19px; padding:5px 7px 16px 0px; }
.btnWht a {font-size:10px; color:#f24cae; font-weight:bold; text-transform:uppercase; line-height:100%; text-align:center; background:url(../../images/bkgBtnWht.gif) repeat-x; display:block; height:15px; float:left; width:auto; padding-top:4px; text-decoration:none;}
.btnWht a:hover {color: #666; text-decoration:none;}

a.lnkArchives { color:#EC6CB8; border-top:1px dotted #CCC; padding-top:5px; margin-top:10px; display:block; width:45%; text-decoration:none;}
a.lnkArchives:hover { color:#e3369c; text-decoration:none;}


/*content formatting*/
/*.head { font-size:19px; line-height:120%; color:#ea37a1; display:block; padding-bottom:2px;}
.subHead { font-size:15px; line-height:120%; color:#627d79;}*/
div.head { font-size:19px; line-height:120%; color:#ea37a1; padding-bottom:2px; float:left; width:100%;}
.head { font-size:19px; line-height:120%; color:#ea37a1; display:block; padding-bottom:2px;}
.subHead { font-size:15px; line-height:120%; color:#627d79; display:block; padding-top:8px;}
.tertHead {}
.accent01 {color:#EC6CB8;} /*light pink*/
.accent02 { color:#e3369c;} /*dark pink*/
.accent03 { color:#959494;} /*light gray*/
.accent03Sm { font-size:10px; color:#959494;}
.label { font-size:10px; color:#b4b0b3; line-height:105%; font-style:normal; text-transform:uppercase;}
.labelAccent02 { font-size:10px; color:#e3369c; font-weight:bold; font-style:normal; line-height:105%; text-transform:uppercase;}
.accent01SmallCaps { font-size:10px; color:#EC6CB8; text-transform:uppercase;}
.accent02Med { font-size:13px; color:#e3369c;}
.accent02Lrg { font-size:18px; color:#e3369c;}
.small10 { font-size:10px;}
.small11 { font-size:11px;}
.small12 { font-size:12px;}
.med14 { font-size:14px;}
.titleBarSm { font-size:10px; font-weight:bold; color:#6F7876; text-align:left; line-height:100%; height:13px; background:#E8ECEB; display:block; padding:4px 10px 0px 7px; margin-bottom:8px;}

.phtStroke { border:1px solid #CCC;}
.phtThmbLft {border:1px solid #CCC; float:left; margin:0px 20px 8px 0px;}
.phtRight { margin: 3px 0px 8px 15px; padding: 7px; border:1px solid #b0bebc; width:200px; float:right; }
.phtCaptionBox { font-size: 10px; font-style:italic; line-height: 108%; color:#FFF; text-align:center; background:#b0bebc; padding: 10px 10px 11px 10px; border-top:1px solid #FFF;}
.videoRight { margin: 3px 0px 8px 15px; padding: 7px; border:1px solid #b0bebc; width:235px; float:right; }

#mainCol .dottedDivider { height:2px; border-top:1px dotted #000; margin-top:2px; float:left; width:462px;}

