body {background: #FFF;}

.prntrFooter a, .prntrFooter a:visited {font-family:Verdana, Arial, Helvetica, sans-serif; font-size:11px; color:#FFFFFF; letter-spacing:1px; text-decoration:none;}
.prntrFooter a:hover {color:#FFFFFF; text-decoration: underline;}

#footerSimple {font-family:Arial, Helvetica, sans-serif; font-size:10px; line-height:135%; text-align:right; color:#777A7A; padding:30px 0px 0px 0px; width:955px;}

.boxes-blocks {
	list-style:none outside none;
	margin:0 -19px 26px 0;
	overflow:hidden;
	padding:0;
	width:740px;
}
.boxes-blocks li {
	list-style-type:none;
	float:left;
	margin:0 10px;
	width:223px;
}
.boxes-blocks img, .boxes-blocks span, .boxes-blocks a {
display:block;
}


.boxes-blocks li span {display:none; }

.boxes-blocks img {border:0px!important; outline:none;}

.boxes-holder .date {
	background:url("../../assets/imagesNew/bg-date.gif") no-repeat scroll 0 0 transparent;
	color:#333132;
	float:left;
	font-size:10px;
	height:42px;
	line-height:14px;
	margin:0 10px 0 0;
	padding:9px 0 0;
	text-align:center;
	width:52px;
}

.boxes-holder .date p {
margin:0 0 -3px;
}

.boxes-holder .box {
float:left;
margin:0 19px 0 15px;
width:208px;
}

.boxes-holder .date span {
	display:block;
	font-size:19px;
	line-height:20px;
}
.boxes-holder h2 {
color:#333132;
font-size:12px;
font-weight:bold;
line-height:11px;
}
.boxes-holder .title-block-holder .view {
overflow:hidden;
width:100%; }

.boxes-holder .title-block-holder .view a {
background:url("../../assets/imagesNew/bg-view.gif") no-repeat scroll 100% 7px transparent;
color:#D93C99;
float:left;
font-style:italic;
padding:0 9px 1px 0;
}

.boxes-holder .title-block {
background:url("../../assets/imagesNew/bg-boxes-title.gif") no-repeat scroll 2px 100% transparent;
margin:0 0 26px;
min-height:73px;
overflow:hidden;
padding:0 0 5px;
width:100%;
}

.boxes-holder .title-block-holder p {
margin:0;
}
.boxes-holder .title-block-holder {
color:#333132;
float:left;
font-size:11px;
line-height:14px;
width:140px;
}