body {
  margin: 20px;
  padding:0px;
  font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
  font-size:11px;
  color:#333132;
  line-height: 155%;
}
input,select,textarea { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#333132; }
a { color:#333132; text-decoration: underline;}
a:hover { color:#333132; text-decoration: none;}
.head { font-size:19px; line-height:120%; color:#ea37a1; display:block; padding-bottom:2px;}

.subhead { font-size:15px; line-height:120%; color:#627d79;}

.accent01 {color:#EC6CB8;} /*light pink*/

.accent02 { color:#e3369c;} /*dark pink*/

.accent03 { color:#959494;} /*light gray*/

.small10 { font-size:10px;}
.small12 { font-size:12px;}
.med14 { font-size:14px;}

a.btnMed {font-size:10px; color:#FFF; line-height:100%; text-align:center; background:url(../../images/bkgButton.gif) no-repeat top right; display:block; padding-top:4px; width:80px; height:18px; text-decoration:none;}
a.btnMed:hover {color:#FFF; background:url(../../images/bkgButtono.gif) no-repeat top right; text-decoration:none;}

#popupWrapper { padding:20px 0px; }