body {background:none;}
#header,
#footer,
#sidebar,
.boxes-holder .title-block-holder .view,
.letter-box-frame,
.social,
.logo,
.gallery {display:none;}
.block-inner,
#wrapper,
.boxes-holder .title-block,
.boxes-holder .date {background:none;}
.image-logo {
	display:block;
	position:absolute;
	left:50%;
	top:0;
	margin:0 0 0 -64px;
}
.image-logo img {display:block;}
#main {
	width:100%;
	padding:171px 0 0;
}
#content {
	width:100%;
	float:none;
	margin:0;
	padding:0;
}
#main .block,
#main .block-holder,
#main .block-frame {
	background:none;
	padding:0;
	width:100%;
}
#main .boxes,
#main .boxes-blocks {
	width:100%;
	margin:0;
	background:none;
}
.boxes-blocks li {
	width:32%;
	margin:0 0 0 1%;
}
.boxes-holder {
	width:100%;
	margin:0;
	padding:0;
}
.boxes-holder .box {
	width:32%;
	margin:0 0 0 1%;
}
.boxes-holder .title-block-holder {
	width:auto;
	height:1%;
	overflow:hidden;
}