body,td {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#333132; line-height: 155%;}

.body-text {font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:11px; color:#333132; line-height: 155%;}

a {color:#333132; text-decoration: none;}
a:hover {color:#333132; text-decoration:underline;}

a.cta{text-decoration:none;font-weight:normal;}
a.cta:hover{text-decoration:none;font-weight:normal;}

.head { font-size:19px; line-height:120%; color:#ea37a1; display:block; margin:6px 0 6px;}
h1 { font-size:19px; line-height:120%; color:#ea37a1; display:block; margin:6px 0 6px;}

.subhead { font-size:15px; line-height:120%; color:#627d79;margin:6px 0 6px;}
h2 {font-size:15px; color:#697A78; line-height:140%;margin:6px 0 6px;}



#cta-main-left {
  margin:0px 10px 0px;
  float:left;
}

#cta-main-right {
  margin:0px 10px 0px;
  float:right;
}

#cta-main-standard {
  margin:0px 10px 0px;
  float:none;
}

#cta-pinkbox {

border-style:solid;
border-width:1px;
border-color:#BA0063;
border-radius:10px;
width:220px;
background-color:#EC008C;
padding:8px;

}

#cta-pinkbox:hover {

border-style:solid;
border-width:1px;
border-color:#BA0063;
border-radius:10px;
width:220px;
background-color:#BE0071;
padding:8px;

}

#cta-p1a {

margin:0px 0px 4px;
text-align:center;
font-family:"Trebuchet MS", Helvetica, sans-serif;
color:#FFFFFF;
font-size:20px;
font-weight:normal;

}

#cta-p1b {

margin:4px 0px 4px;
text-align:center;
font-family:"Trebuchet MS", Helvetica, sans-serif;
color:#FFFFFF;
font-size:16px;
font-weight:normal;


}

#cta-p2 {

margin:4px 0px 0px;
text-align:center;
font-family:"Trebuchet MS", Helvetica, sans-serif;
color:#FFFFFF;
font-size:28px;
font-weight:bold;
text-shadow:#CC0066 1px 1px 1px;

}


#cta-p3 {

margin:2px 0px 0px;
text-align:center;
font-family:"Trebuchet MS", Helvetica, sans-serif;
color:#959494;
font-size:18px;
font-style:italic;
line-height:120%;

}

#cta-whitebox {

width:220px;
padding:8px;

}



/*
.contentWrapperSbhm .intro { font-size:15px; color:#697A78; line-height:140%; border-bottom:1px dotted #7F7F7F; margin:0px 0px 30px 50px; _margin:0px 0px 30px 25px; padding:15px 0px 25px 0px; float:left; width:415px;}
*/



.accent01 {color:#EC6CB8;} /*light pink*/

.accent02 { color:#e3369c;} /*dark pink*/

.accent03 { color:#959494;} /*light gray*/

.italic-title {font-size:13px; color:#f57fc5; line-height:105%; font-style:italic; display:block; margin-bottom:5px;}

a.weblink-no-underline { color:#333132; text-decoration: none;}

.image-padding-top-right {padding:5px 8px 0px 0px;}

.wysiwyg-body-list-item {line-height:120%;padding: 0px 0px 14px 0px;margin: 0;}

.wysiwyg-pht-caption-box {font-family:Arial, Helvetica, sans-serif;font-size: 10px;line-height: 112%;color:#FFFFFF;}

.wysiwyg-dotted-under-ttl {color:#215F97;font-size:20px;display:block;border-bottom:1px dotted #666666;margin-bottom:15px;padding-bottom:5px;}

.wysiwyg-reversed-bold {background-color:#666666;font-weight:bold;color:#FFFFFF;}

.wysiwyg-dotted-under-ttl {color:#215F97;font-size:20px;display:block;border-bottom:1px dotted #666666;margin-bottom:15px;padding-bottom:5px;}

.wysiwyg-anchor-links {padding:20px 0px 10px 0px;margin:30px 0px;border-top:1px solid #bfc5c8;border-bottom:1px solid #bfc5c8;}

.wysiwyg-anchor-links a, .wysiwyg-anchor-links a:link, .wysiwyg-anchor-links a:visited
  {font-size:12px; color:#BA8B00; font-weight:bold; line-height:108%; display:block; padding-bottom:10px; text-decoration:none;}
.wysiwyg-anchor-links a:hover {color:#BA8B00; text-decoration:none;}

.wysiwyg-pht-center {text-align:center;width:400px;}

.wysiwyg-dotted-divider {border-top:1px dotted #979A9F;margin-top:20px;padding-bottom:20px;}

.wysiwyg-subbar {font-weight:bold;line-height:108%;background:#ebebec;padding:4px 6px;display:block;margin:20px 0px 10px 0px;width:80%;}

.wysiwyg-nested-nav { font-size:12px; float:right; width:160px; padding:0px 0px 15px 20px;}
.wysiwyg-nested-nav ul { padding:15px 15px 12px 15px; margin:0px; list-style-type:none; border:1px solid #CCC;}
.wysiwyg-nested-nav ul li { line-height:110%; padding-bottom:4px; margin-bottom:6px; border-bottom:1px dotted #000;}
.wysiwyg-nested-nav a {color:#EC6CB8; text-decoration:none;}
.wysiwyg-nested-nav a:hover {color:#e3369c; text-decoration:none;}