body { font-family:"Trebuchet MS", Arial, Helvetica, sans-serif; font-size:12px; color:#80858E; line-height:110%;}

.intro { font-size:12px; line-height:150%; border-bottom: none; margin:0px; padding:15px 20px 20px 20px; float:left; width:415px; }

.section { font-size:14px; line-height:100%; color:#6f7876; background:#e8eceb; padding:6px; margin-bottom:15px; float:left; width:456px; }

.title {font-size:10px; color:#EC6CB8; font-weight:bold; line-height:110%; text-transform:uppercase; text-align:left; padding:0px 0px 5px 0px; float:left; width:100%;}

.info { font-size:12px; line-height:110%; float:left; width:100%; padding:15px 0px 8px 0px;}