.body {font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#333132;}
.body-text {font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#333132; line-height:120%;}
.web-link {font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:11px; color:#ec008c; line-height:110%; text-decoration:none;}
.head {font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:22px; color:#ec008c; line-height:110%; text-decoration:none;}
.subhead {font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:12px; font-weight:bold; color:#56716d; line-height:105%;}
.accent01 {font-family:'Trebuchet MS', Arial, Helvetica, sans-serif; font-size:13px; color:#7d8483; line-height:130%;}