<!--==================== Module: Physician Directory: Directory PDF =============================-->
<div class="module-pd-directorypdf right">
    <a href="#" class="pdf-link">Download Entire Directory (PDF)</a>
</div>
<!--==================== /Module: Physician Directory: Directory PDF =============================-->
