<!--==================== Module: Physician Directory: Download PDF =============================-->
<div class="module-pd-downloadpdf right">
    <a href="#" class="pdf-link">Download Search Results (PDF)</a>
</div>
<!--==================== /Module: Physician Directory: Download PDF =============================-->


